.selector .selector-available, .selector .selector-chosen {width:365px;}
/*.valutazione {width:700px !important;}*/
div.c-1:has(.inline) {display: none !important;} /* nuova implementazione 2022 *//
.grp-cell div.grp-readonly {max-width:600px !important;}
.valutazione >.c2 >.grp-readonly {max-width:800px !important;}
#delete_id_categoriaIstanza {display: none;}
#add_id_categoriaIstanza {display: none;}
.grp-cell div.grp-readonly {width: unset !important; max-width: unset !important;}