{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% load has_group %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css">
{% endblock %}
{% block custom_style_inline %}
{{ block.super }}

#correlazione_check.focus { background-color:unset } 

.clipboard {display:none;}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}

.tooltip-static:before {
  border-top-color: #ffcc33;
}

.ol-popup {padding: unset;width:300px;}
.ol-popup-closer {font-size:100%;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding-right:25px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size:80%;
} 

.ol-popup-closer {
	top: -22px;
	right: 0px;
  padding: 0 3px;
	background-color: white;
}

.pptable {
  width: 100%;
}

.pptable {
  width: 100%;
}

.pptable th {
  vertical-align: top;
}

.pptablehead {
  width: 40%;
}

.pptablerow:nth-child(odd) {
    background-color: #eeeeee;
}

.pptablerow:first-child th {
    background-color: #cccccc;
}

.pptablerow:first-child td {
    background-color: #cccccc;
}

.pptabledata {
  width: 60%;
  padding: 2px;
  overflow: hidden;
  word-wrap: anywhere;
}

/* Style the button on map content */
.togglemap {
  top: 10px;
  right: .5em;
}
.snapcatasto {
  bottom: 10px;
  right: .5em;
}

.ol-control{position:absolute;background-color:rgba(255,255,255,.4);border-radius:4px;padding:2px}
.ol-control:hover{background-color:rgba(255,255,255,.6)}

.ol-control button {
  display: block;
  margin: 1px;
  padding: 0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: inherit;
  text-align: center;
  min-height: 1.375em;
  min-width: 1.375em;
  line-height: .4em;
  background-color: rgba(0,60,136,0.5);
  border: none;
  border-radius: 2px;
}
.ol-control button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.modal-xl {
    max-width: 1340px !important;
}
.modal-dialog {
    width: unset !important;
}

#progress {
  background: transparent url("/static/warp/ajax-loader.gif") no-repeat center;
  width: 33px;
  height: 34px;
}

{% endblock %}
{% block custom_js %}
{{ block.super }}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://unpkg.com/ol-popup@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script type="text/javascript">

{% localize off %}
var targetExtent = [1716014, 5023919, 1737137, 5038662];
{% endlocalize %}

var shifted = false;
var rotating = false
var ricalcoloIncorso = false
{% if area_estesa %}var area_estesa = true{% else %}var area_estesa = false{% endif %}

var map_sx;
var particelleFeatures, particelleOverlay, fabbricatiFeatures, fabbricatiOverlay, targetOverlay; 
var snapOverlay,snapFeats;
var toggleSnapButton; 
var last_cc
{% if table%}var table = '{{ table|escapejs }}';{% endif %}

{% if cartaweb %}
var cartaweb = {{ cartaweb|safe }}
{% endif %}

proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +towgs84=-104.1,-49.1,-9.9,0.971,-2.917,0.714,-11.68 +units=m +no_defs");
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var UTM33Extent = [166021.4431, 0.0000, 833978.5569, 9329005.1825];
proj4.defs('EPSG:32633', '+proj=utm +zone=33 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM33proj = new ol.proj.Projection({
    code: 'EPSG:32633',
    extent: UTM33Extent
});
ol.proj.addProjection(UTM33Extent);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

var geoJson_convertitore = new ol.format.GeoJSON();

var WKT_convertitore = new ol.format.WKT();

var measure;
var measure_source = new ol.source.Vector();
var measureTooltipElement;
var measureTooltip;

var EsriJSON_convertitore = new ol.format.EsriJSON ();
var dragInteraction, dotInteraction, snapInteraction, selectInteraction, modifyInteraction, drawInteraction, allInteractions
var scheda_ko_msg;

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var pk;

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function getWKT(vector_layer){
    var features = vector_layer.getSource().getFeatures();
    if (features.length > 0) {
        var feature = features[0];
        var geometry = feature.getGeometry();
        var wkt = WKT_convertitore.writeGeometry(geometry);
        return wkt
    } else {
        return undefined
    }
}

function getESRIJSON(vector_layer){
    var features = vector_layer.getSource().getFeatures();
    if (features.length > 0) {
        var feature = features[0];
        var geometry = feature.getGeometry();
        var esri = EsriJSON_convertitore.writeGeometry(geometry);
        return esri
    } else {
        return undefined
    }
}

function ricercaMappali() {
      let cc
      if (last_cc){
        cc = last_cc
      } else {
        cc = $('#coordinateCatastali').val()

        if (cc.toUpperCase().startsWith("MULTIPOLY") || cc.toUpperCase().startsWith("POLY")){

            var jsonData = {filtro_wkt: cc,correlazione: $('#correlazione_check').hasClass('active')};
            
            $.ajax({
                url: '/certificati/cerca_mappali/',
                type: 'POST',
                data: JSON.stringify(jsonData),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function(payload) {
                    console.log(payload.mappali)
                    const cc_obj = {}
                    payload.mappali.forEach(function(item,index,array){
                      if (this.hasOwnProperty(item[0])){
                        this[item[0]].push(item[1])
                      } else {
                        this[item[0]] = [item[1]]
                      }
                    }, cc_obj)
                    this.ncc = ""
                    for (const [key, value] of Object.entries(cc_obj)) {
                      this.ncc += key
                      this.ncc += "/"
                      value.forEach(function(item,index,array){
                        this.ncc += item
                        this.ncc += "-"
                      }, this)
                      this.ncc = this.ncc.slice(0, -1) + " "
                    }
                    console.log(this.ncc)
                    cc = this.ncc.trim();
                }
            });
          }
      }
      let correlazione_val = $('#correlazione_check').hasClass('active') ? "enabled" : "disabled"
      let form = '<input type="hidden" name="coordinateCatastali" value="'+cc+'">';
      form += '<input type="hidden" name="correlazione" value="' + correlazione_val + '">';
      form += '<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">';
      $('<form action="/certificati/mappali/" method="POST">'+form+'</form>').appendTo('body').submit();
}

function getGeoPostData(){
    return {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        poligono: JSON.stringify(getWKT(particelleOverlay))
    }
}

var wms_rapper, getf_popup, popup_data; 

function listPopup(json,mapname) {
  if (json instanceof String) {
    popup_data = JSON.parse(json)
  } else {
    popup_data = json
  }
  let table = '<table class="pptable"><tbody>'
  for (let [k, v] of Object.entries(popup_data)) { 
    table += '<tr class="pptablerow"><td class="pptabledata"><a href="#" onclick="popup_props(\''+k+'\',\''+mapname+'\')">'+k+'</a></tr>'
  }
  table += '</tbody></table>'
  let panel = document.createElement('div')
  panel.setAttribute('class', 'panelcontainer')
  panel.innerHTML = table
  return panel
}

function popup_props(identify_key,mapname) {
  const identify_item = popup_data[identify_key]
  if (identify_item.url) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const pp = tabbedPopup(xhttp.responseText)
            if ( pp ) { getf_popup[window.mapname].show(identify_item.coords, pp) }
        }
    };
    xhttp.open("GET", identify_item.url, true);
    xhttp.send();
  }
}

function acquisisci(wkt) {
  const feat = WKT_convertitore.readFeature(wkt)
  particelleOverlay.getSource().clear()
  particelleOverlay.getSource().addFeature(feat)
  $('#coordinateCatastali').val(wkt)
  resetPannello()
}

function tabbedPopup (json) {
  let data = JSON.parse(json)
  let popup_data = data.features ?? data.results

  const popup_layers = {}

  if ( Object.keys(popup_data).length == 0 ) return undefined

  for (const layer of popup_data) {
    const wms_layer = layer.layerName ?? layer.id.split('.')[0]
    let table = '<table class="pptable"><tbody>'
    let lastrow = ''
    let layer_props = layer.properties ?? layer.attributes
    for (let [k, v] of Object.entries(layer_props)) { 
      if (k == 'link') {
        k = ""
        lastrow += '<a href="' + v + '" target="_blank"><strong>LINK</strong><br/></a>'
      } else if (k == 'PDF_CONTRATTI') {
        k = ""
        lastrow += '<a href="https://oscar.comune.padova.it/viewer/website/pdf/' + v + '" target="_blank"><strong>SCARICA ATTO</strong><br/></a>'
      } else {
        table += '<tr class="pptablerow"><th class="pptablehead">'+k+'</th><td class="pptabledata">'+ (v ? v.toString() : "") +'</td></tr>'
      } 
    }
    if (layer.geometry) {
      let geom
      if (layer.geometryType ) {
        geom = EsriJSON_convertitore.readGeometry(layer.geometry)
      } else {
        geom = geoJson_convertitore.readGeometry(layer.geometry)
      }
      let wkt_geom = WKT_convertitore.writeGeometry(geom)
      console.log("wkt_geom", wkt_geom)
      lastrow += '<a href="#" onclick="acquisisci(\''+wkt_geom+'\')"><strong>ACQUISISCI GEOMETRIA</strong><br/></a>'
    }
    if (lastrow) {
      table += '<tr class="pptablerow"><th class="pptablehead"></th><td class="pptabledata">'+ lastrow +'</td></tr>'
    }
    table += '</tbody></table>'
    if (popup_layers[wms_layer]) {
      popup_layers[wms_layer].push(table)
    } else {
      popup_layers[wms_layer] = [table]
    }
  }

  if ( Object.keys(popup_layers).length == 0 ) return undefined

  let panel_menu = document.createElement('div')
  panel_menu.setAttribute('class', 'tab')
  let active = true
  for (const [key, value] of Object.entries(popup_layers)) {
    let elclass = 'tablinks'
    if (active) { 
      elclass += ' active'
      active = false
    }
    let newItem = document.createElement('button')
    newItem.setAttribute('class', elclass)
    newItem.setAttribute('id',"_"+key)
    newItem.setAttribute('onclick', "openTab('"+ key +"')")
    newItem.innerText = value.length.toString() > 1 ? key + ':' + value.length.toString() : key
    panel_menu.appendChild(newItem)
  }
  let panel_tabs = document.createElement('div')
  panel_tabs.setAttribute('class', 'tabcontainer')
  active = true
  for (const [key, value] of Object.entries(popup_layers)) {
    let elclass = 'tabcontent'
    let elstyle = 'display:none;'
    if (active) { 
      elclass += ' active'
      elstyle = 'display:block;'
      active = false
    }
    let newItem = document.createElement('div')
    newItem.setAttribute('id', key)
    newItem.setAttribute('style', elstyle)
    newItem.setAttribute('class', elclass)
    let tab_item = ''
    for (const table_item of value) {
      tab_item += (table_item)
      tab_item += ('<br/>')
    }
    newItem.innerHTML = tab_item
    panel_tabs.appendChild(newItem)
  }
  let panel = document.createElement('div')
  panel.setAttribute('class', 'panelcontainer')
  panel.appendChild(panel_menu)
  panel.appendChild(panel_tabs)
  return panel
}


function openTab(tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  document.getElementById("_"+tabName).className += " active";
} 

function salva() {
    if (document.getElementById('segnalazione').value == '') {
      $("#segnalazione_control").addClass("has-error")
      return
    } else {
      $("#segnalazione_control").removeClass("has-error")
    }

    let poligono = ''
    let cc = ''

    if ( !document.getElementById('non_salvare_geom').checked ) {
      cc = $('#coordinateCatastali').val()
      
      if ( cc.toUpperCase().startsWith("MULTIPOLY") || cc.toUpperCase().startsWith("POLY") ) {
        cc = last_cc ? last_cc : ''
        poligono = $('#coordinateCatastali').val()
      } 
    }

    $.ajax({
          type: "POST",
          url: "/repertorio/segnalazione/",
          data: {
            coordinateCatastali: cc,
            segnalazione: document.getElementById('segnalazione').value,
            poligono: poligono
          },
          success: function(data){
              $('#adminLink').show()
              $('#adminLink').attr( "href", "/admin/repertorio/repertorioistanze/" + data.pk + "/change/" );
              $('#salva').hide()
          }
    });
    $( "#temp" ).remove()
}

function scheda() {
    if (pk != undefined) {
      window.open("/admin/repertorio/repertorioistanze/" + pk + "/change/", '_blank').focus()
    }
}

function salvaPromemoria() {
    let error = false
    if (document.getElementById('promemoria_titolo').value == '') {
      $("#promemoria_titolo_control").addClass("has-error")
      error = true
    } else {
      $("#promemoria_titolo_control").removeClass("has-error")
    }
    if (document.getElementById('promemoria_link').value == '') {
      $("#promemoria_link_control").addClass("has-error")
      error = true
    } else {
      $("#promemoria_link_control").removeClass("has-error")
    }
    if (error) return

    let poligono = ''
    let cc = $('#coordinateCatastali').val()

    if ( cc.toUpperCase().startsWith("MULTIPOLY") || cc.toUpperCase().startsWith("POLY") ) {
      cc = last_cc ? last_cc : ''
      poligono = $('#coordinateCatastali').val()
    } 

    $.ajax({
          type: "POST",
          url: "/pua/promemoria/",
          data: {
            coordinateCatastali: cc,
            link: document.getElementById('promemoria_link').value.replace('"',''),
            titolo: document.getElementById('promemoria_titolo').value,
            descrizione: document.getElementById('promemoria_text').value,
            poligono: poligono
          },
          success: function(data){
              $('#promemoriaLink').show()
              $('#promemoriaLink').attr( "href", "/admin/pua/pua/" + data.pk + "/change/" );
              $('#salvaPromemoria').hide()
          }
    });
    $( "#temp" ).remove()
}

function promemoria() {
    if (pk != undefined) {
      window.open("/admin/pua/pua/" + pk + "/change/", '_blank').focus()
    }
}

function resetPannello () {
    $('#permalink').hide();
    $('#ricalcola').trigger( "click" );
    $("#segnalazione").val("")
    $('#adminLink').hide();
    $('#salva').show();
}

function removeInteractions() {
  [
    dragInteraction,
    dotInteraction,
    selectInteraction,
    modifyInteraction,
  ].forEach(interaction => {
    map_sx.removeInteraction(interaction);
    map_dx.removeInteraction(interaction);
  });
}

function enableInteractions(interactions) {
  selectInteraction.getFeatures().clear()
  allInteractions.forEach(interaction => {
    interaction.setActive(false)
  });
  interactions.forEach(i => {
    i.setActive(true)
  });
}

function controlInteractions(interaction){
    console.log(interaction.getActive())
}

function addInteractions(interactions) {
  interactions.forEach(interaction => {
    map_dx.addInteraction(interaction);
    map_sx.addInteraction(interaction);
  });
}

function setUpInteractions() {
  dotInteraction = new ol.interaction.Draw({
      source: targetOverlay,
      type: 'Point'
  });
  drawInteraction = new ol.interaction.Draw({
    source: particelleOverlay.getSource(),
    type: 'Polygon'
  }),
  dragInteraction = new app.Drag()
  selectInteraction = new ol.interaction.Select();
  modifyInteraction = new ol.interaction.Modify({
    features: selectInteraction.getFeatures()
  });
  
  var params = {}
  snapInteraction = new ol.interaction.Snap({features: snapFeats})
  snap2measures = new ol.interaction.Snap({source: measure_source});
  createMeasureTooltip();
  allInteractions = [dotInteraction, drawInteraction, selectInteraction, modifyInteraction ,snapInteraction, dragInteraction, measureInteraction, snap2measures]
  addInteractions(allInteractions)
  
  toggleSnapButton.element.style.display = "none"
  enableInteractions([]) //disabling all interactions
  
}

$(document).ready(function(){
    
    $("#adminLink").hide()
    $("#promemoriaLink").hide()

    $('#correlazione_check').click(function(eventObj) {
        //$("#correlazione_check").removeClass("focus")
        if ( $("#correlazione_check").hasClass("active") ) {
          $("#correlazione").val("disabled")
        } else {
          $("#correlazione").val("enabled")
        }
        $('form').submit()
    })

    $('#goto_mappali').click(function(eventObj) {
        window.location.href="/certificati/mappali/"
    })

    $('#permalink').click(function(eventObj) {
      let query = "?coordinateCatastali=" + $('#coordinateCatastali').val().toUpperCase()
      if ($('#coordinateCatastali').val().toUpperCase().startsWith("MULTI")||$('#coordinateCatastali').val().toUpperCase().startsWith("POLY")) {
        query = "?geometria=" + $('#coordinateCatastali').val()
      }
      const cc = window.location.protocol + "//" + window.location.hostname + ":" + window.location.port + window.location.pathname + encodeURI(query)
      var textArea = document.createElement("textarea");
      textArea.value = cc;
      textArea.id = 'clipboard';
      document.body.appendChild(textArea);
      textArea.select();
      var successful = document.execCommand('copy');
      document.getElementById("clipboard").remove();
      if (successful){
          alert ("PERMALINK COPIATO NEGLI APPUNTI: " + cc);
      } else {
          alert ("PERMALINK NON COPIATO: " + cc);
      }
    })

    // funzione per intecettare invio della form ed aggiungere alcuni campi prima del submit
    $('#ricalcola').click(function(eventObj) {

        if ( !ricalcoloIncorso ) {
          
          $('#scheda').removeClass("hidden")
          $('#scheda_download').addClass("hidden")
          $('#scheda_ko').addClass("hidden")

          ricalcoloIncorso = true
          setTimeout(() => {
            var jsonData = getGeoPostData();
            $('#destinazioni').html('<div class="" id="progress"></div>');
            $('#destinazioni_new').html('<div class="" id="progress"></div>');
            $.ajax({
                url: '/certificati/ricalcola/',
                type: 'POST',
                data: JSON.stringify(jsonData),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                success: function(payload) {
                    table = payload.table;
                    $('#destinazioni').html(table);

                    jsonData.temi="PI2030,ISOVALORE"

                    $.ajax({
                        url: '/certificati/ricalcola/',
                        type: 'POST',
                        data: JSON.stringify(jsonData),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        async: true,
                        success: function(payload) {
                            table = payload.table;
                            area_estesa = payload.area_estesa
                            $('#destinazioni_new').html(table);
                            $("#destinazioni > #riferimenti_incrociati").remove()
                            ricalcoloIncorso = false
                        }
                    });
                }
            });
          },500)
        }
    });

    $('.export' ).click( function(event) {
        var jsonData = getGeoPostData();
        jsonData.formato = event.target.id;

        if (jsonData.formato == 'wkt') {
            var textArea = document.createElement("textarea");
            textArea.value = jsonData.poligono.replace(/"/g,'');
            textArea.id = 'clipboard';
            document.body.appendChild(textArea);
            textArea.select();
            var successful = document.execCommand('copy');
            document.getElementById("clipboard").remove();
            if (successful){
                alert ("GEOMETRIA WKT COPIATA NEGLI APPUNTI: " + jsonData.poligono);
            } else {
                alert ("GEOMETRIA WKT NON COPIATA: " + jsonData.poligono.replace(/"/g,''));
            }

        } else {
            $.ajax({
                url: '/certificati/export/',
                type: 'POST',
                data: JSON.stringify(jsonData),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                error: function(xhr, textStatus, thrownError) {
                    alert(xhr.responseText);
                },
                success: function(payload) {
                        $("<a />", {
                            "download": "export."+jsonData.formato,
                            "href" : payload.download_url
                            }).appendTo("body")
                            .click(function() {
                             $(this).remove()
                            })[0].click()
                        }
            });
        }
    });

    $('#salva').click( function(event) {
        if ($('#segnalazione').val() != '' ) {
            salva()
        } else {
          $('#segnalazione').addClass('is-invalid')
          $('#segnalazione').attr("placeholder", "Inserire il testo della segnalazione prima di salvare");
        }
    })

    $('#scheda' ).click( function(event) {
        let titolo = $('#coordinateCatastali').val()
        if ( titolo.toUpperCase().startsWith("MULTI") ) {
          titolo = "scheda"
        }
        var scheda_url = "/certificati/individuazione/?wkt=" + getWKT(particelleOverlay) + "&callback=true&titolo=" + titolo
        $('#progress').removeClass("hidden")
        $('#scheda').addClass("hidden")
        $.ajax({
                url: scheda_url,
                type: 'GET',
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: true,
                error: function(xhr, textStatus, thrownError) {
                    console.log(xhr.responseText);
                    $('#progress').addClass("hidden")
                    $('#scheda_ko').removeClass("hidden")
                    scheda_ko_msg = xhr.responseText
                },
                success: function(payload) {
                        
                        $('#progress').addClass("hidden")
                        console.log("callback", payload)
                        if (payload.callback != "ERROR") {
                          $('#scheda_download').prop("href", payload.callback)
                          $('#scheda_download').removeClass("hidden")
                        } else {
                          $('#scheda_ko').removeClass("hidden")
                          scheda_ko_msg = payload.result
                        }
                }

                        /*
                        $("<a />", {
                            "download": "scheda_individuazione.pdf",
                            "href" : payload.callback
                            }).appendTo("body")
                            .click(function() {
                             $(this).remove()
                            })[0].click()
                        }*/
            });

    });

    $('#scheda_ko' ).click( function(event) {
      alert(scheda_ko_msg);
    })

    $('#info' ).click( function(event) {
        $("#dot").removeClass("active")
        $("#measure").removeClass("active")
        $("#edit").removeClass("active")
        $("#move").removeClass("active")
        enableInteractions([])
    })

    $('#edit' ).click( function(event) {
        $("#dot").removeClass("active")
        $("#measure").removeClass("active")
        $("#info").removeClass("active")
        $("#move").removeClass("active")
        setTimeout(() => {
          if ($("#edit").hasClass("active")) {
              console.log("edit active")
              toggleSnapButton.element.style.display = "block"
              enableInteractions([selectInteraction, modifyInteraction, snapInteraction, snap2measures]);
          } else {
              console.log("edit no active")
              toggleSnapButton.element.style.display = "none"
              enableInteractions([]);
          }
        },50)
    })

    $('#measure' ).click( function(event) {
        $("#edit").removeClass("active")
        $("#move").removeClass("active")
        $("#info").removeClass("active")
        $("#dot").removeClass("active")
        setTimeout(() => {
          if ($("#measure").hasClass("active")) {
              console.log("measure active")
              enableInteractions([snapInteraction, snap2measures, measureInteraction]); 
          } else {
              console.log("measure no active")
              enableInteractions([]);
          }
        },50)
    })

    $('#dot' ).click( function(event) {
        $("#edit").removeClass("active")
        $("#measure").removeClass("active")
        $("#info").removeClass("active")
        $("#move").removeClass("active")
        setTimeout(() => {
          if ($("#dot").hasClass("active")) {
              console.log("dot active")
              enableInteractions([dotInteraction]);
          } else {
              console.log("dot no active")
              enableInteractions([]);
          }
        },50)
    })

    $('#move' ).click( function(event) {
        $("#edit").removeClass("active")
        $("#measure").removeClass("active")
        $("#info").removeClass("active")
        $("#dot").removeClass("active")
        setTimeout(() => {
          if ($("#move").hasClass("active")) {
              console.log("move active")
              enableInteractions([dragInteraction]);
          } else {
              console.log("move no active")
              enableInteractions([]);
          }
        },50)
    })

    $('#sv' ).click( function(event) {
        var sv_url = "/certificati/gsv/?wkt=" + getWKT(particelleOverlay)
        $("<a />", {"target": "_blank",
                    "href" : sv_url
                    }).appendTo("body")
                    .click(function() {
                      $(this).remove()
                    })[0].click()
    });

    $('#pdf' ).click( function(event) {

        function keep_layer_to_print (layer2p) {
            if (layer2p.getVisible()){
                visible_layers.push(layer2p.get('title'));
            }
        }

        var print_request = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            particelle: $('#coordinateCatastali').val(),
            WKT: getWKT(particelleOverlay),
            ESRIJSON: getESRIJSON(particelleOverlay),
            destinazioni: table
        }

        var visible_layers = [];
        var items = map_sx.getLayers();
        for (var i=0, l=items.getLength(); i<l; i++) {
            var item = items.item(i);
            if (item instanceof ol.layer.Group) {
                var groupLayers = item.getLayers();
                for (var k=0, gl=groupLayers.getLength(); k<gl; k++) {
                    layer = groupLayers.item(k);
                    keep_layer_to_print(layer);
                }
            } else {
                keep_layer_to_print(item);
            }
        }
        print_request.visible_layers = visible_layers;


        $.ajax({
            url: '/certificati/stampa_ricerca_mappali/',
            type: 'POST',
            data: JSON.stringify(print_request),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            error: function(xhr, textStatus, thrownError) {
                alert(xhr.responseText);
            },
            success: function(payload) {
                    $("<a />", {
                        "download": "stampa_ricerca_mappali.pdf",
                        "href" : payload.download_url
                        }).appendTo("body")
                        .click(function() {
                         $(this).remove()
                        })[0].click()
                    }
        });
    });

    $('#cdu' ).click( function(event) {
        let cc = $("#coordinateCatastali").val().toUpperCase()
        let wkt_query
        let correlazione = $('#correlazione_check').hasClass('active')
        if (correlazione || cc.startsWith("MULTI") || cc.startsWith("POLY")) {
          if ( last_cc ){
            cc = last_cc
          }
          wkt_query = "?wkt_geom=" + getWKT(particelleOverlay)
        } else {
          wkt_query = "?"
        }
        const sv_url = "/certificati/new/cd/" + wkt_query + "&coordinate_catastali=" + cc
        $("<a />", {"target": "_blank",
                    "href" : sv_url
                    }).appendTo("body")
                    .click(function() {
                      $(this).remove()
                    })[0].click()
    });

    $(document).on('keyup keydown', function(e){
        shifted = e.shiftKey;
        if (rotating && ! shifted){rotating = false}
    });

    console.log('doc ready');
});


window.app = {};
var app = window.app;

/**
 * @constructor
 * @extends {ol.interaction.Pointer}
 */
app.Drag = function() {

  ol.interaction.Pointer.call(this, {
    handleDownEvent: app.Drag.prototype.handleDownEvent,
    handleDragEvent: app.Drag.prototype.handleDragEvent,
    handleMoveEvent: app.Drag.prototype.handleMoveEvent,
    handleUpEvent: app.Drag.prototype.handleUpEvent
  });

  /**
   * @type {ol.Pixel}
   * @private
   */
  this.coordinate_ = null;

  /**
   * @type {string|undefined}
   * @private
   */
  this.cursor_ = 'pointer';

  /**
   * @type {ol.Feature}
   * @private
   */
  this.feature_ = null;

  /**
   * @type {string|undefined}
   * @private
   */
  this.previousCursor_ = undefined;

};
ol.inherits(app.Drag, ol.interaction.Pointer);

/**
 * @param {ol.MapBrowserEvent} evt Map browser event.
 * @return {boolean} `true` to start the drag sequence.
 */
app.Drag.prototype.handleDownEvent = function(evt) {
  var map = evt.map;

  var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature, layer) {
            return feature;
          },
          {layerFilter: function (layer) {
                return layer === particelleOverlay;
            }
          }
      );

  if (feature) {
    if (shifted) {if (! rotating) {
            this.basepoint_ = evt.coordinate;
            this.last_alpha = 0;
            rotating = true;
        }
    }
    this.coordinate_ = evt.coordinate;
    this.feature_ = feature;
  }

  return !!feature;
};

/**
 * @param {ol.MapBrowserEvent} evt Map browser event.
 */
app.Drag.prototype.handleDragEvent = function(evt) {

  var map = evt.map;

  var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature, layer) {
            return feature;
          },
          {layerFilter: function (layer) {
                return layer === particelleOverlay;
            }
          }
      );

  var geometry = /** @type {ol.geom.SimpleGeometry} */
      (this.feature_.getGeometry());
  if (shifted){
    var deltaX = evt.coordinate[0] - this.basepoint_[0];
    var deltaY = evt.coordinate[1] - this.basepoint_[1];
    geometry.rotate(-this.last_alpha, this.basepoint_);
    alpha2 = Math.atan2(deltaY,deltaX);
    this.last_alpha = alpha2;
    geometry.rotate(alpha2, this.basepoint_);
  } else {
    var deltaX = evt.coordinate[0] - this.coordinate_[0];
    var deltaY = evt.coordinate[1] - this.coordinate_[1];
    geometry.translate(deltaX, deltaY);

    {% if fabbricati %}
    //muovi anche i fabbricati
    var fabbricatiGeometry = fabbricatiOverlay.getSource().getFeatures()[0].getGeometry();
    fabbricatiGeometry.translate(deltaX, deltaY);
    {% endif %}

  }

  this.coordinate_[0] = evt.coordinate[0];
  this.coordinate_[1] = evt.coordinate[1];
};

/**
 * @param {ol.MapBrowserEvent} evt Event.
 */
app.Drag.prototype.handleMoveEvent = function(evt) {
  if (this.cursor_) {
    var map = evt.map;

    var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature, layer) {
            return feature;
          },
          {layerFilter: function (layer) {
                return layer === particelleOverlay;
            }
          }
      );

    var element = evt.map.getTargetElement();
    if (feature) {
      if (element.style.cursor != this.cursor_) {
        this.previousCursor_ = element.style.cursor;
        element.style.cursor = this.cursor_;
      }
    } else if (this.previousCursor_ !== undefined) {
      element.style.cursor = this.previousCursor_;
      this.previousCursor_ = undefined;
    }
  }
};

/**
 * @param {ol.MapBrowserEvent} evt Map browser event.
 * @return {boolean} `false` to stop the drag sequence.
 */
app.Drag.prototype.handleUpEvent = function(evt) {
  this.coordinate_ = null;
  this.feature_ = null;
  return false;
};


class toggleExpandMapWindow extends ol.control.Control {

  constructor(opt_options) {
    const options = opt_options || {main:true};

    const button = document.createElement('button');
    button.className = 'btn btn-default btn-lg glyphicon glyphicon-resize-full';
    //button.innerHTML = '>';

    const span = document.createElement('span');
    span.className = '';
    span.appendChild(button);

    const element = document.createElement('div');
    element.className = 'togglemap ol-unselectable ol-control';
    element.appendChild(span);

    super({
      element: element,
      target: options.target,
    });

    this.mapMainElemID = options.main ? "map_1" : "map_2"
    this.mapMainFrame = document.getElementById(this.mapMainElemID)
    this.mapSupportFrame = document.getElementById(options.main ? "map_2" : "map_1")
    this.mapWindow = this.mapMainFrame.getElementsByClassName("mapwindow")[0]

    button.addEventListener('click', this.handleToggleMap.bind(this), false);
  }

  handleToggleMap() {
    this.mapElement
    if (this.mapMainFrame.className == "col-md-6") {
      this.mapMainFrame.className = "col-md-12"
      this.mapSupportFrame.style.display = "none"
      this.mapSupportFrame.className = ""
      this.mapWindow.data.updateSize()
    } else {
      this.mapMainFrame.className = "col-md-6"
      this.mapSupportFrame.style.display = "block"
      this.mapSupportFrame.className = "col-md-6"
      this.mapWindow.data.updateSize()
    }
    //const mapElement = document.getElementById("map");
    //mapElement.
    //this.getMap().getView().setRotation(0);
  }
}

class toggleSnapCatasto extends ol.control.Control {

  constructor(opt_options) {
    const options = opt_options || {main:true};

    const button = document.createElement('button');
    button.className = 'btn btn-default btn-lg glyphicon glyphicon-magnet';
    //button.innerHTML = '>';

    const span = document.createElement('span');
    span.className = '';
    span.appendChild(button);

    const element = document.createElement('div');
    element.className = 'snapcatasto ol-unselectable ol-control';
    element.appendChild(span);

    super({
      element: element,
      target: options.target,
    });

    this.button = button
    this.element = element
    this.mapMainElemID = options.main ? "map_1" : "map_2"
    this.mapMainFrame = document.getElementById(this.mapMainElemID)
    this.mapSupportFrame = document.getElementById(options.main ? "map_2" : "map_1")
    this.mapWindow = this.mapMainFrame.getElementsByClassName("mapwindow")[0]

    button.addEventListener('click', this.handleToggleSnap.bind(this), false);
  }

  handleToggleSnap() {
    if ( snapInteraction.getActive() ) {
      snapInteraction.setActive(false)
      this.button.classList.remove("glyphicon-magnet")
    } else {
      snapInteraction.setActive(true)
      this.button.classList.add("glyphicon-magnet")
    }

  }
}

//MEASURE - start

var measureInteraction = new ol.interaction.Draw({
    source: measure_source,
    type: 'LineString',
    maxPoints: 2,
    style: new ol.style.Style({
      fill: new ol.style.Fill({
        color: 'rgba(255, 255, 255, 0.2)'
      }),
      stroke: new ol.style.Stroke({
        color: 'rgba(0, 0, 0, 0.5)',
        lineDash: [10, 10],
        width: 2
      }),
      image: new ol.style.Circle({
        radius: 5,
        stroke: new ol.style.Stroke({
          color: 'rgba(0, 0, 0, 0.7)'
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        })
      })
    })
  });


var listener;
var startCoordinate;
measureInteraction.on('drawstart',
  function(evt) {
    // set sketch
    sketch = evt.feature;
    /** @type {ol.Coordinate|undefined} */
    var tooltipCoord = evt.coordinate;
    listener = sketch.getGeometry().on('change', function(evt) {
    var geom = evt.target;
    if (!startCoordinate){startCoordinate = geom.getLastCoordinate();}
    var output = formatLength(geom);
    midCoordinate = [(geom.getLastCoordinate()[0]+startCoordinate[0])/2,(geom.getLastCoordinate()[1]+startCoordinate[1])/2];
    tooltipCoord = midCoordinate;
    measureTooltipElement.innerHTML = output;
    measureTooltip.setPosition(tooltipCoord);
    });
  }, this);

  measureInteraction.on('drawend',
  function() {
    measureTooltipElement.className = 'tooltip tooltip-static';
    measureTooltip.setOffset([0, -7]);
    // unset sketch
    sketch = null;
    // unset tooltip so that a new one can be created
    measureTooltipElement = null;
    createMeasureTooltip();
    ol.Observable.unByKey(listener);
    startCoordinate = undefined;
  }, this);

var formatLength = function(line) {
  var length = Math.round(line.getLength() * 100) / 100;
  var output;
  if (length > 1000) {
    output = (Math.round(length / 1000 * 100) / 100) +
        ' ' + 'km';
  } else {
    output = (Math.round(length * 100) / 100) +
        ' ' + 'm';
  }
  //console.log("formatLength",output)
  return output;
};

function createMeasureTooltip() {
  if (measureTooltipElement) {
    measureTooltipElement.parentNode.removeChild(measureTooltipElement);
  }
  measureTooltipElement = document.createElement('div');
  measureTooltipElement.className = 'tooltip tooltip-measure';
  measureTooltip = new ol.Overlay({
    element: measureTooltipElement,
    offset: [0, -15],
    positioning: 'bottom-center'
  }); 
  map_sx.addOverlay(measureTooltip);
  //map_dx.addOverlay(measureTooltip);
}
//MEASURE -end

function aggiornaContesto(coords, noCorrezione) {
  if (area_estesa) return
  //let correlazione = $('#correlazione_check').hasClass('active') ? "enabled" : "disabled"
  let params = {
    correlazione: $('#correlazione_check').hasClass('active'),
    coordinateCatastali: coords
  }
  if (noCorrezione) {
    params.correlazione = false
  }

  $.ajax({
      url: '/certificati/contesto/',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(params),
      async: true,
      success: function(payload) {
        let contesto_features = new ol.Collection( new ol.format.GeoJSON().readFeatures(payload))
        snapOverlay.setSource( new ol.source.Vector({
            features: contesto_features,
            projection: targetProjection,
          }) )

      }
  });
}


function handleClickEvent(evt, mapname) {
  window["mapname"] = mapname
  const map = window[mapname]
  var listalayer = []
  if ( $("#info").hasClass("active") ) {
    foreach_activelayer( map, function (layer) { 
      var inforeq = {
        title: layer.get("title"),
        coords: evt.coordinate
      }
      let layers;
      if ( layer.getSource().getParams ) {
        layers = layer.getSource().getParams()["LAYERS"] ?? layer.getSource().getParams()["layers"] ?? 'all'
        layers = layers.replace('show:','visible:')
      }
      if (layer.getSource() instanceof ol.source.TileWMS) {
        var viewResolution = map.getView().getResolution();
        inforeq.url = layer.getSource().getGetFeatureInfoUrl(
        evt.coordinate, viewResolution, targetProjection, {
            'INFO_FORMAT': 'application/json', //'application/json','text/html'
            'QUERY_LAYERS': layers,
            'WITH_GEOMETRY': 'TRUE',
            'FEATURE_COUNT': 10
        });
        inforeq.type = "TileWMS"
        inforeq.params = layer.getSource().getParams()
      } else {
        if (layer.getSource() instanceof ol.source.TileArcGISRest) {
          inforeq.type = "TileArcGISRest"
          inforeq.params = layer.getSource().getParams()
          let layer_rest_endpoint = layer.getSource().getUrls()[0].replace('/export','')
          let viewport = map.getSize()
          let viewport_dpi = layer.getSource().getParams()['DPI'] ?? '96'
          let viewport_extent = map.getView().calculateExtent(viewport).toString()
          let url = `${layer_rest_endpoint}/identify?`
          url += `returnGeometry=true&f=json&geometryType=esriGeometryPoint&geometry={x: ${evt.coordinate[0]}, y: ${evt.coordinate[1]}}`
          url += `&layers=${layers}&imageDisplay=${viewport[0]},${viewport[1]},${viewport_dpi}&mapExtent=${viewport_extent}&tolerance=10`
          inforeq.url = url
          console.log(url)
        }
      }
      if (inforeq.url) {
        listalayer.push(inforeq)
      }
    }, function() {
      let layer_choice = {}
      listalayer.forEach(function(item) {layer_choice[item.title]=item})
      const lp = listPopup(layer_choice,mapname)
      if ( lp ) { getf_popup[window.mapname].show(evt.coordinate, lp) }
    } )
  } else {
    console.log("info not active")
  }
  
  if (!wms_rapper.getVisible()) return
  var viewResolution = map.getView().getResolution();
  var url = wms_rapper.getSource().getGetFeatureInfoUrl(
      evt.coordinate, viewResolution, targetProjection, {
          'INFO_FORMAT': 'application/json' , //'application/json','text/html'
          'QUERY_LAYERS': ['cdu,istanze,piani,vincoli,pratiche'],
          'FEATURE_COUNT': 10
      });
  if (url) {
      var xhttp;
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              const pp = tabbedPopup(xhttp.responseText)
              if ( pp ) { getf_popup.show(evt.coordinate, pp) }
          }
      };
      xhttp.open("GET", url, true);
      xhttp.send();

  }
}


function init(){

    wms_rapper = new ol.layer.Tile({
      extent: targetExtent,
      title: 'Layer gestiti da rapper',
      visible: false,
      source: new ol.source.TileWMS({
        url: 'https://rapper.comune.padova.it/qgisserver/?MAP=/dati/archiviazione/servizi/DEFAULT/RAPPER.qgs',
        params: {layers: 'pratiche,cdu,vincoli,istanze,piani',format:'image/png',CRS:'EPSG:3003'}
      })
    })

    //particelle overlay
      {% if particelle %}
      var particelleObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': {{particelle|safe}}
            }]
      }

      particelleFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(particelleObject));
      {% else %}
      particelleFeatures = new ol.Collection();
      {% endif %}

    //fabbricati overlay
      {% if fabbricati %}
      var fabbricatiObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': {{fabbricati|safe}}
            }]
      }

      fabbricatiFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(fabbricatiObject));
      {% else %}
      fabbricatiFeatures = new ol.Collection();
      {% endif %}

      //contesto overlay
      {% if contesto %}

      snapFeats = new ol.Collection( new ol.format.GeoJSON().readFeatures({{contesto|safe}}))
      console.log(snapFeats)

      function mappaliStyle(feature, resolution) {
        return new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 1
          }),
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          text: new ol.style.Text({
            font: "bold 10px Arial",
            text: feature.get('foglio')+'/'+feature.get('mappale'),
            fill: new ol.style.Fill({color: '#ffffff'}),
            stroke: new ol.style.Stroke({color: '#ff0000', width: '2'})
          })
        })
      };

      snapOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: snapFeats,
          projection: targetProjection,
        }),
        title: 'contesto catastale',
        visible: true,
        style: mappaliStyle
      });

      {% else %}

      snapFeats = new ol.Collection();

      {% endif %}

      particelleOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: particelleFeatures,
          overlaps: false,
          projection: targetProjection,
        }),
        title: 'poligono delle ditte catastali richieste *',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.3)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          })
        })
      }); 

      particelleOverlay.getSource().on("changefeature", function(evt) {
          resetPannello()
          const wkt = WKT_convertitore.writeGeometry(evt.feature.getGeometry());
          if (last_cc === undefined) {
            last_cc = $('#coordinateCatastali').val()
          }
          $('#coordinateCatastali').val(wkt)
      })

      fabbricatiOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: fabbricatiFeatures,
          projection: targetProjection,
        }),
        title: 'poligono dei fabbricati catastali richiesti',
        visible: false,
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 0, 0.6)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ffff00',
            width: 3
          })
        })
      });

      targetOverlay = new ol.source.Vector()

      targetOverlay.on( "addfeature", function(evt) {

          var last_feature = targetOverlay.getFeatures()[0];
          var jsonData = {filtro_wkt: WKT_convertitore.writeFeature(last_feature),correlazione:$('#correlazione_check').hasClass('active')};

          targetOverlay.clear();

          $.ajax({
              url: '/certificati/cerca_mappali/',
              type: 'POST',
              data: JSON.stringify(jsonData),
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              async: true,
              success: function(payload) {
                  //disegnaMappali(payload.mappali);
                  var feat_json = JSON.parse(payload.mappali)
                  var feat = new ol.format.GeoJSON().readFeature(feat_json.features[0]);
                  var fm = feat.get("foglio")+"/"+feat.get("mappale")
                  $('#coordinateCatastali').val(fm)
                  particelleOverlay.getSource().clear()
                  particelleOverlay.getSource().addFeature(feat);
                  aggiornaContesto(fm)
                  resetPannello()
              }
          });
      });

    const toggleMapSx = new toggleExpandMapWindow({main:true})
    const toggleMapDx = new toggleExpandMapWindow({main:false})
    toggleSnapButton = new toggleSnapCatasto()



    measures = new ol.layer.Vector({
      source: measure_source,
        title: 'misurazioni',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ffcc33',
            width: 2
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ffcc33'
            })
          })
        })
  })

    map_sx = new ol.Map({
      //interactions: ol.interaction.defaults().extend([new app.Drag()]),
      layers: [

{% if request.user|has_group:"ospiti" %} 
{% include 'cdu_baselayers_ospiti.html' %}
{% else %}
{% include 'cdu_baselayers.html' %}
{% endif %}

          wms_rapper,
          fabbricatiOverlay,
          snapOverlay,
          particelleOverlay,
          measures
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap(),
        toggleMapSx,
        toggleSnapButton
      ]),
      target: 'map_1_win',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });
    document.getElementById("map_1_win").data = map_sx

    //map_sx.addInteraction(dragInteraction)
    extent = particelleOverlay.getSource().getExtent();
    map_sx.getView().fit(extent, map_sx.getSize());
    
    map_dx = new ol.Map({
      //interactions: ol.interaction.defaults().extend([new app.Drag()]),
      layers: [
 
{% if request.user|has_group:"ospiti" %} 
{% include 'cdu_baselayers_alt_ospiti.html' %}
{% else %}
{% include 'cdu_baselayers_alt.html' %}
{% endif %}
      
          wms_rapper,
          fabbricatiOverlay,
          particelleOverlay,
          measures
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap(),
        toggleMapDx,
      ]),
      target: 'map_2_win',
      view: map_sx.getView()
    });
    document.getElementById("map_2_win").data = map_dx

    //map_dx.addInteraction(dragInteraction)
    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'LegendaX', // Optional label for button
        GroupSelectStyle: "group"
    });
    map_sx.addControl(layerSwitcher);

    getf_popup = {
      "map_sx": new ol.Overlay.Popup(),
      "map_dx": new ol.Overlay.Popup()
    } 
    map_sx.addOverlay(getf_popup.map_sx);
    map_dx.addOverlay(getf_popup.map_dx);

    map_sx.on('singleclick', function(evt) {
      handleClickEvent(evt,"map_sx")
    });

    map_dx.on('singleclick', function(evt) {
      handleClickEvent(evt,"map_dx")
    });

    var layerSwitcher2 = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map_dx.addControl(layerSwitcher2);
    
    $('#ricalcola').trigger( "click" );

    setUpInteractions()

    enable_layer_state_tracking(map_sx)
    enable_layer_state_tracking(map_dx)

}


</script>
{% endblock %}
{% block onload %} {% if particelle %}onload="init()"{% endif %}{% endblock %}
{% block titolo %}Ricerca catastale{% endblock %}
{% block menu %}
<li>
    <a href="#" onclick="ricercaMappali()">Ricerca mappali</a>
</li>
{% endblock %}
{% block contenuto %}


<div class="container{% if particelle%}-fluid{% endif %}">
     <form role="form" action="/certificati/catasto/" method="post">
        {% csrf_token %}
        <div class="row">
           <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" id="coordinateCatastali" name="coordinateCatastali" placeholder="Coordinate Catastali nel formato: FG1/MAPP1[-MAPP2-MAPP3...] [FG2/MAPP1[-MAPP2-MAPP3...]...] o geometria WKT" value="{% if coordinateCatastali%}{{coordinateCatastali}}{% endif %}">
              <input type="hidden" id="correlazione" name="correlazione" value="{{ correlazione }}" />
              <span class="input-group-btn">
                <button id="#invio" class="btn btn-default" type="submit">Cerca le coordinate catastali inserite</button>
              {% if particelle%}
                <button type="button" id="info" data-toggle="button" aria-pressed="false" class="btn btn-default">
                  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </button>
                <button type="button" id="measure" data-toggle="button" aria-pressed="false" class="btn btn-default">
                  <span class="glyphicon" aria-hidden="true"><img class="img-responsive center-block" src="/static/certificati/ruler.svg" width="14px" height="14px" alt="measure icon"/></span>
                </button>
                <button type="button" id="edit" data-toggle="button" aria-pressed="false" class="btn btn-default">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                <button type="button" id="move" data-toggle="button" aria-pressed="false" class="btn btn-default">
                  <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                </button>
                <button type="button" id="dot" data-toggle="button" aria-pressed="false" class="btn btn-default">
                  <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                </button>
                
                <button type="button" id="correlazione_check" name="bidibu" data-toggle="button" aria-pressed="false" class="btn btn-default {% if correlazione == 'enabled' %}active{% endif %}">
                  <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                </button>

                <button type="button" id="permalink" class="btn btn-default">
                  <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                </button>
                <a class="btn btn-default" id="sv">STREETVIEW</a>
                <!-- <a class="btn btn-defautarget="_blank"  lt" id="pdf">PDF</a> -->
                <a class="btn btn-default" target="_blank" id="scheda">SCHEDA PDF</a>
                <a class="btn btn-default hidden" id="progress"></a>
                <a class="btn btn-success hidden" target="_blank" id="scheda_download">DOWNLOAD SCHEDA PDF</a>
                <a class="btn btn-danger hidden" id="scheda_ko">ERRORE GENERAZIONE PDF</a>
                <a class="btn btn-default export" id="dxf">DXF</a>
                <a class="btn btn-default export" id="geojson">GeoJSON</a>
                <a class="btn btn-default export" id="zip">SHP</a>
                <a class="btn btn-default export" id="wkt">WKT</a>
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoModal">
                  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                </button>
              </span>
              {% else %}
                <button type="button" id="goto_mappali" data-toggle="button"  class="btn btn-default">Cerca su mappa</button>
              </span>
              {% endif %}
            </div><!-- /input-group -->
          </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </form>
    <br/>

  {% if errore  %}<div class="alert alert-warning"><strong>ERRORE: </strong>{{errore}}</div>{% endif %}

<div id="contenutoUp" class="row-fluid">
  <div class="row-fluid">
    <div id="map_1" class="col-md-6">
        {% if particelle %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="mapwindow" style="width:100%;height:600px" id="map_1_win"></div>
            </div>
        </div>
        {% endif %}

    </div>

    <div id="map_2" class="col-md-6">
        {% if particelle %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="mapwindow" style="width:100%;height:600px" id="map_2_win"></div>
            </div>
        </div>
        {% endif %}
    
    </div>
  </div>

  <div id="contenutoDown" class="row-fluid">
    <div class="row-fluid">
      <div id="maintabwin" class="col-md-6">
      
          {% if table%}
          <div class="panel-body">
              <div class="panel panel-default">
                <div class="panel-heading">Destinazioni urbanistiche nella pianificazione vigente</div>
                <div class="panel-body">
                  <div id ="destinazioni" >
                      {{ table|safe }}
                  </div>
                  <a class="hidden" id="ricalcola"  role="button">Ricalcola</a>
                </div>
              </div>
          </div>
          {% endif %}

      </div>

      <div id="maintabwin" class="col-md-6">
      
          {% if table%}
          <div class="panel-body">

              <div class="panel panel-default">
                <div class="panel-heading">Destinazioni urbanistiche PI2030</div>
                <div class="panel-body">
                  <div id="destinazioni_new" ></div>
                  <a class="hidden" id="ricalcola"  role="button">Ricalcola</a>
                </div>
              </div>
              {% if request.user|has_group:"settore" %} 
              <div class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" href="#collapse1">Segnalazione d'ufficio riguardante l'area evidenziata</a></div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div id="segnalazione_control"  class="form-group has-feedback">
                      <textarea name="segnalazione" class="form-control" id="segnalazione" placeholder="Segnalazione d'ufficio" rows="3"></textarea>
                    </div>
                    <div class="checkbox">
                      <label class=""><input name="non_salvare_geom" id="non_salvare_geom" type="checkbox">Non registrare la posizione (Osservazione di carattere generale)</label>
                    </div>
                    <div class="input-group">
                      <a class="btn btn-success" id="adminLink" href="#" target="_blank">Scheda salvata in Istanze</a>
                      <a class="btn btn-default" role="button" id="salva">Invia Segnalazione di ufficio</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" href="#collapse2">Promemoria Piani/Progetti</a></div>
                <div id="collapse2" class="panel-collapse collapse">
                  <div class="panel-body">
                      <div id="promemoria_titolo_control"  class="form-group has-feedback">
                        <input name="promemoria_titolo" class="form-control" id="promemoria_titolo" placeholder="Titolo" ></input>
                      </div>
                      <div id="promemoria_link_control" class="form-group has-feedback">
                        <input name="promemoria_link" class="form-control" id="promemoria_link" placeholder="link a documentazione" ></input>
                      </div>
                      <div id="promemoria_text_control" class="form-group has-feedback">
                        <input name="promemoria_text" class="form-control" id="promemoria_text" placeholder="descrizione" ></input>
                      </div>
                      <div class="input-group">
                        <a class="btn btn-success" role="button" id="promemoriaLink" href="#" target="_blank">Consulta scheda salvata in Piani urbanistici</a>
                        <a class="btn btn-default" role="button" id="salvaPromemoria" onclick="salvaPromemoria()">Salva Promemoria</a>
                      </div>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading"><a data-toggle="collapse" href="#collapse3">Certificato di destinazione urbanistica</a></div>
                <div id="collapse3" class="panel-collapse collapse">
                  <div class="panel-body">
                      <a class="btn btn-default" href="#" role="button" id="cdu" {% if not is_cdu %}disabled{% endif %}>Usa la geometria esistente per un nuovo CDU</a>
                  </div>
                </div>
              </div>
              {% endif %} 
          </div>
          {% endif %}
      </div>
    </div>

  </div>

</div>

<!-- The modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong><h4 class="modal-title" id="modalLabel">Applicazione per l'analisi delle destinazioni urbanistiche</h4></strong>
      </div>
      <div class="modal-body">
        Per mezzo dell'applicazione possono essere esaminate le destinazioni urbanistiche ed altre informazioni a tutt'oggi censite nel sistema informativo di settore, riguardanti un determinato contesto geografico<br/>
        <strong>Definizione del contesto a partire dalla cartografia catastale</strong></br>
        Il contesto su cui viene effettuata l'analisi è inizialmente estratto dalla planimetria catastale indicando le coordinate catastali dell'area con la seguente sintassi:</br>
        Coordinate Catastali nel formato: FG1/MAPP1[-MAPP2-MAPP3...] [FG2/MAPP1[-MAPP2-MAPP3...]...] o inserendo una geometria poligonale <a href="https://it.wikipedia.org/wiki/Well-Known_Text" target="_blank">WKT (Well Known Text)</a>
        proiettata nel sistema di riferimento <a href="https://mygeodata.cloud/converter/dxf-to-wkt" target="_blank">Monte Mario fuso ovest (EPSG 3003)</a> facilmente determinabile con strumenti GIS o da altri <a href="https://mygeodata.cloud/converter/dxf-to-wkt" target="_blank">standard</a>
        In ogni momento possono essere inserite delle nuove coordinate catastali ed effettuare una nuova analisi delle destinazioni urbanistiche</br>
        In alternativa può essere usata l'applicazione di ricerca mappali, passando ad essa cliccando su "Ricerca mappali" sul menu principale</br>
        Può essere scelto speditivamente un altro mappale indicandolo in mappa per mezzo dello lo strumento di localizzazione <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></br>
        <strong>Modifica del contesto</strong></br>
        Il contesto inizialmente definito da uno o più mappali può essere modificato per adattarlo con maggiore precisione al contesto desiderato (per esempio nel caso di coordinate catastali non corrispondenti alla planimetria catastale correntemente inserita nel sistema informativo)</br>
        Gli strumenti disponibili per la modifica geometrica del contesto sono:</br>
        <span class="glyphicon glyphicon-move" aria-hidden="true"></span> Lo strumento <strong>sposta</strong> con cui è possibile traslare la posizione del poligono corrente, per esempio per farlo corrispondere alla cartografia di origine aerofotogrammetrica da cui talvolta la planimetria catastale si discosta.</br>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Lo strumento <strong>edita</strong> per modificare il profilo della geometria. Cliccando sul poligono, si entra nella modalità di editing con cui si possono trascinare i vertici esistenti in altra posizione, oppure creare nuovi vertici trascinando la mezzeria di un segmento o cancellarli premento sulla tastiera <strong>ALT</strong> e contemporaneamente cliccare sul vertice da cancellare.</br>
        lo spostamento dei vertici viene vincolato in vicinanza a vertici e segmenti del layer <em>"contesto catastale"</em> Tale funzionalità di snapping può essere abilitato o disabilitato cliccando sul bottone <strong>snap</strong> <span class="glyphicon glyphicon-magnet" aria-hidden="true"></span> presente in basso a destra della finestra di modifica quando è attivato lo strumento di editing.</br>
        <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Lo strumento <strong>correlazione</strong> consente una rappresentazione "corretta" dei dati catastali correlata alla loro effettiva posizione in mappa, derivata dai dati di correlazione tra catasto e rilievo aerofotogrammetrico.</br> 
        <strong>Esportazione dei risultati</strong></br>
        I risultati dell'analisi delle destinazioni urbanistiche possono essere esportati per l'uso in altre applicazioni o per la comunicazione con altri utenti.</br>
        Con il tasto <strong></strong> può essere generato un'inquadramento dell'area di analisi in pdf su diverse basi cartografiche; </br>
        con <strong>DXF</strong><strong>GeoJSON</strong> <strong>SHP</strong> o <strong>WKT</strong> si effettua un'esportazione nei rispettivi formati del corrente poligono di analisi</br>
        con <strong>STREETVIEW</strong> viene aperta una finestra del browser su google maps per visualizzare la più vicina immagine di streetview correlata all'area di analisi</br>
        Infine con il tasto <strong>permalink</strong> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> si ottiene un link permanente diretto all'analisi che può essere inviato o usato come link per consentire ad un'altro utente di accedere direttamente alla corrente analisi</br>
        <strong>Collegamento con altre applicazioni di rapper</strong></br>
        L'analisi sul poligono di ricerca, oltre ad evidenziare le destinazioni urbanistiche correnti, indica anche le schede di altre applicazioni presenti su rapper (CDU, Istanze, Piani, Vincoli) correlati geograficamente con il poligono corrente</br>
        Tramite il pannello "Segnalazione d'ufficio riguardante l'area evidenziata" è invece possibile inviare speditivamente una nota di segnalazione d'ufficio correlata con la geometria corrente, direttamente all'applicazione istanze per segnalare criticità cartografiche o altri promemoria. Tali segnalazioni sono elencate nella categoria <em>8-segnalazioni d'ufficio</em></br>
        Gli utenti abilitati all'applicazione CDU possono usare coordinate catastali e la geometria corrente in formato wkt, se modificate, per andare a definire un nuovo CDU nella rispettiva applicazione
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
