{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" />
{% endblock %}
{% block custom_style_inline %}

.elenco {
    margin: 20px;
    padding: 5px;
}



.panel-default{
    font-size: 1,5em;
}

{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script type="text/javascript">

{% localize off %}
var targetExtent = [1716014, 5023919, 1737137, 5038662];
{% endlocalize %}

var map_catasto;
var cartaweb, polyTargetFeatures, polyTargetOverlay;

{% if cartaweb %}
cartaweb = {{ cartaweb|safe }}
{% endif %}

proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +towgs84=-104.1,-49.1,-9.9,0.971,-2.917,0.714,-11.68 +units=m +no_defs");
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

$(document).ready(function(){

    console.log('doc ready');
});

function init(){


    //clip destinazione overlay
      {% if features %}
      var geojsonObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': {{features|safe}}
            }]
      }
      
      polyTargetFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject, {
          featureProjection: targetProjection
      }));
      {% else %}
      polyTargetFeatures = new ol.Collection();
      {% endif %}
      polyTargetOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: polyTargetFeatures}),
        title: 'poligono delle ditte catastali richieste',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });
      
    console.log(polyTargetOverlay.getSource().getExtent());

    map_catasto = new ol.Map({
      layers: [
{% include 'cdu_baselayers.html' %}
          polyTargetOverlay
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap()
      ]),
      target: 'map',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map_catasto.addControl(layerSwitcher);

    extent = polyTargetOverlay.getSource().getExtent();
    map_catasto.getView().fit(extent, map_catasto.getSize()); 

}


</script>
{% endblock %}
{% block onload %} {% if features %}onload="init()"{% endif %}{% endblock %}
{% block titolo %}CERTIFICATO {{certificato.protocollo_data|date:"Y"}}{{certificato.protocollo_numero}} {{certificato.richiedente_1}} {{certificato.richiedente_2}}{% endblock %}
{% block menu %}
<li>
<a href="/certificati/cd">Elenco certificati</a>
</li>
{% endblock %}
{% block contenuto %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">Emissione del certificato</div>
                  
                  <div class="row">
                        <div class="elenco">
                          <h4>
                          <strong>richiesto da:</strong></br>
                          {{ certificato.richiedente_1 }}</br>
                          {% if certificato.richiedente_2 %}{{ certificato.richiedente_2 }}</br>{% endif %}
                          {% if certificato.richiedente_indirizzo %}{{ certificato.richiedente_indirizzo }}</br>{% endif %}
                          {% if certificato.richiedente_email%}{{ certificato.richiedente_email }}</br>{% endif %}
                          {% if certificato.richiedente_telefono%}{{ certificato.richiedente_telefono }}</br>{% endif %}
                          <strong>Dati della richiesta:</strong></br>
                          protocollo {{ certificato.protocollo_numero }}</br>
                          del {{ certificato.protocollo_data }}</br>
                          foglio/mappali: {{ certificato.coordinate_catastali }}</br>
                          {% if certificato.note %}note: {{ certificato.note }}</br></br>{% endif %}
                          {% if certificato.stampa_pi_vigente %}<a href="{{settings.MEDIA_URL}}{{certificato.stampa_pi_vigente}}{{ random }}">Planimetrie</a></br>{% endif %}
                          <strong>Dati di emissione:</strong></br>
                          protocollo: {{ certificato.protocollo_emissione }}</br>
                          del: {{ certificato.data_emissione }}</br>
                          <a href="{{settings.MEDIA_URL}}{{certificato.certificato_pdf}}{{ random }}">Copia del certificato</a>
                          </h4>
                        </div>
                  </div><!-- /.row -->
              {% if features %}
              <div class="panel panel-default">
                  <div class="panel-body">
                      <div style="width:100%;height:600px" id="map"></div>
                  </div>
              </div>
            {% endif %}
          </div>
        </div>
    </div>
</div>
<div class="container"> 
    <div id ="destinazioni" class="col-md-12">
        {{ table }}
    </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
