{% load breakline %}
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><div class="intestazione">Destinazioni</div></th>
                  <th><div class="intestazione">Circa mq</div></th>
                  <th><div class="intestazione">%</div></th>
                  <th><div class="intestazione">N.T.A.</div></th>
                </tr>
              </thead>
              <tbody>
                  {% for item in table %}
                  <tr>
                    {% for col in item %}
                    <td><div class="contenuto">{{col|breakline|linebreaksbr}}</div></td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
