{% load breakline %}
            <table class="table table-hover">
              {% for item in table %}
              {% if forloop.counter0 == 0 %}
              <thead>
                <tr>
                  <th align="left" class="col1">Destinazioni</th>
                  <th align="right" class="col2">circa_mq</th>
                  <th align="center" class="col3">%</th>
                  <th align="right" class="col4">NTA</th>
                </tr>
              </thead>
              <tbody>
              {% else %}
              {% if item.0 != 'Totale' and  item.0 != 'Area non pianificata'  %}
                  <tr>
                    {% for col in item %}
                    <td {% if forloop.first  %}align="left"{% else %}align="right"{% endif %} class="col{{ forloop.counter }}">{{col|breakline|linebreaksbr}}</td>
                    {% endfor %}
                  </tr>
              {% endif %}
              {% endif %}
              {% endfor %}
              </tbody>
            </table>
