{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}{% endblock %}
{% block custom_style_inline %}

.glyphicon-none:before {
    content: "\2122";
    color: transparent !important;
}

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none;
 border-color:#cccccc;
}
.form-control{width:20%}
.navbar-nav > li > a {
  padding-bottom: 15px;
  padding-top: 15px;
}
.navbar-nav:last-child{ border-right:0}

#remove, #edit, #view, #recover:hover {cursor: pointer; cursor: hand; color:black}

.pagination {
  display: block !important;
}

{% endblock %}
{% block custom_js %}
<script src="{% static 'repertorio/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script type="text/javascript">

function ordina(chiave) {
  var ordine_attuale = "{{ordine}}"

  if ( ordine_attuale.charAt(0) == '-') {
    var direzione_attuale = "-";
    var direzione_attuale_inversa = "";
  } else {
      var direzione_attuale = "";
      var direzione_attuale_inversa = "-";
  }

  if (chiave == ordine_attuale) {
    var direzione = direzione_attuale_inversa;
  } else {
    var direzione = ''
  }
  url = "/certificati/cd/?ordina="+direzione+chiave;
  console.log(url);
  window.location = url;
}

$(document).ready(function() {
    $("tr").click(function(event) {
        console.log(event.target.parentElement.tagName);
        if (event.target.tagName == 'SPAN'){
            event.stopPropagation();
            switch (event.target.id){
                case "edit":{
                    window.location = "/certificati/editcdu/"+event.target.parentElement.parentElement.id+"/";
                }
                break;
                case "view":{
                    window.location = "/certificati/editcdu/"+event.target.parentElement.parentElement.id+"/";
                }
                break;
                case "remove":{
                    bootbox.confirm("Vuoi veramente cancellare il certificato? " + event.target.parentElement.parentElement.id.toString(),         function(result) {
                        if (result) { window.location = "/certificati/cancella/{{ tipo }}/" + event.target.parentElement.parentElement.id+"/"; }
                    });
                }
                break;
                case "recover":{
                    window.location = "/certificati/recupera/{{ tipo }}/" + event.target.parentElement.parentElement.id+"/";
                }
                break;
            }
        } else {
            if (event.target.parentElement.tagName != 'TH') {
              window.location = "/certificati/editcdu/"+event.target.parentElement.id+"/";
            } else {
              var chiave = event.target.className
              var ordine_attuale = "{{ordine}}"

              if ( ordine_attuale.charAt(0) == '-') {
                var direzione_attuale = "-";
                var direzione_attuale_inversa = "";
              } else {
                  var direzione_attuale = "";
                  var direzione_attuale_inversa = "-";
              }

              if (chiave == ordine_attuale) {
                var direzione = direzione_attuale_inversa;
              } else {
                var direzione = ''
              }
              url = "/certificati/cd/?ordine="+direzione+chiave;
              console.log(url);
              window.location = url;
            }
        }
    });

    $(".new").click(function(event) {
        window.location = "/certificati/new/{{tipo}}/"
    });

    $("#empty").click(function(event) {
            bootbox.confirm("Vuoi veramente svuotare il cestino? " + event.target.parentElement.parentElement.id.toString(),         function(result) {
                if (result) { window.location = "/certificati/emptytrash/{{ tipo }}/"; }
            });
    });
    /*
    $("#edit, #remove", "none").click(function(event) {
        event.stopPropagation();
        window.location = event.target.href
    });*/
});
</script>
{% endblock %}
{% block onload %}{% endblock %}
{% block titolo %}
{% if tipo == 'cd' %}{% if trash %}RECUPERO CDU CANCELLATI{% else %}CERTIFICATI DI DESTINAZIONE URBANISTICA{% endif %}{% endif %}
{% if tipo == 'dg' %}{% if trash %}RECUPERO DEFINIZIONI CANCELLATE{% else %}DEFINIZIONI GRAFICHE{% endif %}{% endif %}
{% endblock %}
{% block menu %}
{% if trash %}
    {% if tipo == 'cd' %}<li><a href="/certificati/cd">Lista certificati di destinazione urbanistica</a></li><li><a id="empty" href="#">Svuota cestino</a></li>{% endif %}
    {% if tipo == 'dg' %}<li><a href="/certificati/dg">Lista definizioni grafiche</a></li><li><a id="empty" href="#">Svuota cestino</a></li>{% endif %}
{% else %}

    {% if tipo == 'cd' %}<li><a href="/certificati/map/cd">mappa cdu</a></li><li><a href="/certificati/dg">Definizioni grafiche</a></li><li><a href="/certificati/trash/cd">Cestino</a></li>{% endif %}

    {% if tipo == 'dg' %}<li><a href="/certificati/map/dg">mappa definizioni</a></li><li><a href="/certificati/cd">Certificati di destinazione urbanistica</a></li><li><a href="/certificati/trash/dg">Cestino</a></li>{% endif %}
{% endif %}
{% endblock %}
{% block contenuto %}


<div class="container">
    <div class="col-md-12">
      <div class="row">
        <div class="col-8">
          <form class="navbar-form form-inline" role="search">
            <div class="input-group add-on">
            {% if not trash %}<div class="col-4"><a type="button" class="new btn btn-default">Nuovo</a></div>{% endif %}
            </div>
            <div class="input-group add-on pull-right col-4">
              <input class="form-control" placeholder="Cerca protocollo o richiedente" name="cerca" id="cerca" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-12">
            {% if alert %}
            <div class="alert {{ alert.class }}">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong>{{ alert.message }}</strong>
            </div>
            {% endif %}
            <table class="table table-hover">
              <caption></caption>
              <thead>
                <tr>
                  <th><a href="#" class="pk">#</a></th>
                  <th><a href="#" class="protocollo_numero">PROTOCOLLO</a></th>
                  <th><a href="#" class="richiedente_1">RICHIEDENTE</a></th>
                  <th>MODIFICATO/CREATO</th>
                  <th>STATO</th>
                  <th style="text-align: center">MAPPE</th>
                  <th style="text-align: center">CERTIFICATO</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                  {% for item in items %}
                  <tr id="{{item.pk}}">
                    <th scope="row">{{item.pk}}</th>
                    <td>{{item.protocollo_data|date:"Y"}}-{{item.protocollo_numero}}</td>
                    <td>{{item.richiedente_1}} {{item.richiedente_2}}</td>
                    <td>{{item.modificato_da}}</td>
                    <td>{{item.stato}}</td>
                    <td style="text-align: center">{%if item.stato in 'verifica,approvazione,emesso' %}<a target="_blank" href="/certificati/inquadramento/{{item.pk}}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>{% endif %}</td>
                    
                    <td style="text-align: center">{%if item.certificato_pdf %}<a target="_blank" href="{{MEDIA_URL}}{{item.certificato_pdf}}{{ random }}"><span class="glyphicon glyphicon-download" aria-hidden="true"></span></a>{% endif %}</td>
                    <td>
                        {% if item.cancellato  %}
                            <span id="recover" class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                        {% else %}
                             {% if item.stato != 'emissione' %}
                                <span id="remove" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                <span id="edit" class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                             {% else %}
                                <span id="none" class="glyphicon glyphicon-none" aria-hidden="true"></span>
                                <span id="view" class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                             {% endif %}
                        {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
              </tbody>
            </table>

            <div class="pagination">
                <span class="step-links">
                    {% if items.has_previous %}
                        <a href="?page={{ items.previous_page_number }}"><span id="edit" class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
                    {% endif %}

                    <span class="current">
                        Pagina {{ items.number }}/{{ items.paginator.num_pages }}.
                    </span>

                    {% if items.has_next %}
                        <a href="?page={{ items.next_page_number }}"><span id="edit" class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                    {% endif %}
                </span>
            </div>
            {% if not trash %}<a type="button" class="new btn btn-default">Nuovo</a>{% endif %}
    </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
