{% extends 'cdu_base.html' %}
{% load static %}
{% comment %} {% endcomment %}

{% block custom_style_link %}

{% endblock %}
{% block custom_style_inline %}

#progress_busy {
    background: transparent url("/static/certificati/ajax-loader.gif") no-repeat center;
    float:none;
    display: inline-block;
    background-position: center center;
    width: 40px;
}

#nav {
    margin: 5px;
}

.panel-default{
    font-size: 1,5em;
}

{% endblock %}
{% block custom_js %}
<script>

$(document).ready(function(){

    $('#rebuild').click(function(eventObj) {

        $('#inquadramento_no').addClass("hidden");
        $('#inquadramento_pdf').addClass("hidden");
        $('#rebuild').addClass('hidden');
        
        
        $.ajax({
            url: '/certificati/rigenera/{{idx}}/'+$('#paper').val()+'/',
            type: 'GET',
            data: '', //JSON.stringify({idx:{{idx}}}),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            error: function(err) {
                console.log(err);
                if (err.status == 504) {
                    $('#inquadramento_no').addClass("hidden");
                    $('#inquadramento_pdf').removeClass("hidden");
                    $('#rebuild').removeClass('hidden');  
                }
            },
            success: function(payload) {
                //alert(payload);
                $('#inquadramento_no').addClass("hidden");
                $('#inquadramento_pdf').removeClass("hidden");
                $('#rebuild').removeClass('hidden');
                //$('#inquadramento_pdf').href(payload.pdf_globale);
            }
        });
    });
    
    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );;
    });
    
    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });

    console.log('doc ready');
});
</script>
{% endblock %}
{% block onload %}{% endblock %}
{% block titolo %}CERTIFICATO{% if idx %} {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}}{% endif %} {% endblock %}
{% block menu %}
<li>
<a href="/certificati/cd">Elenco certificati</a>
</li>
{% endblock %}
{% block contenuto %}

<!-- comment -->

<div class="container">
    <div class="row">
        <form id="verifica" action="/certificati/verifica/{{idx}}/" method="post" class="form-horizontal">
        <div class="col-md-12">
          <div id="nav">
            {% for stato in avanzamento%}
                <a id="{{ stato.1 }}" class="fase btn {% if stato.2 %}btn-success"{% else %}btn-default" disabled="disabled"{% endif %} role="button">{{ stato.0 }}</a>
            {% endfor %}
            <div class="pull-right">
              <a id="prossimo"  class="btn btn-primary" role="button">Prossimo</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">Verifica del testo e dell'inquadramento del certificato</div>
              <div class="panel-body">
                    <form class="form-inline" >
                          <a href="/certificati/copertina/{{idx}}/" target="_blank" class="btn btn-primary">Copertina</a>
                          <a href="/certificati/inquadramento/{{idx}}/" target="_blank" class="btn btn-primary">Inquadramento</a>
                        {% csrf_token %}
                    </form>
                    <div style="padding-top: 15px;">
                    <textarea class="form-control" id="contenuto" name="contenuto"  rows="20">{{contenuto_certificato}}</textarea>
                    <input id="submit" type="submit" class="btn btn-primary hidden" value="Submit" />
                    </div>
              </div>
          </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
