{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% block custom_style_inline %}

body, container, destinazioni, intestazione, contenuto,h3 {
    font-family: sans-serif !important;
    align: left;
}

th {
    text-align: left;
}

.clipboard {display:none;}

{% endblock %}
{% block titolo %}{% endblock %}
{% block contenuto %}
{% if istanza%}
<div class="container">
    <h3>Istanza: {{istanza.istanza}}</h3>
    <p><strong>Categoria:</strong>{{istanza.categoria}}<br/>
    {% if particelle%} <strong>Coordinate catastali:</strong>: {{ particelle }} <br/>{% endif %}
    <strong>Stato:</strong>{{istanza.stato}}<br/>
    <strong>Valutazione:</strong>{% if istanza.valutazione %}{{istanza.valutazione}}{% endif %}<br/>
    <strong>Note:</strong>{% if istanza.note %}{{istanza.note}}{% endif %}</p>
</div>
{% else %}
<div class="container">
    <h3>Coordinate catastali: {{ particelle }}</h3>
</div>
{% endif %}
{% if table %}
<div class="container">
    <h3>Destinazioni di piano</h3>
    <div id ="destinazioni" class="col-md-12">
        {{ table|safe }}
    </div>
</div>
{% endif %}


{% endblock %}
{% block piedipagina %}{% endblock %}
