{% load breakline %}
<span style="font-size:10px;font-family:sans-serif;">
<table>
<thead>
<tr>
<th align="left" style="font-size:10px;">Destinazioni</th>
<th align="right" style="font-size:10px;">Circa mq</th>
<th align="right" style="font-size:10px;">perc.</th>
<th align="right" style="font-size:10px;">N.T.A.</th>
</tr>
</thead>
<tbody>
{% for item in table %}
<tr>
{% for col in item %}
<td {% if forloop.first  %}align=left{% else %}align=right{% endif %}  style=font-size:10px;>{{col|breakline|linebreaksbr}}</td>
{% endfor %}
</tr>
{% endfor %}
</tbody>
</table>
</span>