{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link href="/static/css/datetimepicker.css" type="text/css" media="all" rel="stylesheet" />
{% endblock %}
{% block custom_style_inline %}
.full {
    height: 100% !important;
    width: 100% !important;
}

#nav {
    margin: 5px;

}
{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="/static/certificati/js/moment-with-locales.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/static/js/locales/bootstrap-datetimepicker.it.js"></script>
<script type="text/javascript" src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
<script type="text/javascript">

// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

$(document).ready(function(){


    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );
    });

    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });
    
  //
  // If absolute URL from the remote server is provided, configure the CORS
  // header on that server.
  //
  var url = '{{certificato_pdf}}';


  //
  // Disable workers to avoid yet another cross-origin issue (workers need
  // the URL of the script to be loaded, and dynamically loading a cross-origin
  // script does not work).
  //
  // PDFJS.disableWorker = true;

  //
  // In cases when the pdf.worker.js is located at the different folder than the
  // pdf.js's one, or the pdf.js is executed via eval(), the workerSrc property
  // shall be specified.
  //
  // PDFJS.workerSrc = '../../build/pdf.worker.js';

  var pdfDoc = null,
      pageNum = 1,
      pageRendering = false,
      pageNumPending = null,
      scale = 0.8,
      canvas = document.getElementById('the-canvas'),
      ctx = canvas.getContext('2d');

  /**
   * Get page info from document, resize canvas accordingly, and render page.
   * @param num Page number.
   */
  function renderPage(num) {
    pageRendering = true;
    // Using promise to fetch the page
    pdfDoc.getPage(num).then(function(page) {
      console.log('Page loaded');
      var viewport = page.getViewport({scale: scale});
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      // Render PDF page into canvas context
      var renderContext = {
        canvasContext: ctx,
        viewport: viewport
      };
      var renderTask = page.render(renderContext);

      // Wait for rendering to finish
      console.log('Page render start');
      renderTask.promise.then(function () {
        console.log('Page render end');
        pageRendering = false;
        if (pageNumPending !== null) {
          // New page rendering is pending
          renderPage(pageNumPending);
          pageNumPending = null;
          console.log('Page render pending');
        }
      });
    });

    // Update page counters
    document.getElementById('page_num').textContent = pageNum;
  }

  /**
   * If another page rendering in progress, waits until the rendering is
   * finised. Otherwise, executes rendering immediately.
   */
  function queueRenderPage(num) {
    if (pageRendering) {
      pageNumPending = num;
    } else {
      renderPage(num);
    }
  }

  /**
   * Displays previous page.
   */
  function onPrevPage() {
    if (pageNum <= 1) {
      return;
    }
    pageNum--;
    queueRenderPage(pageNum);
  }
  document.getElementById('prev').addEventListener('click', onPrevPage);

  /**
   * Displays next page.
   */
  function onNextPage() {
    if (pageNum >= pdfDoc.numPages) {
      return;
    }
    pageNum++;
    queueRenderPage(pageNum);
  }
  document.getElementById('next').addEventListener('click', onNextPage);

  /**
   * Asynchronously downloads PDF.
   */
  var loadingTask = pdfjsLib.getDocument(url)
  loadingTask.promise.then(function (pdf) {
    console.log('PDF loaded');
    pdfDoc = pdf
    document.getElementById('page_count').textContent = pdf.numPages;

    // Initial/first page rendering
    renderPage(pageNum);
  });
})
</script>
{% endblock %}
{% block onload %}
{% endblock %}
{% block titolo %}CERTIFICATO{% if idx %} {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}} {% endif %} {% endblock %}
{% block menu %}
<li>
<a href="/certificati/cd">Elenco certificati</a>
</li>
{% endblock %}
{% block contenuto %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div id="nav">
              {% for stato in avanzamento%}
                  <a id="{{ stato.1 }}" class="fase btn {% if stato.2 %}btn-success"{% else %}btn-default" disabled="disabled"{% endif %} role="button">{{ stato.0 }}</a>
              {% endfor %}
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Approvazione del certificato</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form id="dataset" action="/certificati/approvazione/{{idx}}/" method="post">
                                            <div class="form-group">
                                                <label for="data_emissione">Data di emissione del certificato:</label>
                                                <div class='input-group date' id='data'>
                                                    <input type='text' class="form-control" name="data_emissione" value={%if data_emissione %}"{{data_emissione}}"{% else %}""{% endif %}/>
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                $(function () {
                                                    $('#data').datetimepicker({
                                                        format: 'dd/mm/yyyy',
                                                        autoclose: true,
                                                        minView: 2,
                                                        startView: 2,
                                                        language: 'it',
                                                    });
                                                });
                                            </script>
                                            {% csrf_token %}
                                            <input id="submit" type="submit" class="btn btn-primary hidden" value="Emissione" />
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="pdf-viewer">
                                            <div>
                                              <div class="row">
                                                  <div class="col-sm-3">
                                                      <h4><span id="page_num"></span> / <span id="page_count"></span></h4>
                                                  </div>
                                                  <div class="col-sm-7 pull-right">
                                                      <div class="" style="padding-bottom:5px">
                                                          <a href="/certificati/odt/{{idx}}/27/" class="btn btn-default" target="_blank">Bozza odt</a>
                                                          <a href="{{certificato_pdf}}" class="btn btn-default" target="_blank">Bozza pdf</a>
                                                          <a id="prev"  class="btn btn-primary" role="button">Indietro</a>
                                                          <a id="next"  class="btn btn-primary" role="button">Avanti</a>
                                                      </div>
                                                  </div>
                                              </div>
                                            </div>

                                            <div>
                                              <canvas id="the-canvas" style="border:1px solid black;width:600px;height: 900px;"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
