{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% load has_group %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css">
<link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css" />
{% endblock %}
{% block custom_style_inline %}
{{ block.super }}
#progress {
    background: transparent url("/static/certificati/ajax-loader.gif") no-repeat center;
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.btn-primary.active, .btn-primary.active, .btn.active, .btn:active {
  background-color: rgba(0,60,136,.7);
}

.btn-primary {
    background-color: white;
}

.mapp {
    word-wrap: break-word;
}

.mapp:hover {cursor: pointer; cursor: hand; color:black}

.icon-poligono {
    background-image: url("/static/certificati/i_poligono.svg") !important;
    background-position: center center;
    background-size: contain;
    height: 30px;
    width: 30px;
    fill: gray;
}

.icon-punto {
    background-image: url("/static/certificati/i_punto.svg") !important;
    background-position: center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.icon-rettangolo {
    background-image: url("/static/certificati/i_rettangolo.svg") !important;
    background-position: center center;
    background-size: contain;
    height: 30px;
    width: 30px;
}

.ol-geocoder ul.gcd-gl-result {
  width: 20em;
}

.gcd-country {
  display: none;
}



.ol-popup {padding: unset;width:300px;}
.ol-popup-closer {font-size:100%;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding-right:25px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size:80%;
} 

.ol-popup-closer {
	top: -22px;
	right: 0px;
  padding: 0 3px;
	background-color: white;
}

.pptable {
  width: 100%;
}

.pptable {
  width: 100%;
}

.pptable th {
  vertical-align: top;
}

.pptablehead {
  width: 40%;
}

.pptablerow:nth-child(odd) {
    background-color: #eeeeee;
}

.pptablerow:first-child th {
    background-color: #cccccc;
}

.pptablerow:first-child td {
    background-color: #cccccc;
}

.pptabledata {
  width: 60%;
  padding: 2px;
  overflow: hidden;
  word-wrap: anywhere;
}

.form-inline {
  padding-bottom:10px !important;
}

#coordinate {
  padding-top: 10px;
}


.modal-xl {
  max-width: 1340px !important;
}
.modal-dialog {
  width: unset !important;
}

{% endblock %}
{% block custom_js %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://unpkg.com/ol-popup@2.0.0"></script>
<script src="/static/certificati/js/jquery.redirect.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script type="text/javascript">

{% localize off %}
var targetExtent = [1716014, 5023919, 1737137, 5038662];
{% endlocalize %}

var map_catasto, draw;
var mappaliOverlay, polyTargetOverlay, viaOverlay, correlazioneOverlay, correlazioneSource,snapOverlay,snapFeats, ultimaSelezione;
var undo = [];
var typeSelect = 'Point';

proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +towgs84=-104.1,-49.1,-9.9,0.971,-2.917,0.714,-11.68 +units=m +no_defs");
//proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +units=m +no_defs");
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var UTM33Extent = [166021.4431, 0.0000, 833978.5569, 9329005.1825];
proj4.defs('EPSG:32633', '+proj=utm +zone=33 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM33proj = new ol.proj.Projection({
    code: 'EPSG:32633',
    extent: UTM33Extent
});
ol.proj.addProjection(UTM33Extent);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

var WGS84Extent = [5,40, 15,50];
proj4.defs('EPSG:101010', '+proj=longlat +ellps=WGS84 +datum=WGS84 +no_defs');
var WGS84proj = new ol.proj.Projection({
    code: 'EPSG:101010',
    extent: WGS84Extent
});
ol.proj.addProjection(WGS84proj);

var geoJson_convertitore = new ol.format.GeoJSON();

var WKT_convertitore = new ol.format.WKT();

var formatWFS = new ol.format.WFS();


//var WFSserver = "http://10.10.21.50/qgisserver"
var WFSserver = "https://rapper.comune.padova.it/qgisserver"
if (location.protocol == 'http:') {
  WFSserver = "http://10.10.21.50/qgisserver"
}
var WFSproject = "?MAP=/dati/archiviazione/servizi/CATASTO/CATASTO.qgs"
var WFScollection = "origine_destinazione_correlazione_catasto"
var WFSendpoint = WFSserver+WFSproject
//WFSendpoint = "https://rapper.comune.padova.it/qgisserver?MAP=/dati/archiviazione/servizi/CATASTO/CATASTO.qgs"

var formatGML = new ol.format.GML({
    //featureNS: "pippo",
    featureType: WFScollection,
    srsName: 'EPSG:3003'
});

{% if is_cdu %}

var WFSinteractionAdd,WFSinteractionSelect, WFSinteractionModify, WFSinteractionSnap, dirty
var drawing = false

var xs = new XMLSerializer();

var transactWFS = function (mode, f) {
    let method,feat_id;
    let converter = new ol.format.GeoJSON()
    let feature_obj = converter.writeFeatureObject(f)
    this.converted_coordinates = []
    //feature_obj.geometry.coordinates.forEach(function(item){
    //  console.log(item)
    //  this.converted_coordinates.push(ol.proj.transform(item, targetProjection, WGS84proj))
    //},this)
    //feature_obj.geometry.coordinates = this.converted_coordinates
    //delete feature_obj.properties.fid
    feature_obj.crs = { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } }
    switch (mode) {
        case 'insert':
            method = "POST"
            feat_id = ""
            feature_obj.properties = {}
            break;
        case 'update':
            method = "PUT"
            feat_id = f.getId().replace(WFScollection + ".", "") + "/" 
            feature_obj.id = parseInt(f.getId().replace(WFScollection + ".", ""))
            //delete feature_obj.id
            break;
        case 'delete':
            method = "DELETE"
            feat_id = f.getId().replace(WFScollection + ".", "") + "/"
            break;
    }
    json_feature = JSON.stringify(feature_obj)
    console.log("payload",json_feature)
    //let url = WFSserver+'/wfs3/collections/' + WFScollection + '/items' + feat_id + "/" + WFSproject
    let url = "/certificati/aggiornamento_correlazione/" + feat_id
    $.ajax( url, {
        //service: 'WFS',
        type: method,
        //dataType: 'json',
        processData: false,
        contentType: 'application/geo+json',
        data: json_feature,
        success: function(response) {
          console.log("transactWFS result", response)
          undo.push(response)
          correlazioneSource.clear();
        }
    });
};

function correlazione_cancella() {
    let fid = document.getElementById("correlazione_id").value;
    document.getElementById("correlazione_id").value = ""
    let feat = correlazioneOverlay.getSource().getFeatureById(fid)
    if (!feat) {
      feat = correlazioneOverlay.getSource().getFeatureById(WFScollection + "." + fid)
    }
    transactWFS("delete", feat)
}

function undo_action(){
  if (undo.length == 0) return
  let last_action = undo.pop()
  let feature_obj = {
    type: "Feature",
    properties: {}
  }
  switch (last_action.action) {
      case 'deleted':
          method = "DELETE"
          feat_id = - last_action.fid
          break;
      case 'added':
          method = "DELETE"
          feat_id = last_action.fid
          break;
      case 'modified':
          method = "PUT"
          feat_id = "/" + f.getId().replace(WFScollection + ".", "")
          feature_obj.id = parseInt(f.getId().replace(WFScollection + ".", ""))
          json_feature.geometry = last_action.old_geom
          break;
  }
  
  feat_url = feat_id.toString() + "/"
  
  console.log("payload",json_feature)
  //let url = WFSserver+'/wfs3/collections/' + WFScollection + '/items' + feat_id + "/" + WFSproject
  let url = "/certificati/aggiornamento_correlazione/"+feat_url
  $.ajax( url, {
      //service: 'WFS',
      type: method,
      //dataType: 'json',
      processData: false,
      contentType: 'application/geo+json',
      data: json_feature
  }).done(function(response) {
    correlazioneSource.clear();
  });
}

{% endif %}

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function OsOpenNamesSearch(options) {
  var url = options.url;
  return {
    /**
      * Get the url, query string parameters and optional JSONP callback
      * name to be used to perform a search.
      * @param {object} options Options object with query, key, lang,
      * countrycodes and limit properties.
      * @return {object} Parameters for search request
      */
    getParameters: function(opt) {
      return {
        url: url,
        //callbackName: 'callback',
        params: {
          q: opt.query,
        },
      };
    },
    /**
      * Given the results of performing a search return an array of results
      * @param {object} data returned following a search request
      * @return {Array} Array of search results
      */
    handleResponse: function(results) {
      // The API returns a GeoJSON FeatureCollection
      if (results && results.features && results.features.length) {
        return results.features.map(function(feature) {
          return {
            lon: feature.geometry.coordinates[0],
            lat: feature.geometry.coordinates[1],
            address: {
              // Simply return a name in this case, could also return road,
              // building, house_number, city, town, village, state,
              // country
              name: feature.properties.name,
              country: feature.properties.wkt
            },
            bbox: feature.properties.bbox
          };
        });
      } else {
        return;
      }
    },
  };
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        console.log(csrftoken);
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){

    $('.sample').click(function(eventObj){
        typeSelect = eventObj.target.id;
        map_catasto.removeInteraction(draw);
        addInteraction();
    });

    $('#radioBtn a').on('click', function(){
        var sel = $(this).data('title');
        var tog = $(this).data('toggle');
        $('#'+tog).prop('value', sel);

        $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
        $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
    })

    $('#lista_mappali').on('click',function(eventObj){
        let mapp = document.getElementById("coordinate").textContent.replace("Coordinate catastali: ","");
        let correlazione = $('#correlazione_abilitata').prop('checked') ? "enabled" : "disabled"
        $.redirect('/certificati/catasto/', {'coordinateCatastali': mapp, 'correlazione': correlazione});
        
    });

    $("#correlazione_abilitata").change(function() {
      reload()
    });
});

function reload(vettori_correlazione){
  let cc = document.getElementById("coordinate").textContent.replace("Coordinate catastali: ","").trim();
  let correlazione_val = $('#correlazione_abilitata').prop('checked') ? "enabled" : "disabled"
  if (vettori_correlazione) {
    correlazione_val = "enabled"
  } 
  let form = '<input type="hidden" name="coordinateCatastali" value="'+cc+'">';
  form += '<input type="hidden" name="correlazione" value="' + correlazione_val + '">';
  //form += '<input type="hidden" name="vettori_correlazione" value="' + vettori_correlazione + '">'; //?????
  form += '<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">';
  $('<form action="/certificati/mappali/" method="POST">'+form+'</form>').appendTo('body').submit();
}

function ricercaCatastale() {
    $("#lista_mappali").trigger("click");
}

function coordinateCatastaliDaOverlay(noCorrezione) {
  this.fogli_mappali = {}
  mappaliOverlay.getSource().forEachFeature(function(feat) {
    if (feat.get("foglio") in fogli_mappali){
        fogli_mappali[feat.get("foglio")].push(feat.get("mappale"));
    } else {
        fogli_mappali[feat.get("foglio")] = [feat.get("mappale")];
    }
  })
  console.log("fogli_mappali",this.fogli_mappali);
  var coordinateCatastali = ""
  for (var foglio in fogli_mappali) {
      coordinateCatastali += ' ' + foglio + '/';
      var mappali = fogli_mappali[foglio];
      for (var i = 0; i < mappali.length; i++){
          mappale = mappali[i];
          coordinateCatastali += mappale + '-';
      }
      coordinateCatastali = coordinateCatastali.slice(0, -1);
  }
  coordinateCatastali = coordinateCatastali.slice(1);

  let correlazione = $('#correlazione_abilitata').prop('checked') ? "enabled" : "disabled"
  let params = {
    correlazione: $('#correlazione_abilitata').prop('checked'),
    coordinateCatastali: coordinateCatastali
  }
  if (noCorrezione) {
    params.correlazione = false
  }

  $.ajax({
      url: '/certificati/contesto/',
      type: 'POST',
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      data: JSON.stringify(params),
      async: true,
      success: function(payload) {
        let contesto_features = new ol.Collection( new ol.format.GeoJSON().readFeatures(payload))
        snapOverlay.setSource( new ol.source.Vector({
            features: contesto_features,
            projection: targetProjection,
          }) )

      }
  });

  return coordinateCatastali
}

function disegnaMappali(mappali_json, correzione){
  ultimaSelezioneMappali = mappali_json
  let mappali_features = new ol.Collection( new ol.format.GeoJSON().readFeatures(mappali_json))
  mappaliOverlay.getSource().addFeatures(mappali_features.a)
  document.getElementById("coordinate").textContent = "Coordinate catastali: " + coordinateCatastaliDaOverlay(correzione); //document.getElementById("coordinate").textContent + " " +
  map_catasto.getView().fit(mappaliOverlay.getSource().getExtent(), map_catasto.getSize());
}

function creaCoordinateLink(){
    var intro = document.createElement('button');
    intro.setAttribute("onclick", "document.getElementById'lista_mappali').click()");
    intro.className = "btn btn-success";
    intro.textContent = 'Analizza il contesto selezionato';
    var div = document.createElement('div');
    div.className += "mapp";
    div.id = "coordinate";
    div.textContent = "";
    document.getElementById("lista_mappali").innerHTML = '';
    document.getElementById("lista_mappali").appendChild(intro);
    document.getElementById("lista_mappali").appendChild(div);
}

function addInteraction() {
    var value = typeSelect;
    var shiftKeyPressed = false;
    if (value !== 'None') {
        var geometryFunction, maxPoints;
        if (value === 'Square') {
            value = 'Circle';
            geometryFunction = ol.interaction.Draw.createRegularPolygon(4);
        } else if (value === 'Box') {
        value = 'LineString';
        maxPoints = 2;
        geometryFunction = function(coordinates, geometry) {
          if (!geometry) {
            geometry = new ol.geom.Polygon(null);
          }
          var start = coordinates[0];
          var end = coordinates[1];
          geometry.setCoordinates([
            [start, [start[0], end[1]], end, [end[0], start[1]], start]
          ]);
          return geometry;
        };
        }
        draw = new ol.interaction.Draw({
            source: polyTargetOverlay.getSource(),
            type: /** @type {ol.geom.GeometryType} */ (value),
            geometryFunction: geometryFunction,
            maxPoints: maxPoints
        });
        map_catasto.addInteraction(draw);
    }
}

var wms_rapper, getf_popup;

function tabbedPopup (json) {
  let popup_data = JSON.parse(json)
  const popup_layers = {}

  if ( Object.keys(popup_data.features).length == 0 ) return undefined

  for (const layer of popup_data.features) {
    const wms_layer = layer.id.split('.')[0]
    let table = '<table class="pptable"><tbody>'
    let lastrow
    for (let [k, v] of Object.entries(layer.properties)) { 
      if (k == 'link') {
        k = ""
        lastrow = '<a href="' + v + '" target="_blank"><strong>LINK</strong></a>'
      } else {
        table += '<tr class="pptablerow"><th class="pptablehead">'+k+'</th><td class="pptabledata">'+ (v ? v.toString() : "") +'</td></tr>'
      }
    }
    if (lastrow) {
      table += '<tr class="pptablerow"><th class="pptablehead"></th><td class="pptabledata">'+ lastrow +'</td></tr>'
    }
    table += '</tbody></table>'
    if (popup_layers[wms_layer]) {
      popup_layers[wms_layer].push(table)
    } else {
      popup_layers[wms_layer] = [table]
    }
  }

  if ( Object.keys(popup_layers).length == 0 ) return undefined

  let panel_menu = document.createElement('div')
  panel_menu.setAttribute('class', 'tab')
  let active = true
  for (const [key, value] of Object.entries(popup_layers)) {
    let elclass = 'tablinks'
    if (active) { 
      elclass += ' active'
      active = false
    }
    let newItem = document.createElement('button')
    newItem.setAttribute('class', elclass)
    newItem.setAttribute('id',"_"+key)
    newItem.setAttribute('onclick', "openTab('"+ key +"')")
    newItem.innerText = value.length.toString() > 1 ? key + ':' + value.length.toString() : key
    panel_menu.appendChild(newItem)
  }
  let panel_tabs = document.createElement('div')
  panel_tabs.setAttribute('class', 'tabcontainer')
  active = true
  for (const [key, value] of Object.entries(popup_layers)) {
    let elclass = 'tabcontent'
    let elstyle = 'display:none;'
    if (active) { 
      elclass += ' active'
      elstyle = 'display:block;'
      active = false
    }
    let newItem = document.createElement('div')
    newItem.setAttribute('id', key)
    newItem.setAttribute('style', elstyle)
    newItem.setAttribute('class', elclass)
    let tab_item = ''
    for (const table_item of value) {
      tab_item += (table_item)
      tab_item += ('<br/>')
    }
    newItem.innerHTML = tab_item
    panel_tabs.appendChild(newItem)
  }
  let panel = document.createElement('div')
  panel.setAttribute('class', 'panelcontainer')
  panel.appendChild(panel_menu)
  panel.appendChild(panel_tabs)
  return panel
}


function openTab(tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  document.getElementById("_"+tabName).className += " active";
} 

function enableClickOnMap(enabled) {
  if (enabled) {
    map_catasto.on('singleclick', function(evt) {
      console.log(evt)
      if (!wms_rapper.getVisible()) return
      //console.log("LAYER", layer)
      var viewResolution = map_catasto.getView().getResolution();
      var url = wms_rapper.getSource().getGetFeatureInfoUrl(
          evt.coordinate, viewResolution, targetProjection, {
              'INFO_FORMAT': 'application/json' , //'application/json','text/html'
              'QUERY_LAYERS': ['cdu,istanze,piani,vincoli,pratiche'],
              'FEATURE_COUNT': 10
          });
      console.log("QUERY", url)
      if (url) {
          var xhttp;
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  const pp = tabbedPopup(xhttp.responseText)
                  if ( pp ) { getf_popup.show(evt.coordinate, pp) }
                  //console.log(xhttp.responseText)
              }
          };
          xhttp.open("GET", url, true);
          xhttp.send();

      }
    });
  } else {
    map_catasto.removeEventListener('singleclick');
  }
}

function contestoStyle(feature, resolution) {
      return new ol.style.Style({
        stroke: new ol.style.Stroke({
          color: '#ff0000',
          width: 1
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        }),
        text: new ol.style.Text({
          font: "bold 10px Arial",
          text: feature.get('foglio')+'/'+feature.get('mappale'),
          fill: new ol.style.Fill({color: '#ffffff'}),
          stroke: new ol.style.Stroke({color: '#ff0000', width: '2'})
        })
      })
    };

function aggiornaSelezioneMappali(selezione,noCorrezione){
  
  var correlazione = $('#correlazione_abilitata').prop('checked')
  if ( noCorrezione ) {
    correlazione = false
  }
  var jsonData = { filtro_wkt: WKT_convertitore.writeFeature(selezione), "correlazione": correlazione };

  polyTargetOverlay.getSource().clear();
  if (!$('#click2add').prop('checked')){
      mappaliOverlay.getSource().clear();
      creaCoordinateLink();
  }

  $.ajax({
      url: '/certificati/cerca_mappali/',
      type: 'POST',
      data: JSON.stringify(jsonData),
      contentType: 'application/json; charset=utf-8',
      dataType: 'json',
      async: true,
      success: function(payload) {
          disegnaMappali(JSON.parse(payload.mappali));
      }
  });
}



function init(){

    wms_rapper = new ol.layer.Tile({
      extent: targetExtent,
      title: 'Layer gestiti da rapper',
      visible: false,
      source: new ol.source.TileWMS({
        url: 'https://rapper.comune.padova.it/qgisserver/?MAP=/dati/archiviazione/servizi/DEFAULT/RAPPER.qgs',
        params: {layers: 'pratiche,cdu,vincoli,istanze,piani',format:'image/png',CRS:'EPSG:3003'}
      })
    })

    wms_rapper.on("change:visible", function(evt){
      if (wms_rapper.getVisible()) {
        map_catasto.removeInteraction(draw)
      } else {
        map_catasto.addInteraction(draw)
      }
    })

    
    //contesto overlay
    {% if contesto %}

    snapFeats = new ol.Collection( new ol.format.GeoJSON().readFeatures({{contesto|safe}}))

    {% else %}

    snapFeats = new ol.Collection();

    {% endif %}

    snapOverlay = new ol.layer.Vector({
      source: new ol.source.Vector({
        features: snapFeats,
        projection: targetProjection,
      }),
      title: 'contesto catastale',
      visible: true,
      style: contestoStyle
    });

    //clip destinazione overlay
      polyTargetOverlay = new ol.layer.Vector({
        source: new ol.source.Vector(),
        title: 'puntamento in mappa',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });

    polyTargetOverlay.getSource().on( "addfeature", function(evt) {
        var featureDISelezione = polyTargetOverlay.getSource().getFeatures()[0];
        aggiornaSelezioneMappali(featureDISelezione)
    });

    console.log(polyTargetOverlay.getSource().getExtent());

    function mappaliStyle(feature, resolution) {
        return new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.3)'
          }),
          text: new ol.style.Text({
            //textAlign: align,
            //textBaseline: baseline,
            font: "bold 14px Arial",
            text: feature.get('foglio')+'/'+feature.get('mappale'),
            fill: new ol.style.Fill({color: '#ffffff'}),
            stroke: new ol.style.Stroke({color: '#000000', width: '3'})
            //offsetX: offsetX,
            //offsetY: offsetY,
            //rotation: rotation
          })
        })
      };

    //CORRELAZIONEOVERLAY
    correlazioneSource =  new ol.source.Vector({
      format: new ol.format.GeoJSON(),
      url: function(extent) {
        return WFSendpoint + '&' +
            'service=WFS&version=1.1.0&request=GetFeature&' +
            'typeName=' + WFScollection + '&' +
            'outputFormat=application/json&srsname=EPSG:3003&' +
            'bbox=' + extent.join(',') + ',EPSG:3003';
      },
      projection: "EPSG:3003",
      strategy: ol.loadingstrategy.bbox
    });

    function styleFunction (feature) {
      const geometry = feature.getGeometry();
      const styles = [
        // linestring
        new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#FFA500',
            width: 3,
          }),
          text: new ol.style.Text({
              font: "bold 14px Arial",
              text: feature.get("ogc_fid").toString(),
              fill: new ol.style.Fill({color: '#000000'}),
              placement: 'line'
          })
        }),
      ];
    
      geometry.forEachSegment(function (start, end) {
        const dx = end[0] - start[0];
        const dy = end[1] - start[1];
        const rotation = Math.atan2(dy, dx);
        // arrows
        styles.push(
          new ol.style.Style({
            geometry: new ol.geom.Point(end),
            image: new ol.style.Icon({
              src: '/static/certificati/arrow.png',
              anchor: [0.75, 0.5],
              rotateWithView: true,
              rotation: -rotation,
            }),
          })
        );
      });
    
      return styles;
    };

    correlazioneOverlay = new ol.layer.Vector({
      source: correlazioneSource,
      visible: false,
      title: 'vettori di correlazione',
      style: styleFunction
    });

    //mappali overlay
      mappaliOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: new ol.Collection(),
          projection: targetProjection,
        }),
        title: 'ditte catastali richieste',
        style: mappaliStyle
      });

    //via overlay
      viaOverlay = new ol.layer.Vector({
        source: new ol.source.Vector(),
        title: 'via selezionata',
        style: new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#33cc33',
            width: 3
          })
        })
      });

    var overviewMapControl0 = new ol.control.OverviewMap({
      // see in overviewmap-custom.html to see the custom CSS used
      className: 'ol-overviewmap ol-custom-overviewmap',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.TileWMS({
            url: 'https://rapper.comune.padova.it/qgisserver',
            params: {layers: 'DBT',format:'image/png'}
          }),
        }) ],
      collapsed: true,
      view: new ol.View({
        projection: targetProjection
      })
    });

    var overviewMapControl = new ol.control.OverviewMap({
      // see in overviewmap-custom.html to see the custom CSS used
      className: 'ol-overviewmap ol-custom-overviewmap',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        }) ],
      collapsed: true,
      view: new ol.View({
        projection: targetProjection
      })
    });

    map_catasto = new ol.Map({

      layers: [

{% if request.user|has_group:"ospiti" %} 
{% include 'cdu_baselayers_ospiti.html' %}
{% else %}
{% include 'cdu_baselayers.html' %}
{% endif %}

          wms_rapper,
          polyTargetOverlay,
          mappaliOverlay,
          snapOverlay,
          correlazioneOverlay,
          viaOverlay
      ],
      controls: ol.control.defaults().extend([
        new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        overviewMapControl
      ]),
      target: 'map_analisi',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map_catasto.addControl(layerSwitcher);

    var provider = OsOpenNamesSearch({
      url: '/certificati/geocoder/',
    }); 

    var geocoder = new Geocoder('nominatim', {
        provider: provider,
        lang: 'it-IT',
        placeholder: 'Inserisci indirizzo ...',
        limit: 10,
        keepOpen: true,
        preventDefault : true,
        autoComplete: true,
        autoCompleteMinLength: 3
    });
    map_catasto.addControl(geocoder);

    var addr_popup = new ol.Overlay.Popup();
    map_catasto.addOverlay(addr_popup);

    geocoder.on('addresschosen', function(evt) {

        var viaFeature = WKT_convertitore.readFeature(evt.address.details.country)
        viaOverlay.setSource(
          new ol.source.Vector({
            features: new ol.Collection( [viaFeature] ),
            projection: targetProjection,
          })
        )

        var view_ex = viaFeature.getGeometry().getExtent()
        map_catasto.getView().fit(view_ex, map_catasto.getSize());
        window.setTimeout(function() {
            addr_popup.show(evt.coordinate, evt.address.formatted);
        }, 1500);
    });

    console.log("PRESET")
    {% if preset %}
    creaCoordinateLink();
    var mappali_geojson = JSON.parse({{ preset|safe }})
    if (mappali_geojson.features.length > 0) {
      disegnaMappali(mappali_geojson);
    } else {
      map_catasto.getView().fit([1721000, 5026000, 1731000, 5036000], map_catasto.getSize());
    }

    {% else %}
    map_catasto.getView().fit([1721000, 5026000, 1731000, 5036000], map_catasto.getSize());

    {% endif %}

    addInteraction();

    getf_popup = new ol.Overlay.Popup();
    map_catasto.addOverlay(getf_popup);

    enableClickOnMap(true)

    {% if is_cdu %}
        
    WFSinteractionSelect = new ol.interaction.Select()
    
    WFSinteractionModify = new ol.interaction.Modify({
        source: correlazioneSource,
        insertVertexCondition: ol.events.condition.never,
        deleteCondition: ol.events.condition.never
        //features: WFSinteractionSelect.getFeatures()
    });

    WFSinteractionAdd = new ol.interaction.Draw({
      source: correlazioneSource,
      maxPoints: 2,
      //features: WFSinteractionSelect.getFeatures(),
      type: "LineString"
    })

    WFSinteractionSnap = new ol.interaction.Snap({
      source: correlazioneSource
    })

   // $('#correlazione_abilitata').prop('checked', true);

    correlazioneOverlay.on("change:visible", function(evt){
      if (correlazioneOverlay.getVisible()) {
        map_catasto.removeInteraction(draw);
        map_catasto.addInteraction(WFSinteractionAdd);
        map_catasto.addInteraction(WFSinteractionSnap);
        //map_catasto.addInteraction(WFSinteractionSelect);
        map_catasto.addInteraction(WFSinteractionModify);
        $("#metodi_panel").addClass("hidden");
        $("#correlazione_panel").removeClass("hidden");
        enableClickOnMap(false)
        if (ultimaSelezione) {
          aggiornaSelezioneMappali(ultimaSelezione,true)
        } else {
          mappaliOverlay.setVisible(false)
          coordinateCatastaliDaOverlay(true)
        }

      } else {
        map_catasto.addInteraction(draw);
        map_catasto.removeInteraction(WFSinteractionAdd);
        map_catasto.removeInteraction(WFSinteractionSnap);
        //map_catasto.removeInteraction(WFSinteractionSelect);
        map_catasto.removeInteraction(WFSinteractionModify);
        $("#metodi_panel").removeClass("hidden");
        $("#correlazione_panel").addClass("hidden");
        enableClickOnMap(true)
      }
    })

    WFSinteractionModify.on('modifystart', function (e) {
      console.log("WFSinteractionModify modifystart")
    });

    WFSinteractionModify.on('modifyend', function (e) {
        console.log("WFSinteractionModify modifyend")
        var f = e.features.pop();
        var featureProperties = f.getProperties();
        delete featureProperties.boundedBy;
        var clone = new ol.Feature(featureProperties);
        var fid = f.getId()
        clone.setId(fid)
        transactWFS("update", clone);
    });
    
    WFSinteractionAdd.on('drawstart', function (e) {
        console.log("WFSinteractionAdd drawstart")
        drawing = true
    });
    
    WFSinteractionAdd.on('drawend', function (e) {
        console.log("WFSinteractionAdd drawend")
        drawing = false
        var featureProperties = e.feature.getProperties();
        delete featureProperties.boundedBy;
        var clone = new ol.Feature(featureProperties);
        transactWFS("insert", clone);
    });

    {% endif %}

    enable_layer_state_tracking(map_catasto,[correlazioneOverlay.get("title"), mappaliOverlay.get("title"), snapOverlay.get("title")])



}


</script>
{% endblock %}
{% block onload %} onload="init()"{% endblock %}
{% block titolo %}Ricerca mappali{% endblock %}
{% block menu %}
<li>
    <a href="#" onclick="ricercaCatastale()">Ricerca catastale</a>
</li>
<li>
    <a href="/certificati/mappali/">Reset ricerca</a>
</li>
{% endblock %}
{% block contenuto %}


<div class="container">
     <form role="form" action="/certificati/catasto/" method="post">
        {% csrf_token %}
        <div class="col-md-12">
            <div class="row form-inline">
                <div id="metodi_panel" class="input-group">
                    <div id="radioBtn" class="btn-group">
                        <a class="sample btn btn-primary btn-sm active icon-punto" data-toggle="geom" data-title="Pt" id="Point"></a>
                        <a class="sample btn btn-primary btn-sm notActive icon-rettangolo" data-toggle="geom" data-title="Bo" id="Box"></a>
                        <a class="sample btn btn-primary btn-sm notActive icon-poligono" data-toggle="geom" data-title="Po" id="Polygon"></a>
                    </div>
                    <input type="hidden" name="fun" id="fun">
                    <div class="checkbox-inline">
                        <label><input id="click2add" type="checkbox" value="">Aggiungi mappali</label>
                    </div>
                    <div class="checkbox-inline">
                        <label><input id="correlazione_abilitata" type="checkbox" value="" {% if correlazione %}checked{% endif %}>Abilita correlazione Catasto</label>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#infoModal">
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                    </button>
                </div>
                {% if is_cdu %}
                <form class="form-inline">
                  <div class="form-group">
                    <div id="correlazione_panel" class="input-group mb-3 hidden">
                        <span class="btn btn-primary input-group-addon" onclick="undo_action()">
                          <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                          Annulla
                        </span>
                        <span class="btn btn-primary input-group-addon" onclick="reload(true)">
                          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                          Applica modifiche correlazione
                        </span>
                        <input id="correlazione_id" class="form-control" type="text" placeholder="digita ID vettore di correlazione da cancellare">
                        <span class="btn btn-danger input-group-addon" onclick="correlazione_cancella()">
                          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                          Cancella vettore di correlazione
                        </span>
                    </div>
                  </div>
                </form>
                {% endif %}

            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </form>
    <br/>
  <div class="row">
    <div class="col-md-12">
        {% if errore  %}
        <div class="alert alert-warning">
            <strong>ERRORE:</strong>{{errore}}
        </div>{% endif %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div style="width:100%;height:600px" id="map_analisi"></div>
            </div>
        </div>
    </div>
  </div>
  <div class="col-md-12">
    <div id ="lista_mappali">
    </div>
  </div>
</div>

<!-- The modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong><h4 class="modal-title" id="modalLabel">Applicazione per la ricerca catastale</h4></strong>
      </div>
      <div class="modal-body">
        Per Mezzo dell'applicazione possono essere individuati uno o più mappali, dalla più recente estrazione catastale, continui o discontinui ed andare a definire un contesto di analisi delle destinazioni urbanistiche.
        All'apertura iniziale dell'applicazione l'estensione geografica visualizzata in mappa corrisponde a tutto il territorio comunale. La mappa può essere consultata zoomando con il mouse e la rotella centrale o tramite i pulsanti di zoom + e - presenti sulla sinistra della finestra.
        E' inoltre possibile effettuare una ricerca sulla toponomastica comunale cliccando sul pulsante con la lente di ingrandimento, inserendo in nome del toponimo ricercato e cliccando su uno dei toponimi proposti dalla tendina dei risultati.
        Sulla destra dello schermo, cliccando sul tasto "toast", e possibile controllare la visibilità del set dei layer a disposizione. L'assetto dei layer visibili è conservato ed è persistente attraverso le sessioni del browser, quindi alla riapertura dell'applicazione si troveranno i layer precedentemente selezionati.
        Gli strumenti disponibili per l'individuazione del contesto catastale sono:</br>
        <span class="btn btn-primary icon-punto" aria-hidden="true"></span> Lo strumento <strong>selezione puntuale</strong> con cui è possibile selezionare il mappale soggiacente alla posizione corrente del cursore controllato dal mouse</br>
        <span class="btn btn-primary icon-rettangolo" aria-hidden="true"></span> Lo strumento <strong>selezione rettangolare</strong> con cui è possibile selezionare i mappali che intersecano la finestra rettangolare definita dal mouse con due punti</br>
        <span class="btn btn-primary icon-poligono" aria-hidden="true"></span> Lo strumento <strong>selezione poligonale</strong> con cui è possibile selezionare i mappali che intersecano la finestra poligonale chiusa definita dal mouse con una successione di punti </br> 
        Ad ogni selezione la mappa viene automaticamente zoomata al contesto complessivo correntemente selezionato ed in basso a destra vengono costantemente aggiornate le coordinate catastali riferite ai mappali correntemente selezionati. Ogni nuova selezione di mappali va ad annullare la selezione corrente. 
        E' possibile controllare tale comportamento abilitando o disabilitando il checkbox <strong>Aggiungi mappali</strong></br>
        Il checkbox <strong>Abilita correlazione Catasto</strong> è una funzione "sperimentale" che consente una rappresentazione "corretta" dei dati catastali correlata alla loro effettiva posizione in mappa, derivata dai dati di correlazione tra catasto e rilievo aerofotogrammetrico effettuata dall'ufficio in sede di redazione dei certificati di destinazione urbanistica.</br></br>
        Una volta identificato il contesto catastale è possibile passare all'analisi catastale del contesto selezionato cliccando sul pulsante <button type="button" class="btn btn-success">Analizza il contesto selezionato</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Chiudi</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
