{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.8/css/bootstrap-combobox.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}
{% block custom_style_inline %}
#progress {
    background: transparent url("/static/certificati/ajax-loader.gif") no-repeat center;
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
}
@-moz-document url-prefix() {
    #importa_dxf {
        height: auto;
        padding: 4px 12px;
    }
}

#nav {
    margin: 5px;
}

#note {
    width: 100%;!important;
}

{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://unpkg.com/ol-popup@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-combobox/1.1.8/js/bootstrap-combobox.min.js"></script>
<script src="/static/certificati/js/terraformer.js"></script>
<script src="/static/certificati/js/terraformer-arcgis-parser.js"></script>
<script type="text/javascript">

var shifted = false;
var rotating = false

var mappa;
var rilievoFeatures, rilievoOverlay;
var poligonoFeatures, poligonoOverlay;
var geojsonObject;

var GEOJson_convertitore = new ol.format.GeoJSON();
var WKT_convertitore = new ol.format.WKT();
var EsriJSON_convertitore = new ol.format.EsriJSON ();

var service_overlay, control_sorgente_overlay, control_destinazione_overlay;
var indiceSorgente, indiceDestinazione;

var formati_carta =[
      [[210,297],[297,420],[420,594],[594,841],[841,1189]],
      [[297,210],[420,297],[594,420],[841,594],[1189,841]]
  ];

{% if cartaweb %}
var cartaweb = {{ cartaweb|safe }}
{% endif %}

{% if definizione_url %}
var pdf_url = '{{ definizione_url }}'
{% else %}
var pdf_url = ''
{% endif %}

var targetExtent = [1716014, 5023919, 1737137, 5038662];

proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +towgs84=-104.1,-49.1,-9.9,0.971,-2.917,0.714,-11.68 +units=m +no_defs");
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var UTM33Extent = [166021.4431, 0.0000, 833978.5569, 9329005.1825];
proj4.defs('EPSG:32633', '+proj=utm +zone=33 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM33proj = new ol.proj.Projection({
    code: 'EPSG:32633',
    extent: UTM33Extent
});
ol.proj.addProjection(UTM32proj);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

var geoJson_convertitore = new ol.format.GeoJSON();

var WKT_convertitore = new ol.format.WKT();

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function get_best_fit_scale(extent_scope, sheet,esriframe){
    var center = ol.extent.getCenter(extent_scope);
    //var sheet = [210,297];
    var margin = 5;
    var scales=[500,1000, 2000, 5000,10000,20000];
    var cx = center[0];
    var cy = center[1];
    for (var s = 0; scales.length; s++){
        var scale = scales[s];
        var scaleFactor = scale / 1000;
        var wb = sheet[0] * scaleFactor / 2
        var hb = sheet[1] * scaleFactor / 2
        var wf = (sheet[0] - margin*2) * scaleFactor / 2;
        var hf = (sheet[1] - margin*4) * scaleFactor / 2;
        var bound =  [cx-wb , cy-hb, cx+wb, cy+hb];
        var frame =  [cx-wf , cy-hf, cx+wf, cy+hf];
        if (ol.extent.containsExtent(bound, extent_scope)){
            if (esriframe) {
                return [get_esri_ring(frame), get_esri_ring(bound), scaleFactor];
            } else {
                return [frame, bound, scaleFactor];
            }
        }
    }
    if (esriframe) {
        return [get_esri_ring(frame), get_esri_ring(bound), scaleFactor];
    } else {
        return [frame, bound, scaleFactor];
    }
}

function onPrintParamChange(){
      var scelta_formato = parseInt($('#formato').find('option:selected').val())
      var scelta_orientamento = parseInt($('#orientamento').find('option:selected').val())
      var dim = formati_carta[scelta_orientamento][scelta_formato];
      var b = get_best_fit_scale(poligonoOverlay.getSource().getExtent(), dim);
      $('#scala').html('scala 1:'+ (b[2]*1000).toString());
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}

function get_esri_ring(e){
    return [
        [e[0],e[1]],
        [e[2],e[1]],
        [e[2],e[3]],
        [e[0],e[3]],
        [e[0],e[1]],
    ]
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        console.log(csrftoken);
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){
    // funzione per intecettare invio della form ed aggiungere alcuni campi prima del submit
        
    //$('.combobox').combobox();
    
    $('#print').click( function(event) {
      var scelta_formato = parseInt($('#formato').find('option:selected').val())
      var scelta_orientamento = parseInt($('#orientamento').find('option:selected').val())
      var dim = formati_carta[scelta_orientamento][scelta_formato];
      var b = get_best_fit_scale(poligonoOverlay.getSource().getExtent(), dim);
      $('#progress').removeClass("hidden");
      $('#scarica').addClass("hidden");
      var bestBound = b[0];
      var bestFrame = b[1];
      var bestScale = b[2];
      var esri_features = [];
      var converter = new ol.format.GeoJSON();
      var feats = JSON.parse(converter.writeFeatures(rilievoOverlay.getSource().getFeatures()));

      var printOutput_templates = {
        '00':'A4 Portrait', 
        '10':'A3 Portrait', 
        '01':'A4 Landscape', 
        '11':'A3 Landscape'
      }

      for (var f = 0; f < feats.features.length; f++){
            var geojson_feat = feats.features[f];
            if (geojson_feat.geometry.type == "LineString") {
                var new_esri_feat = {
                    symbol: {
                        color: [255,0,0,255],
                        style: "esriSLSSolid",
                        type: "esriSLS",
                        width: 1.5/*bestScale * 1000 / 700,
                        outline: {
                            color: {
                                blue: 0,
                                red: 255,
                                green: 0,
                                alpha: 255
                            },
                            width: bestScale * 1000 / 500,
                            style: "esriSFSSolid",
                            type: "esriSFS"
                        }*/
                    },
                    geometry: Terraformer.ArcGIS.convert(geojson_feat.geometry)
                };
                new_esri_feat.geometry.spatialReference.wkid = 102091
                new_esri_feat.geometry.spatialReference.latestWkid = 3003
                esri_features.push(new_esri_feat);
            }
      }
      var esri_features_JSON = JSON.stringify(esri_features);
      var paper_w = (dim[0]/10).toString();
      var paper_h = (dim[1]/10).toString();
      var contenuto = '{{ etichetta|escapejs }} in scala 1:'+ (bestScale*1000).toString()+ ' ' + $('#note').val().replace('"','').replace("'","");
      var post_parameters = {
          "id": {{ idx }},
          "feats": esri_features,
          "printpar": {
            "extent": bestFrame,
            "scale": bestScale*1000,
            "srid": 3003,
            "esri_bound": get_esri_ring(bestBound),
            "esri_frame": get_esri_ring(bestFrame),
            "title": "Definizione Grafica {{ idx }}",
            "dpi": '150',
            "note": $('#note').val(),
            "auth": "Settore urbanistica, Servizi catastali",
            "copyright": "Comune di Padova"
          },
          "Layout_Template": printOutput_templates[scelta_formato.toString()+scelta_orientamento.toString()]
      }
      
      $.ajax({
          url: '/certificati/defprint/',
          type: 'POST',
          data: JSON.stringify(post_parameters),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          async: false,
          crossOrigin: false,
          success: function(payload) {
              console.log(payload.print);
              $('#progress').addClass("hidden");
              $('#scarica').removeClass("hidden");
              $('#note').val(payload.note);
              pdf_url = payload.definizione_url;
              if (payload.errore) {
                    $('#errore').removeClass("hidden");
                    $('#errore').html('<strong>'+payload.errore+'</strong>');
              } else {
                  $('#errore').addClass("hidden")
              }
              /*
              $("<a />", {
                      "download": "stampaDXF.pdf",
                      "target": "_blank",
                      "href" : payload.print
                  }).appendTo("body").click(function() {
                        $(this).remove()
                  })[0].click()*/
          }
        });
    });
    
    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );
    });
    
    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });
    
    $( '#scarica' ).click( function(event) {
        $("<a />", {
                "download": "definizione.pdf",
                "target": "_blank",
                "href" : pdf_url,
            }).appendTo("body").click(function() {
                  $(this).remove()
            })[0].click();
    });
    
    $('#formato').change( function(event) {
        onPrintParamChange();
    });
    
    $('#orientamento').change( function(event) {
        onPrintParamChange();
    });

    console.log('doc ready');
});

function init(){

    //rilievo overlay
      {% if features %}
      geojsonObject ={{features|safe}};
      geojsonObject.crs = { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } };
      
      rilevoFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject));
      
      {% else %}
      rilevoFeatures = new ol.Collection();
      {% endif %}
      rilievoOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: rilevoFeatures}),
        title: 'rilievo',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });
    

    //poligono overlay
      {% if poligono %}
      geojsonObject_p ={{poligono|safe}};
      geojsonObject_p.crs = { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } };
      
      poligonoFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject_p));
      
      {% else %}
      poligonoFeatures = new ol.Collection();
      {% endif %}
      poligonoOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: poligonoFeatures}),
        title: 'poligono della definizione grafica richiesta',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#00ff00',
            width: 6
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });
    

    mappa = new ol.Map({
      //interactions: ol.interaction.defaults().extend([new app.Drag()]),
      layers: [

{% include 'cdu_baselayers.html' %}


          rilievoOverlay,
          poligonoOverlay
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap()
      ]),
      target: 'map',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });

    onPrintParamChange();

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    mappa.addControl(layerSwitcher);

    var dxf_extent = poligonoOverlay.getSource().getExtent();
    mappa.getView().fit(dxf_extent, mappa.getSize());
    
    //suggerisce formati di carta per avere stampe 1:1000 (1m=1mm)
    var map_width = dxf_extent[2]-dxf_extent[0];
    var map_height = dxf_extent[3]-dxf_extent[1];
    if (map_width > map_height){
        var suggested_orientation = 1;
        var rif = 0;
        var rif_dim = map_width;
    } else {
        var suggested_orientation = 0;
        var rif = 1;
        var rif_dim = map_height;
    }
    for (var paper_dim = 0; formati_carta.length; paper_dim++){
        if (formati_carta[suggested_orientation][paper_dim][rif] > rif_dim){
            break;
        }
    $("#formato").val(paper_dim);
    $("#orientamento").val(suggested_orientation);
    }

    enable_layer_state_tracking(mappa)

}


</script>
{% endblock %}
{% block onload %} {% if features %}onload="init()"{% endif %}{% endblock %}
{% block titolo %}DEFINIZIONE {% if idx %} {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}} {% endif %}{% endblock %}
{% block menu %}
<li>
<a href="/certificati/dg">Elenco definizioni grafiche</a>
</li>
{% endblock %}

{% block contenuto %}


<div class="container"> 
   <div class="col-md-12">
     <form class="form-inline" id="definizione" role="form" action="/certificati/definizione/{{idx}}/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div id="nav">
          {% for stato in avanzamento%}
              <a id="{{ stato.1 }}" class="fase btn {% if stato.2 %}btn-success"{% else %}btn-default" disabled="disabled"{% endif %} role="button">{{ stato.0 }}</a>
          {% endfor %}
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">immettere la dimensione del foglio</div>
        <div class="panel-body">
        {% if errore and file_dxf != "" %}
        <div id="errore" class="alert alert-warning"><strong>ERRORE:</strong>{{errore}}</div>
        {% else %}
        <div id="errore" class="alert alert-warning hidden"></div>
        {% endif %}
              
         <div class="container">
            <div class="row">
                        <div class="form-inline">
                                <div class="form-group">
                                    <select id="formato" class="combobox input-large form-control" name="inline">
                                        <option value="0">A4</option>
                                        <option value="1">A3</option>
                                    </select>
                                    <select id="orientamento" class="combobox input-large form-control" name="inline">
                                        <option value="0">Verticale</option>
                                        <option value="1">Orizzontale</option>
                                    </select>
                                    <div id="scala" class='btn'></div>
                                </div>
                                <div class="form-group">
                                        <input type="text" class="form-control" id="note" placeholder="Note" value="{{ note }}">
                                </div>
                                <div class="form-group">
                                    <input id="print" type="button" class="btn btn-primary" value={% if definizione %}"Rigenera"{% else %}"Genera"{% endif %} />
                                    <input id="scarica" type="button" class="btn btn-primary {% if not definizione_url %}hidden{% endif %}" value="Scarica Definizione" />
                                    <div class="form-control hidden" id="progress"></div>
                                </div>
                    </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
        <div style="width:100%;height:600px;padding-top:10px" id="map"></div>
        </div> <!-- /.panel body -->

       </div>
     </form>
  </div>
</div>
{% if table%}
<div class="container"> 
    <div id ="destinazioni" class="col-md-12">
        {{ table }}
    </div>
    <a class="hidden" id="ricalcola"  role="button">Ricalcola</a>
    
</div>
{% endif %}

{% endblock %}
{% block piedipagina %}{% endblock %}
