{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css" />
{% endblock %}
{% block custom_style_inline %}

#nav {
    margin: 5px;
}

#map {
    padding-bottom: 10px;
}

.my_ctrl {
  position: absolute;
  top: 65px;
  left: 7px;
  border-radius: 4px;
  padding: 0px;
  background-color: rgba(0,60,136,0.5);
  color: white;
  height: 24px;
  width: 24px;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  border-radius: 2px;
  margin: 1px;
  text-decoration: none;
  text-align: center;
}

.my_ctrl a {
  display: block;
  color: white;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  margin: 1px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  height: 22px;
  width: 22px;
  background: rgba(0,60,136,0.5);
}

.my_ctrl:focus {
  background: rgba(200,0,40,0.5);
}

.crtl_measure {
  background-image: url("static/certificati/measure.png");
}

.crtl_modify {
  background-image: url("static/certificati/modify.png");
}


.my_ctrl:hover {
  background: rgba(200,0,40,0.5);
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}
.ol-popup {padding: unset;width:300px;}
.ol-popup-closer {font-size:100%;}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding-right:25px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size:80%;
} 

.ol-popup-closer {
	top: -22px;
	right: 0px;
  padding: 0 3px;
	background-color: white;
}

.pptable {
  width: 100%;
}

.pptable {
  width: 100%;
}

.pptable th {
  vertical-align: top;
}

.pptablehead {
  width: 40%;
}

.pptablerow:nth-child(odd) {
    background-color: #eeeeee;
}

.pptablerow:first-child th {
    background-color: #cccccc;
}

.pptablerow:first-child td {
    background-color: #cccccc;
}

.pptabledata {
  width: 60%;
  padding: 2px;
  overflow: hidden;
  word-wrap: anywhere;
}

{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://unpkg.com/ol-popup@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script type="text/javascript">

{% localize off %}
var targetExtent = [1716014, 5023919, 1737137, 5038662];
{% endlocalize %}

var map_catasto;
var cartaweb, polyTargetFeatures, polyTargetOverlay, fabbricatiFeatures, fabbricatiOverlay;
var measure;
var measure_source = new ol.source.Vector();

var polygon_interaction, measure_interaction;
var snap2measures, snap2polygon;

var measureTooltipElement;
var measureTooltip;

{% if cartaweb %}
cartaweb = {{ cartaweb|safe }}
{% endif %}

proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +towgs84=-104.1,-49.1,-9.9,0.971,-2.917,0.714,-11.68 +units=m +no_defs");
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var UTM33Extent = [166021.4431, 0.0000, 833978.5569, 9329005.1825];
proj4.defs('EPSG:32633', '+proj=utm +zone=33 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM33proj = new ol.proj.Projection({
    code: 'EPSG:32633',
    extent: UTM33Extent
});
ol.proj.addProjection(UTM32proj);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

var GEOJson_convertitore = new ol.format.GeoJSON();

var WKT_convertitore = new ol.format.WKT();

var EsriJSON_convertitore = new ol.format.EsriJSON ();

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        console.log(csrftoken);
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){

    // funzione per intecettare invio della form ed aggiungere alcuni campi prima del submit
    $('#ricalcola').click(function(eventObj) {
        
        var features = polyTargetOverlay.getSource().getFeatures();
        var feature = features[0];
        var geometry = feature.getGeometry();
        console.log(features);
        console.log(feature);
        console.log(geometry);
        
        var geom = WKT_convertitore.writeGeometry(geometry);
        
        var jsonData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            poligono: JSON.stringify(geom)
        }
        
        $.ajax({
            url: '/certificati/ricalcola/',
            type: 'POST',
            data: JSON.stringify(jsonData),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(payload) {
                table = payload.table;
                $('#destinazioni').html(table);
                }
        });
    });

    $('#individuazione').submit(function(eventObj) {
        console.log("fase2");
        var features = polyTargetOverlay.getSource().getFeatures();
        var feature = features[0];
        var geometry = feature.getGeometry();
        var geom_WKT = WKT_convertitore.writeGeometry(geometry);
        console.log(geom_WKT);
        var geom_GEOJson = GEOJson_convertitore.writeGeometry(geometry);
        console.log(geom_GEOJson);
        var geom_EsriJSON = EsriJSON_convertitore.writeGeometry(geometry);
        console.log(geom_EsriJSON);
        var poligono = JSON.stringify(geom_WKT);
        var poligono_EsriJSON = JSON.stringify(geom_EsriJSON);
        $(this).append("<input type='hidden' name='poligono' value='"+poligono+"' /> ");
        $(this).append("<input type='hidden' name='poligono_EsriJSON' value='"+poligono_EsriJSON+"' /> ");
    });
    
    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );;
    });
    
    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });
    
    $( '#misura' ).click( function(event) {
        if ($( "#misura" ).hasClass( "ctrl_enabled" )){
            console.log("measure_disabled");
            $( "#misura" ).removeClass( "ctrl_enabled" );
            //$( "#misura" ).html('Misura');
            //$( "#draw_measures" ).toggleClass( "focus" );
            $( "#misura" ).toggleClass( "btn-warning" );
            map_catasto.addInteraction(drag_polygon);
            map_catasto.addInteraction(select);
            map_catasto.addInteraction(modify);
            map_catasto.removeInteraction(measure);
            map_catasto.removeInteraction(snap2polygon);
            map_catasto.addInteraction(snap2measures);
            
        } else {
            $( "#misura" ).addClass( "ctrl_enabled" );
            //$( "#misura" ).html('Modifica');
            //$( "#draw_measures" ).toggleClass( "focus" );
            $( "#misura" ).toggleClass( "btn-warning" );
            console.log("measure_enabled");
            map_catasto.removeInteraction(drag_polygon);
            map_catasto.removeInteraction(select);
            map_catasto.removeInteraction(modify);
            map_catasto.addInteraction(measure);
            map_catasto.addInteraction(snap2polygon);
            map_catasto.addInteraction(snap2measures);
        }
    });

    console.log('doc ready');
});


window.app = {};
var app = window.app;

app.Drag = function() {
  
  ol.interaction.Pointer.call(this, {
    handleDownEvent: app.Drag.prototype.handleDownEvent,
    handleDragEvent: app.Drag.prototype.handleDragEvent,
    handleMoveEvent: app.Drag.prototype.handleMoveEvent,
    handleUpEvent: app.Drag.prototype.handleUpEvent
  });

  this.coordinate_ = null;

  this.cursor_ = 'pointer';

  this.feature_ = null;

  this.previousCursor_ = undefined;

};

ol.inherits(app.Drag, ol.interaction.Pointer);

app.Drag.prototype.handleDownEvent = function(evt) {
  var map = evt.map;

  var feature = map.forEachFeatureAtPixel(evt.pixel,
        function(feature, layer) {
          return feature;
        },
        {layerFilter: function (layer) {
              return layer === polyTargetOverlay;
          }
        }
    );

  if (feature) {
    this.coordinate_ = evt.coordinate;
    this.feature_ = feature;
  }

  return !!feature;
};

app.Drag.prototype.handleDragEvent = function(evt) {
  var map = evt.map;

  var feature = map.forEachFeatureAtPixel(evt.pixel,
        function(feature, layer) {
          return feature;
        },
        {layerFilter: function (layer) {
              return layer === polyTargetOverlay;
          }
        }
    );

  var deltaX = evt.coordinate[0] - this.coordinate_[0];
  var deltaY = evt.coordinate[1] - this.coordinate_[1];
  var geometry = /** @type {ol.geom.SimpleGeometry} */
      (this.feature_.getGeometry());
  geometry.translate(deltaX, deltaY);
    
    {% if fabbricati %}
    //muovi anche i fabbricati
    var fabbricatiGeometry = fabbricatiOverlay.getSource().getFeatures()[0].getGeometry();
    fabbricatiGeometry.translate(deltaX, deltaY);
    {% endif %}
    
  this.coordinate_[0] = evt.coordinate[0];
  this.coordinate_[1] = evt.coordinate[1];
};

app.Drag.prototype.handleMoveEvent = function(evt) {
  if (this.cursor_) {
    var map = evt.map;

    var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature, layer) {
            return feature;
          },
          {layerFilter: function (layer) {
                return layer === polyTargetOverlay;
            }
          }
      );

    var element = evt.map.getTargetElement();
    if (feature) {
      if (element.style.cursor != this.cursor_) {
        this.previousCursor_ = element.style.cursor;
        element.style.cursor = this.cursor_;
      }
    } else if (this.previousCursor_ !== undefined) {
      element.style.cursor = this.previousCursor_;
      this.previousCursor_ = undefined;
    }
  }
};

app.Drag.prototype.handleUpEvent = function(evt) {
  this.coordinate_ = null;
  this.feature_ = null;
  $('#ricalcola').trigger( "click" );
  return false;
};

var my_control = window.app;

my_control.draw_measures = function(opt_options) {
    var options = opt_options || {};
    var anchor = document.createElement('a');
    anchor.href = '';
    anchor.innerHTML = 'M';
    
    var button = document.createElement('button');
    button.innerHTML = 'M';
    button.type = "button";
    var this_ = this;
    var draw_measure = function(e) {
        $("#misura").trigger("click");
    };

    //anchor.addEventListener('click', draw_measure, false);
    //var element = document.createElement('div');
    //element.className = 'my_ctrl ol-unselectable';
    //element.id = 'draw_measures'
    //element.appendChild(anchor);
    
    button.addEventListener('click', draw_measure, false);
    button.id = 'draw_measures';
    button.className = 'ol-control button my_ctrl';

    ol.control.Control.call(this, {
      element: button, //element,
      target: options.target
    });
};

ol.inherits(my_control.draw_measures, ol.control.Control);

var measure = new ol.interaction.Draw({
    source: measure_source,
    type: 'LineString',
    maxPoints: 2,
    style: new ol.style.Style({
      fill: new ol.style.Fill({
        color: 'rgba(255, 255, 255, 0.2)'
      }),
      stroke: new ol.style.Stroke({
        color: 'rgba(0, 0, 0, 0.5)',
        lineDash: [10, 10],
        width: 2
      }),
      image: new ol.style.Circle({
        radius: 5,
        stroke: new ol.style.Stroke({
          color: 'rgba(0, 0, 0, 0.7)'
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        })
      })
    })
  });


var listener;
var startCoordinate;
measure.on('drawstart',
  function(evt) {
    // set sketch
    sketch = evt.feature;
    /** @type {ol.Coordinate|undefined} */
    var tooltipCoord = evt.coordinate;
    listener = sketch.getGeometry().on('change', function(evt) {
    var geom = evt.target;
    var output;
    if (!startCoordinate){startCoordinate = geom.getLastCoordinate();}
    output = formatLength(geom);
    midCoordinate = [(geom.getLastCoordinate()[0]+startCoordinate[0])/2,(geom.getLastCoordinate()[1]+startCoordinate[1])/2];
    tooltipCoord = midCoordinate;
    measureTooltipElement.innerHTML = output;
    measureTooltip.setPosition(tooltipCoord);
    });
  }, this);

measure.on('drawend',
  function() {
    measureTooltipElement.className = 'tooltip tooltip-static';
    measureTooltip.setOffset([0, -7]);
    // unset sketch
    sketch = null;
    // unset tooltip so that a new one can be created
    measureTooltipElement = null;
    createMeasureTooltip();
    ol.Observable.unByKey(listener);
    startCoordinate = undefined;
  }, this);

var formatLength = function(line) {
  var length = Math.round(line.getLength() * 100) / 100;
  var output;
  if (length > 1000) {
    output = (Math.round(length / 1000 * 100) / 100) +
        ' ' + 'km';
  } else {
    output = (Math.round(length * 100) / 100) +
        ' ' + 'm';
  }
  return output;
};

function createMeasureTooltip() {
  if (measureTooltipElement) {
    measureTooltipElement.parentNode.removeChild(measureTooltipElement);
  }
  measureTooltipElement = document.createElement('div');
  measureTooltipElement.className = 'tooltip tooltip-measure';
  measureTooltip = new ol.Overlay({
    element: measureTooltipElement,
    offset: [0, -15],
    positioning: 'bottom-center'
  });
  map_catasto.addOverlay(measureTooltip);
}

var drag_polygon = new app.Drag();

var select = new ol.interaction.Select();

var modify = new ol.interaction.Modify({
  features: select.getFeatures()
});

modify.on('modifyend', function (evt) {$('#ricalcola').trigger( "click" );})

polygon_interactions = ol.interaction.defaults().extend([drag_polygon,select, modify])



var wms_rapper, getf_popup;

function tabbedPopup (html) {
  var template = document.createElement('div');
  html = html.trim();
  template.innerHTML = html;

  for (const th of template.querySelectorAll("th")) {
    if (th.textContent == "link") {
      th.innerHTML = '<a href="' + th.nextSibling.textContent + '" target="_blank">LINK</a>'
      th.nextSibling.parentNode.removeChild(th.nextSibling)
    }
  }

  let tables = template.getElementsByTagName("table")
  let contenuti = {}
  let rapper_layers = ["cdu", "piani", "vincoli", "istanze", "pratiche"]
  for (let i = 0; i < tables.length-1; i++) {
    let table = tables[i]
    let tds = table.getElementsByTagName("td")
    let nextTable = tables[i+1]
    let ntds = nextTable.getElementsByTagName("td")
    if (rapper_layers.includes(tds[0].innerHTML) && !rapper_layers.includes(ntds[0].innerHTML)) {
      let next_tds = ntds
      let idx = i+1
      let tablesContainer = document.createElement('div')
      tablesContainer.setAttribute('class', 'tablecontainer')
      while (!rapper_layers.includes(next_tds[0].innerHTML)) {
        tablesContainer.append(document.createElement('br'))
        tablesContainer.append(tables[idx])
        idx += 1
        if (idx<=tables.length-1) {
          next_tds = tables[idx].getElementsByTagName("td")
        } else {
          break
        }
      }
      contenuti[tds[0].innerHTML] = tablesContainer
    }
  }
  if (Object.keys(contenuti).length === 0) return undefined

  let panel_menu = document.createElement('div')
  panel_menu.setAttribute('class', 'tab')
  let active = true
  for (const [key, value] of Object.entries(contenuti)) {
    let elclass = 'tablinks'
    if (active) { 
      elclass += ' active'
      active = false
    }
    let nchild = value.childElementCount / 2
    let newItem = document.createElement('button')
    newItem.setAttribute('class', elclass)
    newItem.setAttribute('id',"_"+key)
    newItem.setAttribute('onclick', "openTab('"+ key +"')")
    newItem.innerText = nchild > 1 ? key + ':' + nchild.toString() : key
    panel_menu.appendChild(newItem)
  }
  let panel_tabs = document.createElement('div')
  panel_tabs.setAttribute('class', 'tabcontainer')
  active = true
  for (const [key, value] of Object.entries(contenuti)) {
    let elclass = 'tabcontent'
    let elstyle = 'display:none;'
    if (active) { 
      elclass += ' active'
      elstyle = 'display:block;'
      active = false
    }
    let newItem = document.createElement('div')
    newItem.setAttribute('id', key)
    newItem.setAttribute('style', elstyle)
    newItem.setAttribute('class', elclass)
    newItem.appendChild(value)
    panel_tabs.appendChild(newItem)
  }
  let panel = document.createElement('div')
  panel.setAttribute('class', 'panelcontainer')
  panel.appendChild(panel_menu)
  panel.appendChild(panel_tabs)
  return panel
}

function openTab(tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  document.getElementById("_"+tabName).className += " active";
} 

function init(){

      wms_rapper = new ol.layer.Tile({
        extent: targetExtent,
        title: 'Layer gestiti da rapper',
        visible: false,
        source: new ol.source.TileWMS({
          url: 'https://rapper.comune.padova.it/qgisserver/?MAP=/dati/archiviazione/servizi/DEFAULT/RAPPER.qgs',
          params: {layers: 'pratiche,cdu,vincoli,istanze,piani',format:'image/png',CRS:'EPSG:3003'}
        })
      })

      wms_rapper.on("change:visible", function(evt){
        console.log (wms_rapper.getVisible())
      })

      {% if features %}
      var geojsonObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': {{features|safe}}
            }]
      }
      
      polyTargetFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject));
      {% else %}
      polyTargetFeatures = new ol.Collection();
      {% endif %}

      {% if fabbricati %}
      var fabbricatiObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': {{fabbricati|safe}}
            }]
      }
      
      fabbricatiFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(fabbricatiObject));
      {% else %}
      fabbricatiFeatures = new ol.Collection();
      {% endif %}
      
      polyTargetOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: polyTargetFeatures,
          projection: targetProjection
        }),
        title: 'poligono delle ditte catastali richieste',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });
      
      fabbricatiOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: fabbricatiFeatures,
          projection: targetProjection
        }),
        title: 'poligono dei fabbricati catastali richiesti',
        visible: false,
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 0, 0.4)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ffff00',
            width: 3
          })
        })
      });

    measures = new ol.layer.Vector({
        source: measure_source,
          title: 'misurazioni',
          style: new ol.style.Style({
            fill: new ol.style.Fill({
              color: 'rgba(255, 255, 255, 0.2)'
            }),
            stroke: new ol.style.Stroke({
              color: '#ffcc33',
              width: 2
            }),
            image: new ol.style.Circle({
              radius: 7,
              fill: new ol.style.Fill({
                color: '#ffcc33'
              })
            })
          })
    })


    snap2measures = new ol.interaction.Snap({
        source: measures.getSource()
    });
    snap2polygon = new ol.interaction.Snap({
        source: polyTargetOverlay.getSource()
    });
      

    map_catasto = new ol.Map({
      interactions: ol.interaction.defaults().extend([new app.Drag(),select, modify, snap2measures]),
      layers: [

{% include 'cdu_baselayers.html' %}
          
          wms_rapper,
          fabbricatiOverlay,
          polyTargetOverlay,
          measures
      ],
      controls: ol.control.defaults().extend([
        new ol.control.MousePosition(),
        //new my_control.draw_measures({}),
        new ol.control.OverviewMap()
      ]),
      target: 'map',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map_catasto.addControl(layerSwitcher);

    extent = polyTargetOverlay.getSource().getExtent();
    map_catasto.getView().fit(extent, map_catasto.getSize()); 
    
    createMeasureTooltip();

    getf_popup = new ol.Overlay.Popup();
    map_catasto.addOverlay(getf_popup);

    map_catasto.on('singleclick', function(evt) {
      console.log(evt)
      if (!wms_rapper.getVisible()) return
      //console.log("LAYER", layer)
      var viewResolution = map_catasto.getView().getResolution();
      var url = wms_rapper.getSource().getGetFeatureInfoUrl(
          evt.coordinate, viewResolution, targetProjection, {
              'INFO_FORMAT': 'application/json' , //'application/json','text/html'
              'QUERY_LAYERS': ['cdu,istanze,piani,vincoli,pratiche'],
              'FEATURE_COUNT': 10
          });
      console.log("QUERY", url)
      if (url) {
          var xhttp;
          xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  const pp = tabbedPopup(xhttp.responseText)
                  if ( pp ) { getf_popup.show(evt.coordinate, pp) }
                  //console.log(xhttp.responseText)
              }
          };
          xhttp.open("GET", url, true);
          xhttp.send();

      }
    });
    
    enable_layer_state_tracking(map_catasto)
}


</script>
{% endblock %}
{% block onload %} {% if features %}onload="init()"{% endif %}{% endblock %}
{% block titolo %}CERTIFICATO{% if idx %} {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}} {% endif %} {% endblock %}
{% block menu %}
<li>
<a href="/certificati/cd">Elenco certificati</a>
</li>
{% endblock %}
{% block contenuto %}


<div class="container">
    <div class="row">
        <form id="individuazione" role="form" action="/certificati/individuazione/{% if idx %}{{ idx }}/{% endif %}" method="post">
            <div class="col-sm-12">
                <div id="nav">
                {% for stato in avanzamento%}
                    <a id="{{ stato.1 }}" class="fase btn {% if stato.2 %}btn-success"{% else %}btn-default" disabled="disabled"{% endif %} role="button">{{ stato.0 }}</a>
                {% endfor %}
                    <div class="pull-right">
                      <a id="prossimo"  class="btn btn-primary hidden" role="button">Prossimo</a>
                      <button id="submit" class="btn btn-default" type="submit">Prossimo</button>
                    </div>
                </div><!-- /nav -->
            </div><!-- /.col-sm-12 -->
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Individuazione planimetrica della richiesta FOGLI/MAPPALI: {{coordinateCatastali}}</div>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                <input type="text" class="form-control hidden" id="coordinateCatastali" name="coordinateCatastali" placeholder="Coordinate Catastali" value="{{coordinateCatastali}}">
                                <span class="input-group-btn">
                                    <button id="submit" class="btn btn-default hidden" type="submit">Cerca</button>
                                </span>
                            </div><!-- /input-group -->
                        </div><!-- /.col-md-12 -->
                    </div><!-- /.row -->
                    {% if errore and coordinateCatastali != "" %}<div class="alert alert-warning"><strong>ERRORE:</strong>{{errore}}</div>{% endif %}
                
                    {% if features %}
                    <div class="panel-body">
                      <div style="width:100%;height:800px" id="map"></div>
                      <a class="btn btn-default" data-toggle="button" id="misura"   role="button">Misura</a>
                    </div>
                    {% endif %}
                </div><!-- /panel panel-default -->
            </div><!-- /col-sm-12 -->
        </form>
    </div>
</div>
{% if table%}
<div class="container"> 
    <div class="col-md-12">
            <a class="btn btn-primary hidden" id="ricalcola" role="button">Ricalcola</a>
    </div>
</div>
<div class="container"> 
    <div id ="destinazioni" class="col-md-12">
        {{ table|safe }}
    </div>
</div>
{% endif %}

{% endblock %}
{% block piedipagina %}{% endblock %}
