{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
{% endblock %}
{% block custom_style_inline %}
.full {
    height: 100% !important;
    width: 100% !important;
}

#nav {
    margin: 5px;
    
}
{% endblock %}
{% block custom_js %}
{{ form.media }}
<script type="text/javascript">
  
$(document).ready(function(){
    
    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );
    });
    
    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });
    
    $( '#div_rilievo_raw' ).change( function(event) {
        $( '#id_coordinate_catastali' ).attr('value', "0/0")
    });
})


</script>
{% endblock %}
{% block onload %}{% endblock %}
{% block titolo %}
{% if tipo == 'cd' %}
{% if idx %}CERTIFICATO {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}}{% else %}NUOVO CERTIFICATO DI DESTINAZIONE URBANISTICA{% endif %}
{% elif tipo == 'dg' %}
{% if idx %}DEFINIZIONE {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}}{% else %}NUOVA DEFINIZIONE GRAFICA{% endif %}
{% endif %} 
{% endblock %}
{% block menu %}
<li>
{% if tipo == 'cd' %}
    <a href="/certificati/cd">Elenco certificati</a>
{% elif tipo == 'dg' %}
    <a href="/certificati/dg">Elenco definizioni grafiche</a>
{% endif %} 

</li>
{% endblock %}
{% block contenuto %}

<div class="container"> 
  <div class="row">
      <div class="col-md-12">
        <form id="dataset" action="/certificati/{% if idx %}inserimento/{{tipo}}/{{idx}}/{% else %}inserimento/{{tipo}}/{% endif %}" method="post" enctype="multipart/form-data">
            <div id="nav">
              {% for stato in avanzamento%}
                  <a id="{{ stato.1 }}" class="fase btn {% if stato.2 %}btn-success"{% else %}btn-default" disabled="disabled"{% endif %} role="button">{{ stato.0 }}</a>
              {% endfor %}
              <div class="pull-right">
                <a id="prossimo"  class="btn btn-primary hidden" role="button">Prossimo</a>
                <input id="submit" type="submit" class="btn btn-primary" value="Prossimo" />
              </div>
            </div>
          <div class="panel panel-default">
            <div class="panel-heading">Inserimento della richiesta</div>
            <div class="panel-body">
              <table class="full">
                {% for field in form.visible_fields %}
                <div id="div_{{ field.html_name }}" 
                     class="form-group{% if field.errors %} has-error{% endif %}">
                    {{ field.label_tag }}
                    {% localize on %}
                    {{ field }}
                    {% endlocalize %}
                    <div class="text-muted pull-right">
                        <small>{{ field.help_text }}</small>
                    </div>
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                
                {% comment %}
                    {% if field.auto_id == 'id_protocollo_data' %}
                        <div class="form-group">
                            <div class='input-group date' id='datepicker_1'>
                                <input name="{{ field.name }}" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endcomment %}
                {% csrf_token %}
                
              </table>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
