{% load static %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=ASCII">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.4.2 (Windows)">
	<META NAME="AUTHOR" CONTENT="Enrico Ferreguti">
	<META NAME="CREATED" CONTENT="20160504;15083370">
	<META NAME="CHANGEDBY" CONTENT="Enrico Ferreguti">
	<META NAME="CHANGED" CONTENT="20160504;15344832">
	<STYLE TYPE="text/css">
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm; font:14px/21px  Arial, sans-serif; }
        ul {margin: 0;}
        ul.dashed {list-style-type: none;}
        ul.dashed > li {text-indent: -5px;}
        ul.dashed > li:before {content: "-"; text-indent: -5px;}
	</STYLE>
</HEAD>
<BODY LANG="it-IT" DIR="LTR">
<div id="content">
<P ALIGN=CENTER STYLE="margin-bottom: 0cm">
	<IMG 
		ALT="{% static 'certificati/logo001.png' %}" 
		SRC="../logo001.png" 
		NAME="immagini1" 
		ALIGN=BOTTOM 
		WIDTH=500 
		HEIGHT=100 
		BORDER=0 
	>
</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm">{{ parametri.settore }}</P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm">Pratica n.{{ protocollo_entrata }}</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm">VISTA la domanda e la
planimetria catastale alla stessa allegata, presentata da: 
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><B>{{ ditta }}
</B></SPAN>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">acquisita
agli atti del Settore Urbanistica e Servizi Catastali in data {{ data_presentazione }} con il n. {{ protocollo_entrata }} di protocollo generale;</SPAN></SPAN><BR/>
<SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTO
l'art. 30.2 del D.P.R. 6 giugno 2001 n. 380;</SPAN></SPAN><BR/>
<SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTO
il Decreto Legislativo 18 agosto 2000, n. 267;</SPAN></SPAN><BR/>
<SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTO
l'articolo 72 dello Statuto del Comune di Padova;</SPAN></SPAN><BR/>
<SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTA
la documentazione in atti:</SPAN></SPAN><BR/>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">SI  CERTIFICA</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm">
{% for riga in contenuto %}
<SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">- {{ riga }}</SPAN></SPAN><BR/>
{% endfor %}
<SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">
Quanto sopra salvo disposizioni discendenti da leggi statali e regionali o previsioni di progetti di opere pubbliche approvate.<BR/>
Il presente certificato non può essere prodotto agli organi della Pubblica Amministrazione o ai privati gestori di pubblici servizi.<BR/>
</SPAN></SPAN>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Padova,
{{ data_emissione }}</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">{{ parametri.firma_titolo }}</SPAN></SPAN></P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">{{ parametri.firma_nome }}</SPAN></SPAN></P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">(con Firma Digitale)</SPAN></SPAN></P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><BR>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Eventuali
difformit&agrave; tra le destinazioni di P.I redatte su base
catastale (Agenzia delle Entrate) e le zonizzazioni di P.I. Redatte
su rilievo reale dei luoghi sono dovute al disallienamento
cartografico tra le due banche dati.</SPAN></SPAN></P>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Imposta di bollo assolta in modo virtuale. Autorizzazione Agenzia delle Entrate Direzione Provinciale di Padova n. 32742/96/2T del 06/12/1996.</SPAN></SPAN></P>
</div>

</BODY>
</HTML>
