<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=windows-1252">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.4.2 (Windows)">
	<META NAME="CREATED" CONTENT="20130301;10320000">
	<META NAME="CHANGED" CONTENT="20160627;10214527">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 3.23cm; margin-right: 4.81cm; margin-top: 2.5cm; margin-bottom: 2.5cm }
		P { margin-bottom: 0.21cm; direction: ltr; color: #000000; widows: 0; orphans: 0 }
		P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: it-IT }
		P.cjk { font-family: "Lucida Sans Unicode", sans-serif; font-size: 12pt; so-language: zh-CN }
		P.ctl { font-family: "OpenSymbol", "Arial Unicode MS"; font-size: 12pt; so-language: hi-IN }
		H2 { margin-top: 0cm; margin-bottom: 0cm; direction: ltr; color: #000000; widows: 0; orphans: 0; page-break-after: auto }
		H2.western { font-size: 14pt; so-language: it-IT; font-style: italic }
		H2.cjk { font-family: "Lucida Sans Unicode", sans-serif; font-size: 14pt; so-language: zh-CN; font-style: italic }
		H2.ctl { font-family: "OpenSymbol", "Arial Unicode MS"; font-size: 14pt; so-language: hi-IN; font-style: italic }
		TD P { margin-bottom: 0cm; direction: ltr; color: #000000; widows: 0; orphans: 0 }
		TD P.western { font-family: "Times New Roman", serif; font-size: 12pt; so-language: it-IT }
		TD P.cjk { font-family: "Lucida Sans Unicode", sans-serif; font-size: 12pt; so-language: zh-CN }
		TD P.ctl { font-family: "OpenSymbol", "Arial Unicode MS"; font-size: 12pt; so-language: hi-IN }
	-->
	</STYLE>
</HEAD>
<BODY LANG="it-IT" TEXT="#000000" BGCOLOR="#ffffff" DIR="LTR">
<DIV ALIGN=RIGHT>
	<TABLE WIDTH=493 CELLPADDING=4 CELLSPACING=0 STYLE="page-break-before: always">
		<COL WIDTH=109>
		<COL WIDTH=366>
		<TR VALIGN=TOP>
			<TD WIDTH=109 STYLE="border-top: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-left: 1px solid #ffffff; border-right: none; padding-top: 0.1cm; padding-bottom: 0.1cm; padding-left: 0.1cm; padding-right: 0cm">
				<P CLASS="western" ALIGN=RIGHT STYLE="margin-left: 0.01cm; margin-right: 0.01cm">
				<IMG SRC="{{ host }}/static/certificati/logo001.png" NAME="Oggetto1" ALIGN=BOTTOM WIDTH=78 HEIGHT=80></P>
			</TD>
			<TD WIDTH=366 STYLE="border: 1px solid #ffffff; padding: 0.1cm">
				<H2 CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.01cm; margin-right: 0.01cm; margin-top: 0.42cm; font-weight: normal">
				<FONT FACE="Book Antiqua, serif"><FONT SIZE=6 STYLE="font-size: 28pt">Comune
				 di  Padova</FONT></FONT></H2>
			</TD>
		</TR>
	</TABLE>
</DIV>
<H2 CLASS="western" ALIGN=CENTER STYLE="margin-top: 0.42cm; margin-bottom: 0.21cm; line-height: 200%">
 <FONT FACE="Times New Roman, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">SETTORE
URBANISTICA E SERVIZI CATASTALI</SPAN></SPAN></FONT></FONT></H2>
<P CLASS="western" STYLE="margin-bottom: 0cm; line-height: 200%"><FONT SIZE=3>Prot.
Gen. n.</FONT><FONT SIZE=3><B> </B></FONT><FONT SIZE=3><B>{{ protocollo_uscita }}</B></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>IL CAPO SETTORE</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>VISTA la domanda e la planimetria catastale alla stessa
allegata, presentata da <FONT SIZE=3><B> {{ ditta }} </B></FONT><FONT SIZE=3><B>
</B></FONT><FONT SIZE=3>acquisita agli atti del Comune </FONT><FONT SIZE=3><SPAN STYLE="font-weight: normal">il
</SPAN></FONT><FONT SIZE=3><B> {{ data_presentazione }} </B></FONT><FONT SIZE=3>
con il protocollo </FONT><FONT SIZE=3><SPAN STYLE="font-weight: normal">n.</SPAN></FONT><FONT SIZE=3><B>
</B></FONT><FONT SIZE=3><B>{{ protocollo_entrata }}</B></FONT><FONT SIZE=3><B> </B></FONT><FONT SIZE=3>di
protocollo generale;</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>VISTO l'art. 30.2 del D.P.R. 6 giugno 2001 n. 380;</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>VISTO il Decreto Legislativo 18 agosto 2000, n. 267;</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>VISTO l'articolo 72 dello Statuto del Comune di Padova;</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>VISTA la documentazione in atti: </FONT>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>C E R T I F I C A </FONT>
</P>
<UL>
{% for riga in contenuto %}
	<LI><P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%"></P></LI>
{% endfor %}
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>Quanto sopra salvo disposizioni discendenti da leggi
statali e regionali o previsioni di progetti di opere pubbliche
approvate.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="text-indent: -0.03cm; margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>Il presente certificato non pu&ograve; essere prodotto
agli organi della Pubblica Amministrazione o ai privati gestori di
pubblici servizi.</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>Padova, </FONT><FONT SIZE=3>27  giugno </FONT><FONT SIZE=3>
2016</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.05cm; text-indent: -0.05cm; margin-bottom: 0cm; line-height: 200%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 7.2cm; margin-bottom: 0cm; line-height: 200%">
<FONT SIZE=3>IL CAPO SETTORE ad interim</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 7.2cm; margin-bottom: 0cm; line-height: 200%">
         <FONT SIZE=3>(arch. Franco Fabris)</FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 7.2cm; margin-bottom: 0cm; line-height: 150%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.42cm; font-style: normal; font-weight: normal; line-height: 150%">
<BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.42cm; font-style: normal; font-weight: normal; line-height: 100%">
<BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.42cm; font-style: normal; font-weight: normal; line-height: 100%">
<BR><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-top: 0.42cm; font-style: normal; font-weight: normal; line-height: 100%">
<FONT SIZE=3>Eventuali difformit&agrave; tra le destinazioni di P.I.
redatte su base Catastale (Agenzia delle Entrate)  e le  zonizzazioni
 di  P.I. redatte  su rilievo  reale dei luoghi sono dovute al 
disallineamento cartografico tra le due banche dati.</FONT></P>
<DIV TYPE=FOOTER>
	<P STYLE="margin-top: 0.68cm; margin-bottom: 0cm"><BR>
	</P>
</DIV>
</BODY>
</HTML>