<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=ASCII">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.0.4.2 (Windows)">
	<META NAME="AUTHOR" CONTENT="Enrico Ferreguti">
	<META NAME="CREATED" CONTENT="20160504;15083370">
	<META NAME="CHANGEDBY" CONTENT="Enrico Ferreguti">
	<META NAME="CHANGED" CONTENT="20160504;15344832">
	<STYLE TYPE="text/css">
	<!--
		@page { margin: 2cm }
		P { margin-bottom: 0.21cm }
		A:link { so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="it-IT" DIR="LTR">
<div id="content">
<P ALIGN=CENTER STYLE="margin-bottom: 0cm"><IMG SRC="{{ host }}/static/certificati/logotmp001.png" NAME="immagini1" ALIGN=BOTTOM WIDTH=458 HEIGHT=77 BORDER=0></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm">SETTORE URBANISTICA E
SERVIZI CATASTALI</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm">Prot. Gen n. {{ protocollo_uscita }}</P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm">IL CAPO SETTORE</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm">VISTA la domanda e la
planimetria catastale alla stessa allegata, presentata da: 
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><B>{{ ditta }}
</B></SPAN>
</P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">ACQUISITA
AGLI ATTI DEL Settore Urbanistica e servizi Catastali in data {{ data_presentazione }};</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTO
l'art. 30.2 del D.P.R. 6 giugno 2001 n. 380;</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTO
il Decreto Legislativo 18 agosto 2000, n. 267;</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTO
l'articolo 72 dello Statuto del Comune di Padova;</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">VISTA
la documentazione in atti:</SPAN></SPAN></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">CERTIFICA</SPAN></SPAN></P>
{% for riga in contenuto %}
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">{{ riga }}</SPAN></SPAN></P>
{% endfor %}
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Padova,
{{ data_emissione }}</SPAN></SPAN></P>
<P ALIGN=JUSTIFY STYLE="margin-bottom: 0cm"><BR>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">IL
CAPO SETTORE ad interim</SPAN></SPAN></P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">(Arch.
Franco Fabris)</SPAN></SPAN></P>
<P ALIGN=RIGHT STYLE="margin-bottom: 0cm"><BR>
<P ALIGN=LEFT STYLE="margin-bottom: 0cm"><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">Eventuali
difformit&agrave; tra le destinazioni di P.I redatte su base
catastale (Agenzia delle Entrate) e le zonizzazioni di P.I. Redatte
su rilievo reale dei luoghi sono dovute al disallienamento
cartografico tra le due banche dati.</SPAN></SPAN></P>
</div>

</BODY>
</HTML>
