<html>
<head>
    <title>test</title>
     <script type="text/javascript">
     function load()
     {
          window.document.test.submit();
          return;
     }
     </script>
</head>
<body onload="load()">
<form name="test" method="post" action="http://casper/arcgis/rest/services/layout/MapServer/exts/PCHPrintSOE/printLayout">
    <input type="f" name="bar" value="f" /> <!--json-->
    <input type="hidden" name="mapExtent" value="{{ mapExtent }}" /> <!--{"xmin":1725305.7324840764,"ymin":5030198.105095541,"xmax":1726305.7324840764,"ymax":5031633.105095541,"spatialReference":{"wkid":3003}}-->
    <input type="hidden" name="printOutput" value="{{ printOutput }}" /> <!--"{"exportSettings":null,"borderWidth":[0.5,0.5,0.5,0.5],"width":21,"height":29.7,"pageUnits":8,"mapRotation":0,"format":"pdf","resolution":200,"toRemoveLayoutElements":["*"]}"-->
    <input type="hidden" name="layoutElements" value="{{ layoutElements }}" /> <!--[{"xOffset":0,"yOffset":0,"symbol":{"text":"Title","textSymbol":{"text":null,"color":{"red":0,"blue":0,"green":0,"alpha":255},"yoffset":0,"font":null,"xoffset":0,"type":"agsJsonSymbol","borderLineColor":null,"angle":0},"type":"pchTextElement"},"visible":true,"width":null,"geometry":{"x":10.5,"y":29.2},"name":"myScaleBar","height":null,"anchor":"topmid"},{"xOffset":0,"yOffset":0,"symbol":{"mapUnitLabel":"","numberFormat":{"roundingValue":3,"roundingOption":0},"pageUnitLabel":"","pageUnits":9,"separator":":","type":"pchScaleText","mapUnits":8,"backgroundColor":{"red":255,"blue":255,"green":255,"alpha":255},"style":0},"visible":true,"width":"","geometry":{"x":0.5,"y":29.2},"name":"myScaleBar","height":"","anchor":"topleft"}]-->
    <input type="hidden" name="mapElements" value="{{ mapElements }}" /> <!--[{"geometry":{"rings":[[[1725556.9665605095,5031007.085987261],[1725852.9060509554,5031236.385350318],[1726072.6512738853,5030768.232484076],[1725929.3391719745,5030581.926751592],[1725848.1289808918,5031011.863057325],[1725685.7085987262,5030916.32165605],[1725556.9665605095,5031007.085987261]]],"spatialReference":{"wkid":3003}},"symbol":{"outline":{"width":1,"color":{"red":153,"blue":0,"green":51,"alpha":204},"style":"esriSLSSolid","type":"esriSLS"},"type":"esriSFS","style":"esriSFSSolid","color":{"red":63,"blue":220,"green":175,"alpha":127.5}}},{"geometry":{"rings":[[[1725748.0493630574,5030596.257961783],[1725666.8391719745,5030491.401273885],[1725547.4124203823,5030868.550955414],[1725748.0493630574,5030868.550955414],[1725748.0493630574,5030596.257961783]]],"spatialReference":{"wkid":3003}},"symbol":{"outline":{"width":1,"color":{"red":153,"blue":0,"green":51,"alpha":204},"style":"esriSLSSolid","type":"esriSLS"},"type":"esriSFS","style":"esriSFSSolid","color":{"red":63,"blue":220,"green":175,"alpha":127.5}}}]-->
    <input type="hidden" name="mapServices" value="{{ mapExtent }}" /> <!--[{"type":"AGS","visibleIds":"0,1,2,3,4,5,6,7,8,9,10,11","name":"Ctr 1996","alpha":0.69921875,"url":"http://casper/ArcGIS/rest/services/ctr_1996/MapServer/"},{"type":"AGS","visibleIds":"0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18","name":"PI","alpha":0.69921875,"url":"http://casper/ArcGIS/rest/services/prg/MapServer"}]-->
</form>
</body>
</html>