{% extends 'cdu_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.14.1/ol.min.css" />
<link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" />
{% endblock %}
{% block custom_style_inline %}

#nav {
    margin: 5px;
}

#progress {
    background: transparent url("/static/certificati/ajax-loader.gif") no-repeat center;
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
}
@-moz-document url-prefix() {
    #importa_dxf {
        height: auto;
        padding: 4px 12px;
    }
}

.my_ctrl {
  position: absolute;
  top: 65px;
  left: 7px;
  border-radius: 4px;
  padding: 0px;
  background-color: rgba(0,60,136,0.5);
  color: white;
  height: 24px;
  width: 24px;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  border-radius: 2px;
  margin: 1px;
  text-decoration: none;
  text-align: center;
}

.my_ctrl a {
  display: block;
  color: white;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  margin: 1px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  height: 22px;
  width: 22px;
  background: rgba(0,60,136,0.5);
}

.my_ctrl:focus {
  background: rgba(200,0,40,0.5);
}

.crtl_measure {
  background-image: url("static/certificati/measure.png");
}

.crtl_modify {
  background-image: url("static/certificati/modify.png");
}


.my_ctrl:hover {
  background: rgba(200,0,40,0.5);
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
<script src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="/static/certificati/js/terraformer.js"></script>
<script src="/static/certificati/js/terraformer-arcgis-parser.js"></script>
{% if source.dataset %}<script src="https://epsg.io/3003.js"></script>{% endif %}
<script type="text/javascript">

var shifted = false;
var rotating = false

var map_catasto;
var rilievoFeatures, rilievoOverlay;
var poligonoFeatures, poligonoOverlay;
var geojsonObject;

var GEOJson_convertitore = new ol.format.GeoJSON();
var WKT_convertitore = new ol.format.WKT();
var EsriJSON_convertitore = new ol.format.EsriJSON ();

var measure_source,service_overlay, control_sorgente_overlay, control_destinazione_overlay;
var indiceSorgente, indiceDestinazione;

var measureTooltipElement, measureTooltip, measure;
var measure_source = new ol.source.Vector();

{% if cartaweb %}
var cartaweb = {{ cartaweb|safe }}
{% endif %}

var targetExtent = [1716014, 5023919, 1737137, 5038662];

var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var geoJson_convertitore = new ol.format.GeoJSON();

var WKT_convertitore = new ol.format.WKT();

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function get_best_fit_scale(extent_scope){
    var center = ol.extent.getCenter(extent_scope);
    var sheet = [210,297];
    var margin = 5;
    var scales=[500,1000, 2000, 5000,10000,20000];
    cx = center[0];
    cy = center[1];
    for (var s = 0; scales.length; s++){
        var scale = scales[s];
        var scaleFactor = scale / 1000;
        var w = (sheet[0] - margin*2) * scaleFactor / 2;
        var h = (sheet[1] - margin*2) * scaleFactor / 2;
        var bound =  [cx-w , cy-h, cx+w, cy+h];
        if (ol.extent.containsExtent(bound, extent_scope)){
            return [bound, scaleFactor];
        }
    }
    return [bound, scaleFactor];
}

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        console.log(csrftoken);
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){
    // funzione per intecettare invio della form ed aggiungere alcuni campi prima del submit
    $('#ricalcola').click(function(eventObj) {
        
        var features = poligonoOverlay.getSource().getFeatures();
        var feature = features[0];
        var geometry = feature.getGeometry();
        
        var geom = WKT_convertitore.writeGeometry(geometry);
        
        var jsonData = {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            poligono: JSON.stringify(geom)
        }
        
        $.ajax({
            url: '/certificati/ricalcola/',
            type: 'POST',
            data: JSON.stringify(jsonData),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(payload) {
                table = payload.table;
                $('#destinazioni').html(table);
                }
        });
    });

    $('#exportCartaweb' ).click( function(event) {
        console.log('estrazione_'+$('#coordinateCatastali').val().replace('/','#').replace(' ','+')+'.txt')
        $("<a />", {
            "download": 'estrazione_'+$('#coordinateCatastali').val().replace('/','#').replace(' ','+')+'.txt',
            "href" : "data:application/json," + encodeURIComponent(JSON.stringify(cartaweb, null, '\t'))
            }).appendTo("body")
            .click(function() {
             $(this).remove()
            })[0].click()
        });
        
    $(document).on('keyup keydown', function(e){
        shifted = e.shiftKey;
        if (rotating && ! shifted){rotating = false}
    });

    $('#definizione').submit(function(eventObj) {
        console.log("fase2");
        var features = rilievoOverlay.getSource().getFeatures();
        //var geom_WKT = WKT_convertitore.writeFeatures(features);
        //console.log(geom_WKT);
        var features_GEOJson = GEOJson_convertitore.writeFeatures(features);
        var features_string = JSON.stringify(features_GEOJson);
        $(this).append("<input type='hidden' name='features' value='"+features_string+"' /> ");
        var poligono = poligonoOverlay.getSource().getFeatures();
        var poligono_WKT = WKT_convertitore.writeFeatures(poligono);
        //var poligono_string = JSON.stringify(poligono_GEOJson);
        $(this).append("<input type='hidden' name='poligono' value='"+poligono_WKT+"' /> ");
    });
    
    $('#stampa').click( function(event) {
      var b = get_best_fit_scale(rilievoOverlay.getSource().getExtent());
      $('#progress').removeClass("hidden");
      var bestBound = b[0];
      var bestScale = b[1];
      var esri_features = [];
      var converter = new ol.format.GeoJSON();
      var feats = JSON.parse(converter.writeFeatures(rilievoOverlay.getSource().getFeatures()));
      for (var f = 0; f < feats.features.length; f++){
            var geojson_feat = feats.features[f];
            var new_esri_feat = {
                symbol: {
                    color: {
                        red: 255,
                        green: 0,
                        blue: 0,
                        alpha: 255
                    },
                    style: "esriSLSSolid",
                    type: "esriSLS",
                    width: bestScale * 1000 / 700/*,
                    outline: {
                        color: {
                            blue: 0,
                            red: 255,
                            green: 0,
                            alpha: 255
                        },
                        width: bestScale * 1000 / 500,
                        style: "esriSFSSolid",
                        type: "esriSFS"
                    }*/
                },
                geometry: Terraformer.ArcGIS.convert(geojson_feat.geometry)
            };
            esri_features.push(new_esri_feat);
      }
      esri_features_JSON = JSON.stringify(esri_features);

      var post_parameters = {
          'f': 'json',
          'mapExtent': '{"xmin":'+bestBound[0].toString()+',"ymin":'+bestBound[1].toString()+',"xmax":'+bestBound[2].toString()+',"ymax":'+bestBound[3].toString()+',"spatialReference":{"wkid":3003}}',
          'printOutput': '{"exportSettings":null,"borderWidth":[0.5,0.5,0.5,0.5],"width":21,"height":29.7,"pageUnits":8,"mapRotation":0,"format":"pdf","resolution":150,"toRemoveLayoutElements":["*"]}',
          'mapServices': '[{"visibleIds":"0,1,2,3,4,5,7,8,9,11","url":"http://casper/ArcGIS/rest/services/ctr_1996/MapServer/","alpha":0.69921875,"name":"Ctr 1996","type":"AGS"},{"type":"AGS","visibleIds":"0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18","name":"PI","alpha":0.69921875,"url":"http://casper/ArcGIS/rest/services/prg/MapServer"}]',
          'layoutElements': '[{"xOffset":0,"yOffset":0,"symbol":{"text":"DXF","textSymbol":{"text":null,"color":{"red":0,"blue":0,"green":0,"alpha":255},"yoffset":0,"font":null,"xoffset":0,"type":"agsJsonSymbol","borderLineColor":null,"angle":0},"type":"pchTextElement"},"visible":true,"width":null,"geometry":{"x":10.5,"y":29.2},"name":"myScaleBar","height":null,"anchor":"topmid"},{"xOffset":0,"yOffset":0,"symbol":{"mapUnitLabel":"","numberFormat":{"roundingValue":3,"roundingOption":0},"pageUnitLabel":"","pageUnits":9,"separator":":","type":"pchScaleText","mapUnits":8,"backgroundColor":{"red":255,"blue":255,"green":255,"alpha":255},"style":0},"visible":true,"width":"","geometry":{"x":0.5,"y":29.2},"name":"myScaleBar","height":"","anchor":"topleft"}]',
          'mapElements': esri_features_JSON
      }
      $.ajax({
          url: '/certificati/defprint/',
          type: 'POST',
          data: JSON.stringify(post_parameters),
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          async: false,
          crossOrigin: false,
          success: function(payload) {
              console.log(payload.print);
              $('#progress').addClass("hidden");
              $('#alert').addClass("hidden");
              $("<a />", {
                      "download": "stampaDXF.pdf",
                      "target": "_blank",
                      "href" : payload.print
                  }).appendTo("body").click(function() {
                        $(this).remove()
                  })[0].click()
          }
        });
    });

    $('#sorgente').click( function(event) {
        if (! $("#sorgente").hasClass( "active" )){
            $("#destinazione").removeClass( "active" );
            resetInteractions();
            map_catasto.addInteraction(sorgenteInteraction);
            controlliSorgente.clear();
            indiceSorgente = 0;
        } else {
            resetInteractions();
        }
    });

    $('#destinazione').click( function(event) {
        if (! $("#destinazione").hasClass( "active" )){
            $("#sorgente").removeClass( "active" );
            resetInteractions();
            map_catasto.addInteraction(destinazioneInteraction);
            controlliDestinazione.clear();
            indiceDestinazione = 0;
            
        } else {
            resetInteractions();
        }
    });

    $('#allinea').click( function(event) {
        if ((indiceDestinazione > 1)&&(indiceSorgente > 1)) {
            var sorgenti = new Array(indiceSorgente);
            var destinazioni = new Array(indiceDestinazione);
            var feats = controlliSorgente.getFeatures();
            for (var f = 0; f < feats.length; f++){
                feat = feats[f];
                sorgenti[feat.get('indice')] = feat.getGeometry().getCoordinates();
            }
            var feats = controlliDestinazione.getFeatures();
            for (var f = 0; f < feats.length; f++){
                feat = feats[f];
                destinazioni[feat.get('indice')] = feat.getGeometry().getCoordinates();
            }
            var deltaX = destinazioni[1][0] - sorgenti[1][0];
            var deltaY = destinazioni[1][1] - sorgenti[1][1];
            
            var S2_traslato = [sorgenti[2][0]+deltaX, sorgenti[2][1] + deltaY];
            var deltaX_t = S2_traslato[0] - destinazioni[1][0];
            var deltaY_t = S2_traslato[1] - destinazioni[1][1];
            var alpha_t = Math.atan2(deltaY_t,deltaX_t);
            
            var deltaX_d = destinazioni[2][0] - destinazioni[1][0];
            var deltaY_d = destinazioni[2][1] - destinazioni[1][1];
            var alpha_d = Math.atan2(deltaY_d,deltaX_d);
            
            var rotazione = alpha_d - alpha_t;
            
            var S2_rototraslato = new ol.geom.Point(S2_traslato,'XY');
            S2_rototraslato.rotate(rotazione, destinazioni[1]);
            
            var scalaX = (destinazioni[2][0] - destinazioni[1][0])/(S2_rototraslato.getCoordinates()[0] - destinazioni[1][0]);
            var scalaY = (destinazioni[2][1] - destinazioni[1][1])/(S2_rototraslato.getCoordinates()[1] - destinazioni[1][1]);
            
            var feats_r = rilievoOverlay.getSource().getFeatures();
            for (var f=0; f < feats_r.length; f++){
                var feat = feats_r[f];
                var geom = feat.getGeometry().clone();
                geom.translate(deltaX, deltaY);
                geom.rotate(rotazione, destinazioni[1]);
                feat.setGeometry(geom);
            }
            
            var feats_p = poligonoOverlay.getSource().getFeatures();
            for (var f=0; f < feats_p.length; f++){
                var feat = feats_p[f];
                var geom = feat.getGeometry().clone();
                geom.translate(deltaX, deltaY);
                geom.rotate(rotazione, destinazioni[1]);
                feat.setGeometry(geom);
            }
            
            
            
            if ($("#scala").hasClass( "active" )||$("#misura").hasClass( "active" )){ //PROCEDURA PER SCALARE I POLIGONI se scala è premuto
                var feats_r = rilievoOverlay.getSource().getFeatures();
                for (var f=0; f < feats_r.length; f++){
                    var feat = feats_r[f];
                    var geom = feat.getGeometry().clone();
                    geom.applyTransform(function(input, output, dimension){
                        for (var c=0; c < input.length; c += dimension){
                            coord_x = input[c];
                            coord_y = input[c+1];
                            output[c] = (destinazioni[1][0] + (coord_x - destinazioni[1][0])*scalaX);
                            output[c+1] = (destinazioni[1][1] + (coord_y - destinazioni[1][1])*scalaY);
                        }
                    });
                    feat.setGeometry(geom);
                }
                
                var feats_p = poligonoOverlay.getSource().getFeatures();
                for (var f=0; f < feats_p.length; f++){
                    var feat = feats_p[f];
                    var geom = feat.getGeometry().clone();
                    geom.applyTransform(function(input, output, dimension){
                        for (var c=0; c < input.length; c += dimension){
                            coord_x = input[c];
                            coord_y = input[c+1];
                            output[c] = (destinazioni[1][0] + (coord_x - destinazioni[1][0])*scalaX);
                            output[c+1] = (destinazioni[1][1] + (coord_y - destinazioni[1][1])*scalaY);
                        }
                    });
                    feat.setGeometry(geom);
                }
                
                if ($("#misura").hasClass( "active" )){
                    $("#misura").trigger( "click" );
                }
            }
            
            $("#sorgente").removeClass( "active" );
            $("#destinazione").removeClass( "active" );
            resetInteractions();
            control_destinazione_overlay.getSource().clear();
            control_sorgente_overlay.getSource().clear();
            indiceSorgente = 0;
            indiceDestinazione = 0;
            $('#ricalcola').trigger('click')
        }
    });

    $('#centra').click( function(event) {
        var dxf_center = ol.extent.getCenter(rilievoOverlay.getSource().getExtent());
        var view_center = map_catasto.getView().getCenter();
        var deltaX = view_center[0]-dxf_center[0];
        var deltaY = view_center[1]-dxf_center[1];
        var feats_r = rilievoOverlay.getSource().getFeatures();
        for (var f=0; f < feats_r.length; f++){
            var feat = feats_r[f];
            var geom = feat.getGeometry().clone();
            geom.translate(deltaX, deltaY);
            feat.setGeometry(geom);
        }
        
        var feats_p = poligonoOverlay.getSource().getFeatures();
        for (var f=0; f < feats_p.length; f++){
            var feat = feats_p[f];
            var geom = feat.getGeometry().clone();
            geom.translate(deltaX, deltaY);
            feat.setGeometry(geom);
        }
        
        $('#ricalcola').trigger('click')
        //$('#centra').addClass("hidden");
    });
    
    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );
    });
    
    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });
    
    $( '#clip' ).click( function(event) {
        if ($("#clip").hasClass( "active" )){
            map_catasto.removeInteraction(drawPolyInteraction);
            map_catasto.removeInteraction(modifyPolyInteraction);
            map_catasto.removeInteraction(measure);
            map_catasto.addInteraction(sorgenteInteraction);
            map_catasto.addInteraction(destinazioneInteraction);
        } else {
            map_catasto.addInteraction(drawPolyInteraction);
            map_catasto.addInteraction(modifyPolyInteraction);
            map_catasto.removeInteraction(sorgenteInteraction);
            map_catasto.removeInteraction(destinazioneInteraction);
            map_catasto.removeInteraction(measure);
        }
    });
    
    $( '#zoom' ).click( function(event) {
        lotto_extent = lottoOverlay.getSource().getExtent();
        map_catasto.getView().fit(lotto_extent, map_catasto.getSize()); 
    });
    
    $( '#misura' ).click( function(event) {
        if ($( "#misura" ).hasClass( "ctrl_enabled" )){
            console.log("measure_disabled");
            $( "#misura" ).removeClass( "ctrl_enabled" );
            $( "#nuova_misura" ).addClass( "hidden" );
            //$( "#misura" ).html('Misura');
            //$( "#draw_measures" ).toggleClass( "focus" );
            $( "#misura" ).toggleClass( "btn-warning" );
            map_catasto.addInteraction(sorgenteInteraction);
            map_catasto.addInteraction(destinazioneInteraction);
            map_catasto.addInteraction(drawPolyInteraction);
            map_catasto.addInteraction(modifyPolyInteraction);
            map_catasto.removeInteraction(measure);
            //map_catasto.removeInteraction(snap2polygon);
            //map_catasto.addInteraction(snap2measures);
            
        } else {
            $( "#misura" ).addClass( "ctrl_enabled" );
            //$( "#misura" ).html('Modifica');
            //$( "#draw_measures" ).toggleClass( "focus" );
            $( "#misura" ).toggleClass( "btn-warning" );
            $( "#nuova_misura" ).removeClass( "hidden" );
            console.log("measure_enabled");
            map_catasto.removeInteraction(sorgenteInteraction);
            map_catasto.removeInteraction(destinazioneInteraction);
            map_catasto.removeInteraction(drawPolyInteraction);
            map_catasto.removeInteraction(modifyPolyInteraction);
            map_catasto.addInteraction(measure);
            //map_catasto.addInteraction(snap2polygon);
            //map_catasto.addInteraction(snap2measures);
        }
    });

    console.log('doc ready');
});

function resetInteractions () {
    map_catasto.removeInteraction(sorgenteInteraction);
    map_catasto.removeInteraction(destinazioneInteraction);
    map_catasto.removeInteraction(drawPolyInteraction);
    map_catasto.removeInteraction(modifyPolyInteraction);
    map_catasto.removeInteraction(measure);
    $("#clip").removeClass( "active" )
};


var sorgenteInteraction, destinazioneInteraction, drawPolyInteraction, modifyPolyInteraction;
var controlliSorgente = new ol.source.Vector();
var controlliDestinazione = new ol.source.Vector();

function initInteractions(){
        sorgenteInteraction = new ol.interaction.Draw({
            source: controlliSorgente,
            type: /** @type {ol.geom.GeometryType} */ ("Point"),
            style: new ol.style.Style ({
                    image: new ol.style.Icon( ({
                      anchor: [0.5, 1],
                      anchorXUnits: 'fraction',
                      anchorYUnits: 'fraction',
                      opacity: 0.8,
                      src: '/static/certificati/marker_s_0.png'
                    }))
                })
        })
        sorgenteInteraction.on('drawend', function(e) {
            indiceSorgente += 1;
            e.feature.setProperties({
            'indice': indiceSorgente,
            })
        })
        
        destinazioneInteraction = new ol.interaction.Draw({
            source: controlliDestinazione,
            type: /** @type {ol.geom.GeometryType} */ ("Point"),
            style: new ol.style.Style ({
                    image: new ol.style.Icon( ({
                      anchor: [0.5, 1],
                      anchorXUnits: 'fraction',
                      anchorYUnits: 'fraction',
                      opacity: 0.8,
                      src: '/static/certificati/marker_d_0.png'
                    }))
                })
        })
        destinazioneInteraction.on('drawend', function(e) {
            indiceDestinazione += 1;
            e.feature.setProperties({
            'indice': indiceDestinazione,
            })
        })
}



function initPolyInteractions(features){
        drawPolyInteraction = new ol.interaction.Draw({
            features: features,
            type: /** @type {ol.geom.GeometryType} */ ("Polygon")
        });
        
        modifyPolyInteraction = new ol.interaction.Modify({
            features: features,
            // the SHIFT key must be pressed to delete vertices, so
            // that new vertices can be drawn at the same position
            // of existing vertices
            deleteCondition: function(event) {
                return ol.events.condition.shiftKeyOnly(event) &&
                ol.events.condition.singleClick(event);
            }
        });
    }

//logica per la misurazione su mappa
var measure = new ol.interaction.Draw({
    source: measure_source,
    type: 'LineString',
    maxPoints: 2,
    style: new ol.style.Style({
      fill: new ol.style.Fill({
        color: 'rgba(255, 255, 255, 0.2)'
      }),
      stroke: new ol.style.Stroke({
        color: 'rgba(0, 0, 0, 0.5)',
        lineDash: [10, 10],
        width: 2
      }),
      image: new ol.style.Circle({
        radius: 5,
        stroke: new ol.style.Stroke({
          color: 'rgba(0, 0, 0, 0.7)'
        }),
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        })
      })
    })
  });

var listener;
var startCoordinate;
measure.on('drawstart',
  function(evt) {
    // set sketch
    sketch = evt.feature;
    /** @type {ol.Coordinate|undefined} */
    var tooltipCoord = evt.coordinate;
    listener = sketch.getGeometry().on('change', function(evt) {
    var geom = evt.target;
    var output;
    if (!startCoordinate){startCoordinate = geom.getLastCoordinate();}
    output = formatLength(geom);
    midCoordinate = [(geom.getLastCoordinate()[0]+startCoordinate[0])/2,(geom.getLastCoordinate()[1]+startCoordinate[1])/2];
    tooltipCoord = midCoordinate;
    measureTooltipElement.innerHTML = output;
    measureTooltip.setPosition(tooltipCoord);
    });
  }, this);

measure.on('drawend',
  function() {
    //measureTooltipElement.className = 'tooltip tooltip-static';
    //measureTooltip.setOffset([0, -7]);
    // unset sketch
    sketch = null;
    // unset tooltip so that a new one can be created
    map_catasto.removeOverlay(measureTooltip);
    measureTooltipElement = null;
    createMeasureTooltip();
    ol.Observable.unByKey(listener);
    startCoordinate = undefined;
  }, this);

var formatLength = function(line) {
  var length = Math.round(line.getLength() * 100) / 100;
  var output;
  if (length > 1000) {
    output = (Math.round(length / 1000 * 100) / 100) +
        ' ' + 'km';
  } else {
    output = (Math.round(length * 100) / 100) +
        ' ' + 'm';
  }
  return output;
};

function createMeasureTooltip() {
  if (measureTooltipElement) {
    measureTooltipElement.parentNode.removeChild(measureTooltipElement);
  }
  measureTooltipElement = document.createElement('div');
  measureTooltipElement.className = 'tooltip tooltip-measure';
  measureTooltip = new ol.Overlay({
    element: measureTooltipElement,
    offset: [0, -15],
    positioning: 'bottom-center'
  });
  map_catasto.addOverlay(measureTooltip);
}

function init(){

    //rilievo overlay
      {% if features %}
      geojsonObject ={{features|safe}};
      geojsonObject.crs = { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } };
      
      rilevoFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject, {
          featureProjection: targetProjection
      }));
      
      {% else %}
      rilevoFeatures = new ol.Collection();
      {% endif %}
      rilievoOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: rilevoFeatures}),
        title: 'rilievo',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });

    //measure overlay
    measures = new ol.layer.Vector({
        source: measure_source,
          title: 'misurazioni',
          style: new ol.style.Style({
            fill: new ol.style.Fill({
              color: 'rgba(255, 255, 255, 0.2)'
            }),
            stroke: new ol.style.Stroke({
              color: '#ffcc33',
              width: 2
            }),
            image: new ol.style.Circle({
              radius: 7,
              fill: new ol.style.Fill({
                color: '#ffcc33'
              })
            })
          })
    })
    
    measures.getSource().on( "addfeature", function(evt) {
        nuova_misura = parseFloat($('#nuova_misura').val());
        if (isNaN(nuova_misura)){
            alert ('impostare una nuova misura per scalare');
        } else {
            var linea = evt.feature.getGeometry().getCoordinates();
            var deltaX =  linea[1][0] - linea[0][0];
            var deltaY =  linea[1][1] - linea[0][1];
            var alpha = Math.atan2(deltaY,deltaX);
            var nuova_misuraX = Math.cos(alpha)*nuova_misura;
            var nuova_misuraY = Math.sin(alpha)*nuova_misura;
            control_destinazione_overlay.getSource().clear();
            control_sorgente_overlay.getSource().clear();
            
            var s1 = new ol.Feature({
                  geometry: new ol.geom.Point([linea[0][0],linea[0][1]]),
                  indice: 1
            });
            var d1 = s1.clone();
            var s2 = new ol.Feature({
                  geometry: new ol.geom.Point([linea[1][0],linea[1][1]]),
                  indice: 2
            });
            var d2 = new ol.Feature({
                  geometry: new ol.geom.Point([linea[0][0]+nuova_misuraX,linea[0][1]+nuova_misuraY]),
                  indice: 2
            });
            
            control_sorgente_overlay.getSource().addFeatures([s1,s2]);
            control_destinazione_overlay.getSource().addFeatures([d1,d2]);
            indiceSorgente = 2;
            indiceDestinazione = 2;
            map_catasto.removeOverlay(measureTooltip);
            
            $('#allinea').trigger( "click" );
            
        }
        measure_source.clear();
    });


    //lotto overlay
      {% if lotto %}
      var lottoObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': {{lotto|safe}}
            }]
      }
      
      lottoFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(lottoObject, {
          featureProjection: targetProjection
      }));
      
      {% else %}
      lottoFeatures = new ol.Collection();
      {% endif %}
      lottoOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: lottoFeatures}),
        title: 'geometria catastale richiesta',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(84, 138, 243, 0.25)'
          }),
          stroke: new ol.style.Stroke({
            color: '#548AF3',
            width: 2
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });

    //poligono overlay
      {% if poligono %}
      geojsonObject_p ={{poligono|safe}};
      geojsonObject_p.crs = { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } };
      
      poligonoFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject_p, {
          featureProjection: targetProjection
      }));
      
      {% else %}
      poligonoFeatures = new ol.Collection();
      {% endif %}
      poligonoOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: poligonoFeatures}),
        title: 'poligono della definizione grafica richiesta',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#00ff00',
            width: 6
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });
    
    poligonoOverlay.getSource().on( "addfeature", function(evt) {
        $("#alert").addClass('hidden');
        $("#prossimo").prop('disabled', false);
    });
    
    initPolyInteractions(poligonoFeatures);
    
    initInteractions();
    
    function controlStyle(t,feature) {
        //console.log(feature.get('indice'));
        var style = new ol.style.Style ({
            image: new ol.style.Icon( ({
              anchor: [0.5, 1],
              anchorXUnits: 'fraction',
              anchorYUnits: 'fraction',
              opacity: 0.8,
              src: '/static/certificati/marker_'+t+'_'+feature.get('indice')+'.png'
            }))
          });
        return [style]
    }
    function controlStyleSorgente(feature){
        return controlStyle('s',feature)
    }
    function controlStyleDestinazione(feature){
        return controlStyle('d',feature)
    }
    control_sorgente_overlay = new ol.layer.Vector({
      source: controlliSorgente,
      style: controlStyleSorgente,
      title: 'controllo punti sorgente'
    });
    control_destinazione_overlay = new ol.layer.Vector({
      source: controlliDestinazione,
      style: controlStyleDestinazione,
      title: 'controllo punti destinazione'
    });
    
    service_overlay = new ol.layer.Vector({
      source: new ol.source.Vector(),
      title: 'service',
      style: new ol.style.Style({
        fill: new ol.style.Fill({
          color: 'rgba(255, 255, 255, 0.2)'
        }),
        stroke: new ol.style.Stroke({
          color: '#00ff00',
          width: 3
        }),
        image: new ol.style.Circle({
          radius: 7,
          fill: new ol.style.Fill({
            color: '#ff0000'
          })
        })
      })
    });

    console.log(rilievoOverlay.getSource().getExtent());

    map_catasto = new ol.Map({
      //interactions: ol.interaction.defaults().extend([new app.Drag()]),
      layers: [

{% include 'cdu_baselayers.html' %}

          lottoOverlay,
          rilievoOverlay,
          poligonoOverlay,
          measures,
          service_overlay,
          control_sorgente_overlay,
          control_destinazione_overlay
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap()
      ]),
      target: 'map',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map_catasto.addControl(layerSwitcher);

{%if centra%}
{% localize off %}
    var centra = [{{centra.0}},{{centra.1}}];
{% endlocalize %}
{% else %}
    var centra
{% endif %}

    dxf_extent = rilievoOverlay.getSource().getExtent();
    if (ol.extent.containsExtent(targetExtent, dxf_extent)){
        //$('#centra').addClass("hidden");
        map_catasto.getView().fit(dxf_extent, map_catasto.getSize()); 
    } else {
        if (centra) {//(ol.extent.containsExtent(targetExtent, poligonoOverlay.getSource().getExtent())){
            //extent = poligonoOverlay.getSource().getExtent();
            dxf_extent_w = dxf_extent[2]-dxf_extent[0];
            dxf_extent_h = dxf_extent[3]-dxf_extent[1];
            //center = ol.extent.getCenter(poligonoOverlay.getSource().getExtent());
            new_extent = [centra[0]-dxf_extent_w, centra[1]-dxf_extent_h, centra[0]+dxf_extent_w, centra[1]+dxf_extent_h];
            map_catasto.getView().fit(new_extent, map_catasto.getSize());
            $('#centra').trigger('click')
        } else {
            extent = targetExtent;
            $('#centra').removeClass("hidden");
            map_catasto.getView().fit(extent, map_catasto.getSize());
        }
    }
    
    createMeasureTooltip();

}


</script>
{% endblock %}
{% block onload %} {% if features %}onload="init()"{% endif %}{% endblock %}
{% block titolo %}DEFINIZIONE {% if idx %} {{item.protocollo_data|date:"Y"}}{{item.protocollo_numero}} {{item.richiedente_1}} {{item.richiedente_2}} {% endif %}{% endblock %}
{% block menu %}
<li>
<a href="/certificati/dg">Elenco definizioni grafiche</a>
</li>
{% endblock %}

{% block contenuto %}


<div class="container"> 
  <div class="row">
  <div class="col-md-12">
     <form id="definizione" role="form" action="/certificati/definizione/{{idx}}/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div id="nav">
          {% for stato in avanzamento%}
              <a id="{{ stato.1 }}" class="fase btn {% if stato.2 %}btn-success"{% else %}btn-default" disabled="disabled"{% endif %} role="button">{{ stato.0 }}</a>
          {% endfor %}
          <div class="pull-right">
            <a id="prossimo"  class="btn btn-primary hidden{% if not poligono %} disabled{% endif %}" role="button">Prossimo</a>
            <input id="submit" type="submit" class="btn btn-primary" value="Prossimo" />
          </div>
        </div>
    <div class="panel panel-default">
      <div class="panel-heading">definizione da:{{file_dxf}}</div>
              {% if errore and file_dxf != "" %}<div id="alert" class="alert alert-warning"><strong>{{errore}}</strong></div>
              {% else %}<div id="alert" class="alert alert-warning hidden"></div>{% endif %}
              
              {% if features %}
              <div class="panel-body">
              <div class="container">
                  <div class="row">
                      <div class="form-inline">
                          <div class="input-group">
                              <a class="btn btn-default" data-toggle="button" id="clip"   role="button">Contesto</a>
                              <a class="btn btn-default" data-toggle="button" id="sorgente" >Punti sorgente</a>
                              <a class="btn btn-default" data-toggle="button" id="destinazione" >Punti destinazione</a>
                              <a class="btn btn-default hidden" data-toggle="button" id="scala"   role="button">Scala</a>
                              <a class="btn btn-default" id="allinea" >Allinea</a>
                              <a class="btn btn-default" data-toggle="button" id="misura"   role="button">Misura</a>
                          </div>
                          <div class="input-group">
                              <input type="text" class="form-control hidden" id="nuova_misura" placeholder="Immetti nuova misura" value="">
                          </div>
                          <div class="input-group">
                              <a class="btn btn-default" id="centra" >Centra in mappa</a>
                              {% if lotto %}
                              <a class="btn btn-default" id="zoom" >Zoom sul lotto</a>
                              {% endif %}
                              <div class="hidden" id="progress"></div>
                          </div>
                        </div>
                  </div>
              </div>
                  <!-- /input-group -->
              <div style="width:100%;height:600px;padding-top:10px" id="map"></div>
              </div>
              {% endif %}
      </div>
    </div>
    </form>
    </div>
  </div>
</div>
{% if table%}
<div class="container"> 
    <div id ="destinazioni" class="col-md-12">
        {{ table }}
    </div>
    <a class="hidden" id="ricalcola"  role="button">Ricalcola</a>
    
</div>
{% endif %}

{% endblock %}
{% block piedipagina %}{% endblock %}
