{% extends 'pua_base.html' %} {% load static %} {% load floppyforms %} {% comment %} {% endcomment %} {% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.14.1/ol.min.css" />
<link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" /> {% endblock %} {% block custom_style_inline %}{% endblock %} {% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
<script src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://epsg.io/3003.js"></script>
<script src="https://fb.me/react-0.14.0.js"></script>
<script type="text/javascript">

    var targetExtent = [1716014, 5023919, 1737137, 5038662];

    var map_glob;
    var polyFeatures, polyOverlay;

    var targetProjection = new ol.proj.Projection({
        code: 'EPSG:3003',
        // The extent is used to determine zoom level 0. Recommended values for a
        // projection's validity extent can be found at http://epsg.io/.
        extent: targetExtent,
        units: 'm'
    });
    ol.proj.addProjection(targetProjection);

    var geoJson_convertitore = new ol.format.GeoJSON();

    var WKT_convertitore = new ol.format.WKT();

      /**
       * @param {number} n The max number of characters to keep.
       * @return {string} Truncated string.
       */
      String.prototype.trunc = String.prototype.trunc ||
          function(n) {
            return this.length > n ? this.substr(0, n - 1) + '...' : this.substr(0);
          };



    function init() {

        var maxResolution = 10;

        function getText(feature, resolution) {
            var text;
            if (resolution > maxResolution) {
                text = '';
            } else {
                text = feature.get('id_pua').toString()+"\n"+feature.get('ditta').trunc(20);;
            }
            return text;
        }

        function polygonStyleFunction(feature, resolution) {
            console.log(feature.get('idIstanza'));
            console.log(resolution);
            return new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: '#ff0000',
                    width: 3
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.3)'
                }),
                text: new ol.style.Text({
                    textAlign: "center",
                    textBaseline: "middle",
                    font: "Bold 12px Arial",
                    text: getText(feature, resolution),
                    fill: new ol.style.Fill({
                        color: "#ff0000"
                    }),
                    stroke: new ol.style.Stroke({
                        color: "#ffffff",
                        width: 3
                    })
                })
            });
        }

        //particelle overlay
        {% if features %}
        var polyObject = {% autoescape off %} {{features | safe}} {% endautoescape %};

        polyFeatures = new ol.Collection(new ol.format.GeoJSON().readFeatures(polyObject, {
            featureProjection: targetProjection
        }));
        {% else %}
        polyFeatures = new ol.Collection();
        {% endif %}

        polyOverlay = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: polyFeatures
            }),
            title: 'perimetro relativo alla richiesta',
            style: polygonStyleFunction
        });

        console.log(polyOverlay.getSource().getExtent());

        map_glob = new ol.Map({
            layers: [

                {% include 'pua_baselayers.html' %}

                polyOverlay
            ],
            controls: ol.control.defaults().extend([
                //new ol.control.ScaleLine(),
                new ol.control.MousePosition(),
                new ol.control.OverviewMap()
            ]),
            target: 'map',
            view: new ol.View({
                projection: targetProjection,
                center: ol.extent.getCenter(targetExtent),
                zoom: 2
            })
        });

        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Legenda' // Optional label for button
        });

        map_glob.getView().on('propertychange', function(e) {
           switch (e.key) {
              case 'resolution':
                console.log('resolution');
                console.log(e.oldValue);
                break;
           }
        });

        map_glob.on("click", function(e) {
            map_glob.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                //alert(feature.get('pk'))
                window.location.href="/admin/pua/pua/"+feature.get('pk').toString()+"/";
            })
        });

        map_glob.addControl(layerSwitcher);

        extent = polyOverlay.getSource().getExtent();
        map_glob.getView().fit(extent, map_glob.getSize());

    }

</script>
{% comment %}
{% endcomment %} {% endblock %} {% block onload %} onload="init()"{% endblock %} {% block titolo %}Mappa PUA{% endblock %} {% block menu %}

<li>
    <a href="/admin/pua/pua/">Lista db PUA</a>
</li>

{% endblock %} {% block contenuto %}


<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">

            <div style="width:100%;height:700px" id="map"></div>

        </div>
    </div>
</div>

{% endblock %} {% block piedipagina %}{% endblock %}
