{% extends 'pua_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
{% endblock %}
{% block custom_style_inline %}
.full {
    height: 100% !important;
    width: 100% !important;
}

#nav {
    margin: 5px;
    
}
{% endblock %}
{% block custom_js %}
{{ form.media }}
<script type="text/javascript">
  
$(document).ready(function(){
    
    $( '#prossimo' ).click( function(event) {
        $( "#submit" ).trigger( "click" );
    });
    
    $( '.fase' ).click( function(event) {
        window.location = "/certificati/"+event.target.id+"/{{idx}}/";
    });
    
    $( '#div_rilievo_raw' ).change( function(event) {
        $( '#id_coordinate_catastali' ).attr('value', "0/0")
    });
})


</script>
{% endblock %}
{% block onload %}{% endblock %}
{% block titolo %}
PUA {{ PUAId }}
{% endblock %}
{% block menu %}
<li>

</li>
{% endblock %}
{% block contenuto %}

<div class="container"> 
  <div class="row">
      <div class="col-md-12">
        <form id="dataset" action="/pua/{% if PUAId %}edit/{{PUAId}}/{% else %}new/{% endif %}" method="post" enctype="multipart/form-data">
          <div class="panel panel-default">
            <div class="panel-heading">Inserimento dati del Piano Urbanistico Attuativo</div>
            <div class="panel-body">
            
            {{ form }}
            
              <table class="full">
                {% for field in form.visible_fields %}
                <div id="div_{{ field.html_name }}" 
                     class="form-group{% if field.errors %} has-error{% endif %}">
                    {{ field.label_tag }}
                    {% localize on %}
                    {{ field }}
                    {% endlocalize %}
                    <div class="text-muted pull-right">
                        <small>{{ field.help_text }}</small>
                    </div>
                    <div class="help-block">
                        {{ field.errors }}
                    </div>
                </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                
                {% comment %}
                    {% if field.auto_id == 'id_protocollo_data' %}
                        <div class="form-group">
                            <div class='input-group date' id='datepicker_1'>
                                <input name="{{ field.name }}" type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endcomment %}
                {% csrf_token %}
                
              </table>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
