{% extends 'warp_base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.css" integrity="sha512-D2c/nmSVlwoZk29SLwJK8GkLyCyPuNbZ/vZQL/lNzw+o+yXzsbnJt7lK/iCfdBmgyLRDi0qx27gpE8Zb1C6I7g==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol-ext@3.1.17/dist/ol-ext.css">
{% endblock %}
{% block custom_style_inline %}

#progress {
    background: transparent url("/static/warp/ajax-loader.gif") no-repeat center;
    float: left;
    display: inline-block;
    width: 32px;
    height: 32px;
}

#upload {
    display: inline-block;
    padding: 4px;
}

.panel-body {
    padding: 4px 0px;
}

.fill {
    height: 100% !important;
}

htlm body {
    height: 100% !important;
}

.my_ctrl {
  position: absolute;
  top: 65px;
  left: 7px;
  border-radius: 4px;
  padding: 0px;
  background-color: rgba(0,60,136,0.5);
  color: white;
  height: 24px;
  width: 24px;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  border-radius: 2px;
  margin: 1px;
  text-decoration: none;
  text-align: center;
}

.my_ctrl a {
  display: block;
  color: white;
  font-size: 16px;
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
  font-weight: bold;
  margin: 1px;
  text-decoration: none;
  text-align: center;
  border-radius: 2px;
  height: 22px;
  width: 22px;
  background: rgba(0,60,136,0.5);
}

.my_ctrl:focus {
  background: rgba(200,0,40,0.5);
}

.crtl_measure {
  background-image: url("static/certificati/measure.png");
}

.crtl_modify {
  background-image: url("static/certificati/modify.png");
}


.my_ctrl:hover {
  background: rgba(200,0,40,0.5);
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

{% endblock %}
{% block custom_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/4.6.5/ol.js" integrity="sha512-O7kHS9ooekX8EveiC94z9xSvD/4xt10Qigl6uEKvspYykdux3Ci5QNu5fwi4ca0ZkZI/oCgx5ja8RklWUEqzxQ==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/ol-ext@3.1.17/dist/ol-ext.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.3/proj4.min.js"></script>
{% if source.dataset %}<script src="https://epsg.io/{{ source.dataset.epsg }}.js"></script>{% endif %}
<script type="text/javascript">

var localExtent = [0, 0, {{source.img.width}}, {{source.img.height}}];
var localProjection = new ol.proj.Projection({
  code: 'georef_source',
  units: 'pixels',
  extent: localExtent
});

var indiceControllo = 1;
var controlli = [];
var syncEnable = true;

{% localize off %}
var targetExtent = [{{ source.dataset.extentLeft }}, {{ source.dataset.extentBottom }}, {{ source.dataset.extentRight }}, {{ source.dataset.extentTop }}];
{% endlocalize %}

{% if source.target %}
var exex = {{source.targetExtent}};
{% endif %}


// PD [1716014, 5023919, 1737137, 5038662];

var map_georef; //map_sorgente, 
var coverage_control;
var georef_overlay, clipFeatures, clipOverlay, rotationMarker; //clipSourceFeatures, clipSourceOverlay, clipTargetFeatures, clipTargetOverlay
var messaggio_errore
var perform_reset
//var img_center, img_scale, img_rotate, img_clip

var measure_source = new ol.source.Vector();
var measures, measure_interaction;

var img_url = '{{source.img.url}}'
var img_width = {{source.img.width}}
var img_height = {{source.img.height}}

var measure_interaction = new ol.interaction.Draw({
    source: measure_source,
    type: 'LineString',
    maxPoints: 2
  });

var sketch, listener, startCoordinate, measureOrigin, measureTooltipElement, measureTooltip, lasttooltip
measure_interaction.on('drawstart',
  function(evt) {
    // set sketch
    measure_source.clear()
    if ( ! measureTooltipElement ) { 
      map_georef.removeOverlay(measureTooltip);
      createMeasureTooltip()
    }
    sketch = evt.feature;
    /** @type {ol.Coordinate|undefined} */
    var tooltipCoord = evt.coordinate;
    listener = sketch.getGeometry().on('change', function(evt) {
    var geom = evt.target;
    var output;
    if (!startCoordinate){startCoordinate = geom.getLastCoordinate();}
    let midCoordinate = [(geom.getLastCoordinate()[0]+startCoordinate[0])/2,(geom.getLastCoordinate()[1]+startCoordinate[1])/2];
    tooltipCoord = midCoordinate;
    measureTooltipElement.innerHTML = formatLength(geom);
    measureTooltip.setPosition(tooltipCoord);
    });
  }, this);

measure_interaction.on('drawend',
  function() {
    measureTooltipElement.className = 'tooltip tooltip-static';
    measureTooltip.setOffset([0, -7]);
    // unset sketch
    sketch = null;
    // unset tooltip so that a new one can be created
    measureTooltipElement = null;
    ol.Observable.unByKey(listener);
    measureOrigin = startCoordinate
    startCoordinate = undefined;
  }, this);

var formatLength = function(line) {
  var length = Math.round(line.getLength() * 100) / 100;
  var output = (Math.round(length * 100) / 100) 
  return output.toString();
};

function createMeasureTooltip() {
  if (measureTooltipElement) {
    measureTooltipElement.parentNode.removeChild(measureTooltipElement);
  }
  measureTooltipElement = document.createElement('div');

  measureTooltipElement.onclick = function(event) {
        var span, input, text;
        event = event || window.event;
        span = event.target || event.srcElement;
        if (span && span.tagName.toUpperCase() === "DIV") {
            span.style.display = "none";
            text = span.innerHTML;
            input = document.createElement("input");
            input.type = "text";
            input.value = text;
            input.size = Math.max(text.length / 4 * 3, 4);
            span.parentNode.insertBefore(input, span);
            input.focus();
            input.addEventListener("keyup", function(event) {
              if (event.key === "Enter") {
                var new_text = input.value
                var scale_factor = parseFloat(new_text)/parseFloat(text)
                perform_measure( georef_overlay.getSource(), measureOrigin, scale_factor )
                span.parentNode.removeChild(input);
                setTimeout(function () { measure_source.clear() }, 500) 
              }
            })
        }
    };

  measureTooltipElement.className = 'tooltip tooltip-measure';
  measureTooltip = new ol.Overlay({
    element: measureTooltipElement,
    offset: [0, -15],
    positioning: 'bottom-center'
  });
  map_georef.addOverlay(measureTooltip);
}

function perform_measure (geoimg, origin, scale_factor) {
  var vdx = geoimg.getCenter()[0] - origin[0]
  var vdy = geoimg.getCenter()[1] - origin[1]
  var new_center = [
    geoimg.getCenter()[0]-vdx+vdx*scale_factor, 
    geoimg.getCenter()[1]-vdy+vdy*scale_factor
  ]
  var new_scale = geoimg.getScale()[0]*scale_factor
  geoimg.setScale(new_scale)
  geoimg.setCenter(new_center)
}

var move_image_interaction = new ol.interaction.Draw({
    source: measure_source,
    type: 'LineString',
    maxPoints: 2
  });

var startCoordinate, endCoordinate

move_image_interaction.on('drawstart',
  function(evt) {
    // set sketch
    startCoordinate = evt.feature.getGeometry().getLastCoordinate()
  }, this);

move_image_interaction.on('drawend',
  function(evt) {
    endCoordinate = evt.feature.getGeometry().getLastCoordinate()
    perform_move(georef_overlay.getSource(), startCoordinate, endCoordinate)
    setTimeout(function () { measure_source.clear() }, 500) 
  }, this);

function perform_move (geoimg, startCoordinate, endCoordinate) {
    var delta_x = endCoordinate[0] - startCoordinate[0]
    var delta_y = endCoordinate[1] - startCoordinate[1]
    var ic = geoimg.getCenter()
    var new_ic = [ic[0]+delta_x, ic[1]+delta_y]
    geoimg.setCenter(new_ic)
}

var rotate_interaction = new ol.interaction.Draw({
    source: measure_source,
    type: 'Point',
    maxPoints: 3
  });

var vertex, startRotate, endRotate

rotate_interaction.on('drawend',
  function(evt) {
    // set sketch
    const collected_point = evt.feature.getGeometry().getLastCoordinate()
    if ( !vertex ) {
      vertex = collected_point
    } else if ( !startRotate ) {
      startRotate  = collected_point
    } else {
      endRotate = evt.feature.getGeometry().getLastCoordinate()
      perform_rotate (georef_overlay.getSource(), vertex, startRotate, endRotate)

      vertex = undefined
      startRotate = undefined
      endRotate = undefined
      setTimeout(function () { measure_source.clear() }, 500) 
    }
    
  }, this);

function perform_rotate (geoimg, vertex, startRotate, endRotate) {
  var vdx = vertex[0]-geoimg.getCenter()[0]
  var vdy = vertex[1]-geoimg.getCenter()[1]
  var angle_start = Math.atan2(startRotate[0]-vertex[0], startRotate[1]-vertex[1])
  var end_start = Math.atan2(endRotate[0]-vertex[0], endRotate[1]-vertex[1])
  var delta_a = end_start - angle_start
  var ir = geoimg.getRotation()
  var new_ir = ir + delta_a
  var ic = geoimg.setRotation(new_ir)
  var new_center = [
    geoimg.getCenter()[0]+vdx-(Math.cos(delta_a)*vdx+Math.sin(delta_a)*vdy), 
    geoimg.getCenter()[1]+vdy-(Math.cos(delta_a)*vdy-Math.sin(delta_a)*vdx)
  ]
  geoimg.setCenter(new_center)
}

var align_interaction = new ol.interaction.Draw({
    source: measure_source,
    type: 'LineString',
    maxPoints: 2
  });

var source_vector, target_vector

align_interaction.on('drawstart',
  function(evt) {
    // set sketch
    console.log("align drawstart", evt)
  }, this);

align_interaction.on('drawend',
  function(evt) {
    // set sketch
    console.log("align drawend", evt)
    if ( !source_vector ) {
      source_vector = evt.feature.getGeometry()
    } else {
      target_vector = evt.feature.getGeometry()
      perform_move(georef_overlay.getSource(), source_vector.getFirstCoordinate(),target_vector.getFirstCoordinate())
      var translatedSourceLastCoordinate = [
        source_vector.getLastCoordinate()[0] + target_vector.getFirstCoordinate()[0]-source_vector.getFirstCoordinate()[0],
        source_vector.getLastCoordinate()[1] + target_vector.getFirstCoordinate()[1]-source_vector.getFirstCoordinate()[1]
      ]
      perform_rotate (georef_overlay.getSource(), target_vector.getFirstCoordinate(), translatedSourceLastCoordinate, target_vector.getLastCoordinate())
      var dist_source = Math.hypot(source_vector.getLastCoordinate()[0]-source_vector.getFirstCoordinate()[0], source_vector.getLastCoordinate()[1]-source_vector.getFirstCoordinate()[1])
      var dist_target = Math.hypot(target_vector.getLastCoordinate()[0]-target_vector.getFirstCoordinate()[0], target_vector.getLastCoordinate()[1]-target_vector.getFirstCoordinate()[1])
      var scale_factor = dist_target/dist_source
      perform_measure (georef_overlay.getSource(), target_vector.getFirstCoordinate(), scale_factor)

      source_vector = undefined
      target_vector = undefined
      setTimeout(function () { measure_source.clear() }, 500) 
    }
    
  }, this);

var clip_drawInteraction, clip_modifyInteraction

function initInteractions(){
    clip_drawInteraction = new ol.interaction.Draw({
        //source: clipOverlay.getSource(),
        features: clipFeatures,
        type: "Polygon"
    });

    clipOverlay.getSource().on('drawend',
      function(evt) {

    })

    clip_modifyInteraction = new ol.interaction.Modify({
        source: clipOverlay.getSource(),
        // the SHIFT key must be pressed to delete vertices, so
        // that new vertices can be drawn at the same position
        // of existing vertices
        deleteCondition: function(event) {
            return ol.events.condition.shiftKeyOnly(event) && ol.events.condition.singleClick(event);
        }
    });
}


function toggleInteraction (active_interactions) {
  let all_interactions = [measure_interaction, move_image_interaction, rotate_interaction, align_interaction, clip_drawInteraction, clip_modifyInteraction]

  function objInArray (obj_test, objArray) {
    objArray.forEach(item => {
      if (item === obj_test) return true
    });
    return false
  }

  function removeObjFromArray (obj_remove, objArray) {
    new_array = []
    objArray.forEach(item => {
      if (item !== obj_remove) {
        new_array.push(item)
      }
    });
    return new_array
  }

  active_interactions.forEach(item => {
    map_georef.addInteraction(item)
    all_interactions = removeObjFromArray(item,all_interactions)
  })

  all_interactions.forEach(item => {
    map_georef.removeInteraction(item)
  })

}

{% if source.dataset.epsg == 3857 or source.dataset.epsg == 4326 %}
var targetProjection = 'EPSG:{{ source.dataset.epsg }}';
{% else %}
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:{{ source.dataset.epsg }}',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  //units: 'm'
});
ol.proj.addProjection(targetProjection);
{% endif %}

var geoJson_convertitore = new ol.format.GeoJSON();

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function modalLog(){
    var log = $.ajax({
                    url: messaggio_errore,
                    async: false
                 }).responseText;

    var popupTemplate =
      '<div class="modal fade">' +
      '  <div class="modal-dialog">' +
      '    <div class="modal-content">' +
      '      <div class="modal-header">' +
      '        <button type="button" class="close" data-dismiss="modal">&times;</button>' +
      '        <h4 class="modal-title">{% trans "Georeferencing report" %}</h4>' +
      '      </div>' +
      '      <div id = "log" class="modal-body">' +
                log +
      '      </div>' +
      '      <div class="modal-footer">' +
      '        <button type="button" class="btn btn-link" data-dismiss="modal">{% trans "Cancel" %}</button>' +
      '      </div>' +
      '    </div>' +
      '  </div>' +
      '</div>';

    $(popupTemplate).modal()

};

function resetImage () {

  const img = new Image();
    img.onload = function() {

      let view_ext = map_georef.getView().calculateExtent()
      let view_width = view_ext[2]-view_ext[0]
      let view_height = (view_ext[3]-view_ext[1])

      let img_center = map_georef.getView().getCenter()
      img_center = [img_center[0]-view_width/3, img_center[1]]
      let img_scale = view_height/img_height/2
      perform_reset = true

      img_source = new ol.source.GeoImage({
            url: '{{source.img.url}}',
            imageCenter: img_center,
            imageScale: [img_scale,img_scale],
            imageRotate: 0,
            projection: targetProjection,
          })
      
      georef_overlay.setSource(img_source) 
    }
  img.src = '{{source.img.url}}'
  resetClip();
}

function getWorldDefFromGeoImage(geoimg) {
  let img_scale = geoimg.getScale()[0]
  let img_center = geoimg.getCenter()
  var hwidth = img_width/2*img_scale
  var hheight = img_height/2*img_scale
  var rotation = Math.PI*2 - geoimg.getRotation()
  var row1 = img_scale*Math.cos(geoimg.getRotation())
  var row2 = -img_scale*Math.sin(geoimg.getRotation())
  var row3 = -img_scale*Math.sin(geoimg.getRotation())
  var row4 = -img_scale*Math.cos(geoimg.getRotation())
  var row5 = img_center[0]-(Math.cos(rotation)*hwidth+Math.sin(rotation)*hheight)
  var row6 = img_center[1]+(Math.cos(rotation)*hheight-Math.sin(rotation)*hwidth)
  return row1 + '\n'+ row2 + '\n'+ row3 + '\n'+ row4 + '\n'+ row5 + '\n'+ row6
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

$(document).ready(function(){

    $("#raster_name").on("input", function() {
        $('#update_details').removeClass("hidden");
    });

    $("#raster_notes").on("input", function() {
        $('#update_details').removeClass("hidden");
    });

    $('#raster_dataset').change(function() {
        if ($(this).val() != $(this).data('default')){
            $('#update_details').removeClass("hidden");
        }
    });

    $("#update_details").click( function(event) {
        var detailForm = {
            raster_id: {{ source.id }},
            raster_name: $( "#raster_name" ).val(),
            raster_notes: $( "#raster_notes" ).val(),
            raster_dataset: parseInt($( "#raster_dataset" ).val())
        };

        $.ajax({
            csrfmiddlewaretoken: '{{ csrf_token }}',
            url: '/warp/updateimage/',
            type: 'POST',
            data: JSON.stringify(detailForm),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: true,
            success: function(payload) {
                if ($("#raster_dataset option[value='"+ $( "#raster_dataset" ).val() +"']").text() == '__TRASH'){
                    window.location.replace("/warp/{{ dataset }}");
                }
                $(".navbar-brand").text("Georeferencing "+detailForm['raster_name']);
                $("#dataset_detail_link").attr("href", "/warp/"+$( "#raster_dataset" ).val());
                $("#dataset_detail_link").text("dataset "+ $("#raster_dataset option[value='"+ $( "#raster_dataset" ).val() +"']").text() +" detail");
                $("#dataset_detail_overview").attr("href", "/warp/viewdataset/"+$( "#raster_dataset" ).val());
                $("#dataset_detail_overview").text("dataset "+ $("#raster_dataset option[value='"+ $( "#raster_dataset" ).val() +"']").text() +" overview");
                $('#update_details').addClass("hidden");
            }
        });
    });


    // funzione per intercettare invio della form ed aggiungere alcuni campi prima del submit
    $('#fase2').submit(function(eventObj) {
        console.log("fase2")
        $('#errore').addClass("hidden");
        $('#esito').addClass("hidden");
        $('#download').addClass("hidden");
        $('#print').addClass("hidden");

        var img_def = {
          img_center: georef_overlay.getSource().getCenter(),
          img_scale: georef_overlay.getSource().getScale(),
          img_rotation: georef_overlay.getSource().getRotation(),
          img_width: img_width,
          img_height: img_height,
          img_worlddef: getWorldDefFromGeoImage(georef_overlay.getSource()),
        }
        
        $(this).append("<input type='hidden' name='controlli_sorgente' value='"+JSON.stringify(img_def)+"' /> ");
        $(this).append("<input type='hidden' name='sorgente' value='"+ (perform_reset ? 'source' : 'target') + "' /> ");

        if (clipOverlay.getSource().getFeatures().length > 0){
          var clip_features = clipOverlay.getSource().getFeatures();
          var clip_json = JSON.parse(geoJson_convertitore.writeFeatures(clip_features));

          clip_json["crs"] = { 
            type: "name", 
            properties: { 
              name: "urn:ogc:def:crs:EPSG::{{ source.dataset.epsg }}"
            } 
          }
          var clip_output = JSON.stringify(clip_json);
        } else {
          var clip_output = "";
        }
        $(this).append("<input type='hidden' name='clip_poligono' value='"+clip_output+"' /> ");

        eventObj.preventDefault();

        var dataForm = {}
        var Form = this;

        //Gathering the Data
        //and removing undefined keys(buttons)
        $.each(this.elements, function(i, v){
                var input = $(v);
            dataForm[input.attr("name")] = input.val();
            delete dataForm["undefined"];
        });

        console.log(dataForm);
        $('#progress').removeClass("hidden");

        $.ajax({
            csrfmiddlewaretoken: '{{ csrf_token }}',
            url: '/warp/apply_align/',
            type: 'POST',
            data: JSON.stringify(dataForm),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(payload) {
                $('#progress').addClass("hidden");
                messaggio_errore = payload.esito;
                if (payload.valida){
                    img_url = payload.dest_img
                    let img_center = [(payload.estensione[0]+payload.estensione[2])/2, (payload.estensione[1]+payload.estensione[3])/2]
                    let img_scale = (payload.estensione[2]-payload.estensione[0])/payload.img_dim[0]
                    let img_rotate = 0
                    img_width = payload.img_dim[0]
                    img_height = payload.img_dim[1]
                    georef_overlay.setSource(new ol.source.GeoImage({
                      url: img_url,
                      imageCenter: img_center,
                      imageScale: [img_scale,img_scale],
                      imageRotate: 0,
                      projection: targetProjection,
                    })

                    );
                    /*
                    if (payload.clipDestinazione != ''){
                        let clipFeatures = new ol.Collection(new ol.format.GeoJSON().readFeatures(payload.clipDestinazione, {
                            //featureProjection: targetProjection
                        }));
                        clipOverlay.setSource(new ol.source.Vector({features: clipFeatures}));
                    }
                    */
                    enableDownloadPrint(payload.id,payload.geotiff);
                    $('#esito').removeClass("hidden");
                    georef_overlay.getSource().changed();
                } else {
                    console.log("ERRORE");
                    $('#errore').removeClass("hidden");
                    $('#esito').addClass("hidden");
                    $('#download').addClass("hidden");
                    $('#print').addClass("hidden");
                    //$('#messaggio_errore').text(payload.esito);
                }
            }
        });
    });

    $( '#doResetClip' ).click( function(event) {
        console.log("doResetClip")
        resetClip();
    });

    $( '#doClip' ).on('click', function(event) {
        $('#doResetClip').removeClass("hidden");
        $('#doReset').addClass("hidden");
        toggleInteraction([clip_drawInteraction,clip_modifyInteraction])
    });

    $( '#doAlign' ).click( function(event) {
        $('#doReset').removeClass("hidden");
        $('#doResetClip').addClass("hidden");
        toggleInteraction([align_interaction])
    });

    $( '#doMeasure' ).click( function(event) {
        $('#doReset').removeClass("hidden");
        $('#doResetClip').addClass("hidden");
        toggleInteraction([measure_interaction])
    });

    $( '#doMove' ).on('click', function(event) {
        $('#doReset').removeClass("hidden");
        $('#doResetClip').addClass("hidden");
        toggleInteraction([move_image_interaction])
    });

    $( '#doRotate' ).on('click', function(event) {
        $('#doReset').removeClass("hidden");
        $('#doResetClip').addClass("hidden");
        toggleInteraction([rotate_interaction])
    });

    $( '#test' ).click( function(event) {
        alert(getWorldDefFromGeoImage(georef_overlay.getSource()))
    });

    $( '#errore' ).on('click', function(event) {
        modalLog()
    });

    $( '#esito' ).click( function(event) {
        modalLog()
    });

    $('#alpha').on('click', function() {
        $(this).val(this.checked ? 1 : 0);
        $(this).next().text($(this).val());
    });

    console.log('doc ready');
    //$('body').addClass("fill");
    $('#map_georef').height($(window).height()-200);


});

function enableDownloadPrint(id, geotiff){
    var filename = geotiff.split('/').pop().split('#')[0].split('?')[0];
    $('#download').removeClass("hidden");
    $('#download').attr("href", geotiff);
    $('#download').attr("download", filename);
    $('#print').removeClass("hidden");
    $('#print').attr("href", "/warp/print/"+id+"/");
    $('#errore').addClass("hidden");
}

function resetClip(){
      console.log("resetclip")
      //clipFeatures = new ol.Collection();
      clipOverlay.getSource().clear()
      //clipOverlay.setSource(new ol.source.Vector({features: clipFeatures}));
    }



function init(){

    function controlStyle(feature) {
        var style = new ol.style.Style ({
            image: new ol.style.Icon( ({
              anchor: [0.5, 1],
              anchorXUnits: 'fraction',
              anchorYUnits: 'fraction',
              opacity: 0.8,
              src: '{{settings.STATIC_URL}}warp/marker_'+feature.get('indice')+'.png'
            }))
          });
        return [style]
    }

    measures = new ol.layer.Vector({
        source: measure_source,
          title: 'misurazioni',
          style: new ol.style.Style({
            fill: new ol.style.Fill({
              color: 'rgba(255, 255, 255, 0.2)'
            }),
            stroke: new ol.style.Stroke({
              color: '#ffcc33',
              width: 2
            }),
            image: new ol.style.Circle({
              radius: 7,
              fill: new ol.style.Fill({
                color: '#ffcc33'
              })
            })
          })
    })

    //clip destinazione overlay
      {% if source.clipDestinazione %}
      var geojsonObject = '{{source.clipDestinazione|safe}}';
      clipFeatures = new ol.Collection( new ol.format.GeoJSON().readFeatures(geojsonObject)) //, { featureProjection: targetProjection }));
      {% else %}
      clipFeatures = new ol.Collection();
      {% endif %}
      clipOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: clipFeatures}),
        title:  '{% trans "clipping polygon "%}',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ffcc33',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ffcc33'
            })
          })
        })
      });

    georef_overlay = new ol.layer.GeoImage({
      name: "Georef",
      opacity: .7,
      source: new ol.source.GeoImage({}),
      //attributions: ['{{source.note|escapejs}}']
    });

    //leaved here for further possible uses
    coverage_control =
          new ol.layer.Image({
                title: '{% blocktrans %}dataset {{dataset}} coverage {% endblocktrans %}',
                visible: false,
                source: new ol.source.ImageWMS({
                  url: '/warp/export',
                  params: {'LAYERS': '{{dataset}}'},
                  ratio: 1,
                  serverType: 'geoserver'
                })
              });


    map_georef = new ol.Map({
      //interactions: ol.interaction.defaults().extend([new app.Drag()]),
      layers: [
{{ source.dataset.baselayer | safe }}

{% for ds in source.datasets %}
      {% if ds.name != '__TRASH'%}
          new ol.layer.Image({
                title: 'dataset {{ ds.slug }}{% blocktrans %} {% endblocktrans %}',
                visible:false,
                source: new ol.source.ImageWMS({
                  url: '/warp/export',
                  params: {'LAYERS': '{{ds.pk}}'},
                  ratio: 1,
                  serverType: 'geoserver'
                })
              }),
      {% endif %}
{% endfor %}

          georef_overlay,
          clipOverlay,
          measures
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap()
      ]),
      target: 'map_georef',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 22
      })
    });



{% if not source.target %}
    let myurl = new URL(document.URL)
    let ext
    if ( myurl.searchParams.get("ext") ) {
      ext = JSON.parse(myurl.searchParams.get("ext"))
    } else {
      ext = targetExtent
    }
    map_georef.getView().fit(ext, map_georef.getSize());
{% else %}
    map_georef.getView().fit({{source.targetExtent}}, map_georef.getSize());
    enableDownloadPrint({{source.id}}, "{{source.download}}");
{% endif %}

{% localize off %}
{% if source.target %}
  img_url = '{{ source.target }}'
  let img_center = [({{ source.targetExtent.0 }}+{{ source.targetExtent.2 }})/2,({{ source.targetExtent.1 }}+{{ source.targetExtent.3 }})/2]
  let img_scale = ({{ source.targetExtent.2 }}-{{ source.targetExtent.0 }})/{{source.targetSize.0}}
  img_source = new ol.source.GeoImage({
        url: img_url,
        imageCenter: img_center,
        imageScale: [img_scale,img_scale],
        imageRotate: 0,
        projection: targetProjection,
      })
    
    georef_overlay.setSource(img_source) 
    perform_reset = false
  {% else %}
    resetImage()
    perform_reset = true
  {% endif %}
  {% endlocalize %}

    map_georef.addControl(new ol.control.LayerSwitcher({ extent:true }));
    
    initInteractions()
    createMeasureTooltip();

{% if source.correlazione %}
    //caricaPuntiCorrelazione(JSON.parse('{{source.correlazione}}'));
{% endif %}


}


</script>
{% endblock %}
{% block onload %} {% if source %}onload="init()"{% endif %}{% endblock %}
{% block titolo %}{{ dataset.epsg }}{% trans "Georeferencing" %} {% if source %}{{source.attribution}}{% endif %}{% endblock %}
{% block menu %}
<li>
<a id="dataset_detail_link" href="/warp/{{ dataset }}">{% blocktrans %}  dataset {{ source.dataset.name }} detail {% endblocktrans %}</a>
</li>
<li>
<a id="dataset_detail_overview"  href="/warp/viewdataset/{{ dataset }}">{% blocktrans %} dataset {{ source.dataset.name }} overview {% endblocktrans %}</a>
</li>
{% endblock %}
{% block contenuto %}


{% if not source %}
<div id="master" class="container fill">
    <div class="row-fluid fill">
            {% if errore %}<div class="alert alert-warning"><strong>{% trans "ERROR:" %}</strong>{{errore}}</div>{% endif %}
            <form id="fase1" role="form" action="/warp/newimage/{{ dataset }}/" method="post"  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="titolo">{% trans "Image name" %}</label>
                    {{form.titolo}}
                    <label for="note">{% trans "Notes" %}</label>
                    {{form.note}}
                    <label for="sorgente">{% trans "Source image file" %}</label><br/>
                    <span class="btn btn-default btn-file">
                        {{form.sorgente}}
                    </span>
                </div>
                <button type="submit" class="btn btn-default">{% trans Load %}</button>
            </form>
  </div>
</div>
{% else %}
<div id="master" class="container-fluid fill">
    <div class="row-fluid fill">

        <div class="col-md-12 fill">
            {% if errore %}<div class="alert alert-warning"><strong>ERROR:</strong>{{errore}}</div>{% endif %}

                    <!-- <div class="panel panel-default fill"> -->

                            <form id="fase2" class="form-inline" role="form" method="post">
                                <input type="hidden" name="id" value="{{source.id}}">

                                <div id="cmd-group" class="btn-group" data-toggle="buttons">
                                  <label class="btn btn-default" id="doAlign">
                                    <input type="radio" name="measure">{% trans "Align" %}
                                  </label>
                                  <label class="btn btn-default" id="doMeasure">
                                    <input type="radio" name="measure">{% trans "Measure" %}
                                  </label>
                                  <label class="btn btn-default" id="doMove">
                                    <input type="radio" name="move">{% trans "Move" %}
                                  </label>
                                  <label class="btn btn-default" id="doRotate">
                                    <input type="radio" name="rotate">{% trans "Rotate" %}
                                  </label>
                                  <label class="btn btn-default" id="doClip">
                                    <input type="radio" name="clip">{% trans "Clip" %}
                                  </label>
                                </div>

                                <button type="button" id="doReset" class="btn btn-danger" data-toggle="modal" data-target="#resetConfirm">{% trans "Reset" %}</button>
                                <a class="btn btn-danger hidden" id="doResetClip"   role="button">{% trans "Reset Clip" %}</a>
                                <a class="btn btn-default " id="test"   role="button">test</a>
                                <a class="btn btn-default hidden" id="test2"   role="button">test</a>
                                <label class="checkbox-inline"><input id="alpha" name="alpha" type="checkbox" {% if source.dataset.transparency %}value = '1' checked{% else %} value = '0' {% endif %}>{% trans "Transparency" %}</label>
                                <input class="btn btn-default hidden" type="file" id="upload" />
                                <div class="pull-right">
                                    <a id="update" class="hidden btn btn-primary" role="button">{% trans "Update" %}</a>
                                    <a id="errore"  class="hidden btn btn-warning" role="button">{% trans "Loading error" %}</a>
                                    <a id="esito"  class="hidden btn btn-success" role="button">{% trans "Georeferencing report" %}</a>
                                    <a id="download" class="hidden btn btn-success" role="button">{% trans "Download" %}</a>
                                    <a id="print" class="hidden btn btn-success" target="_blank" href="#" role="button">{% trans "Print" %}</a>
                                    <div class="hidden" id="progress"></div>
                                    <button type="submit" class="btn btn-primary">{% trans "Transform" %}</button>
                                </div>
                            </form>


                    <div class="panel-body">

                        <div class="panel panel-default col-md-12">
                            <div class="panel-body">
                                <div id="map_georef"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row">
                                <div class="form-inline">
                                        <input type="text"  class="form-control col-xs-2" id="raster_name" value="{{source.item.titolo}}" placeholder="Insert image name">
                                        <select id="raster_dataset" class="selectpicker form-control col-xs-3" data-live-search="true" title="Changedataset">
                                           {% for ds in source.datasets %}
                                                <option {% if ds == source.dataset %} selected {% endif %} value='{{ ds.pk }}'>{{ ds.name }}</option>
                                           {% endfor %}
                                        </select>
                                        <input type="text"  class="form-control col-xs-5" id="raster_notes" value="{{source.item.note}}" placeholder="Insert optional notes">
                                        <a id="update_details" class="btn btn-primary hidden" role="button">{% trans "Update raster details" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="resetConfirm" role="dialog">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% trans "Reset Image" %}</h4>
                          </div>
                          <div class="modal-body">
                            <p>{% trans "Do you really want to reset the georeferenced image to source settings?" %}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="resetImage()">Reset</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

                <!-- </div> -->
        </div>
  </div>
</div>
{% endif %}
{% endblock %}
{% block piedipagina %}{% endblock %}
