{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% comment %} {% load floppyforms %} {% endcomment %}

{% block custom_style_link %}<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://openlayers.org/api/2.13/OpenLayers.js"></script>
<script type="text/javascript" src="/static/gis/js/OLMapWidget.js"></script>
{% comment %} 
<script type="text/javascript" src="/static/floppyforms/openlayers/OpenLayers.js"></script>
<script type="text/javascript" src="/static/floppyforms/js/MapWidget.js"></script>
{% endcomment %}
{% endblock %}

{% block titolo %}ID istanza:  {{ istanza.idIstanza }}{% endblock %}
{% block menu %}
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.primo }}/">&lt;&lt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.precedente }}/">&lt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.successivo }}/">&gt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.ultimo }}/">&gt;&gt;</a>
</li>
<li>
    <a href="/lista_istanze/">LISTA ISTANZE</a>
</li>
<li>
    <a href="/admin/repertorio/repertorioistanze/{{ istanza.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<ul class="list-group">
    <li class="list-group-item">
         <h4 class="list-group-item-heading">categoriaIstanza</h4>
         <p class="list-group-item-text">{{ istanza.categoriaIstanza }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">ditta</h4>
         <p class="list-group-item-text">{{ istanza.ditta }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">riferimento</h4>
         <p class="list-group-item-text">{{ istanza.riferimento }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">riassunto</h4>
         <p class="list-group-item-text">{{ istanza.riassunto }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">coordinate catastali</h4>
         <p class="list-group-item-text">{{ istanza.coordCatastali }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">note</h4>
         <p class="list-group-item-text">{{ istanza.note }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">sottoscrizioni</h4>
            {% for item in sottoscrizioni %}
                <a href="/admin/repertorio/sottoscrizioni/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
            {% endfor %}
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">comunicazioni</h4>
            {% for item in comunicazioni %}
                <a href="/admin/repertorio/comunicazioni/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
            {% endfor %}
    </li>
</ul>
{{geomSet}}
{% endblock %}
{% block piedipagina %}{% endblock %}
