{% extends 'base.html' %}


{% block custom_style_link %}
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
    <script src="https://openlayers.org/api/OpenLayers.js"></script>
    <script type="text/javascript">
        var map, base_layer, kml;
        function init(){
            map = new OpenLayers.Map('map');
            base_layer = new OpenLayers.Layer.WMS( "OpenLayers WMS",
               "https://labs.metacarta.com/wms/vmap0", {layers: 'basic'} );
            kml = new OpenLayers.Layer.GML("KML", "/kml/", 
               { format: OpenLayers.Format.KML });
            map.addLayers([base_layer, kml]);
            map.zoomToMaxExtent();
            }
    </script>
{% endblock %}

{% block titolo %}ID istanza:  {{ istanza.idIstanza }}{% endblock %}
{% block menu %}
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.primo }}/">&lt;&lt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.precedente }}/">&lt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.successivo }}/">&gt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.ultimo }}/">&gt;&gt;</a>
</li>
<li>
    <a href="/lista_istanze/">LISTA ISTANZE</a>
</li>
<li>
    <a href="/admin/repertorio/repertorioistanze/{{ istanza.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<ul class="list-group">
    <li class="list-group-item">
         <h4 class="list-group-item-heading">categoriaIstanza</h4>
         <p class="list-group-item-text">{{ istanza.categoriaIstanza }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">ditta</h4>
         <p class="list-group-item-text">{{ istanza.ditta }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">riferimento</h4>
         <p class="list-group-item-text">{{ istanza.riferimento }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">riassunto</h4>
         <p class="list-group-item-text">{{ istanza.riassunto }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">coordinate catastali</h4>
         <p class="list-group-item-text">{{ istanza.coordCatastali }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">note</h4>
         <p class="list-group-item-text">{{ istanza.note }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">sottoscrizioni</h4>
            {% for item in sottoscrizioni %}
                <a href="/admin/repertorio/sottoscrizioni/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
            {% endfor %}
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">comunicazioni</h4>
            {% for item in comunicazioni %}
                <a href="/admin/repertorio/comunicazioni/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
            {% endfor %}
    </li>
</ul>
{{geomSet}}
{% endblock %}
{% block piedipagina %}{% endblock %}
