{% extends 'base.html' %}
{% load static %}
{% load floppyforms %} 
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
<link rel="stylesheet" href="https://dev.openlayers.org/theme/default/style.css" />
<link rel="stylesheet" href="https://dev.openlayers.org/examples/style.css" />
{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://dev.openlayers.org/OpenLayers.js"></script>
<script type="text/javascript">
    var lon = 1725155;
    var lat = 5032083;
    var zoom = 13;
    var map, layer, baselayer;
    var options = {
        color: 'ee9900',
        default_lat: 5032083,
        default_lon: 1725155,
        default_zoom: 13,
        is_collection: false,
        is_linestring: false,
        is_point: false,
        is_polygon: false,
        layerswitcher: false,
        map_options: {
            controls: [
                new OpenLayers.Control.Navigation(),
                new OpenLayers.Control.PanZoomBar(),
                new OpenLayers.Control.LayerSwitcher({'ascending':false}),
                new OpenLayers.Control.Permalink(),
                new OpenLayers.Control.ScaleLine(),
                new OpenLayers.Control.Permalink('permalink'),
                new OpenLayers.Control.MousePosition(),
                new OpenLayers.Control.OverviewMap(),
                new OpenLayers.Control.KeyboardDefaults()
            ],
            projections: "EPSG:3857"/*,
            maxExtent: [1720000,5030000,1730000,5040000],
            maxResolution: 1*/
            },
        map_srid: 3003,
        modifiable: true,
        mouse_position: false,
        opacity: 0.4,
        point_zoom: 12,
        scale_text: false,
        scrollable: true
    };



    function init(){
        map = new OpenLayers.Map( 'map',options.map_options);
        // Altering using user-provied options
        for (var property in options) {
            if (options.hasOwnProperty(property)) {
                map.options[property] = options[property];
            }
        };
        
        //map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
        var wkt = "{% autoescape off %}{{feature}}{% endautoescape %}";
       var wkt_format = new OpenLayers.Format.WKT({
                //'internalProjection': new OpenLayers.Projection("EPSG:3003"),
                //'externalProjection': new OpenLayers.Projection("EPSG:3003")
            });
        var defaultStyle = new OpenLayers.Style({
                'fillColor': "#ee9900",
                'fillOpacity': 0.4,
                'strokeColor': "#ee9900",
                'strokeWidth': 2,
                'strokeOpacity': 1
            });
        //var styleMap = new OpenLayers.StyleMap({'default': defaultStyle});
                         
       var vector_layer = new OpenLayers.Layer.Vector("istanza"); 
       var feat = wkt_format.read(wkt,'Geometry');
       var feats = {features:[feat]};
       vector_layer.addFeatures(feat);
       var featbounds = feat.geometry.getBounds();
       map.zoomToExtent(featbounds);
       map.addLayer(vector_layer);
       
    }
</script>
{% comment %} 
<script type="text/javascript" src="/static/floppyforms/js/MapWidget.js"></script>
{% endcomment %}
{% endblock %}
{% block onload %} onload="init()"{% endblock %}
{% block titolo %}ID istanza:  {{ istanza.idIstanza }}{% endblock %}
{% block menu %}
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.primo }}/">&lt;&lt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.precedente }}/">&lt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.successivo }}/">&gt;</a>
</li>
<li>
    <a href="/lista_istanze/dettaglio/{{ nav.ultimo }}/">&gt;&gt;</a>
</li>
<li>
    <a href="/lista_istanze/">LISTA ISTANZE</a>
</li>
<li>
    <a href="/admin/repertorio/repertorioistanze/{{ istanza.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<ul class="list-group">
    <li class="list-group-item">
         <h4 class="list-group-item-heading">categoriaIstanza</h4>
         <p class="list-group-item-text">{{ istanza.categoriaIstanza }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">ditta</h4>
         <p class="list-group-item-text">{{ istanza.ditta }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">riferimento</h4>
         <p class="list-group-item-text">{{ istanza.riferimento }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">riassunto</h4>
         <p class="list-group-item-text">{{ istanza.riassunto }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">coordinate catastali</h4>
         <p class="list-group-item-text">{{ istanza.coordCatastali }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">note</h4>
         <p class="list-group-item-text">{{ istanza.note }}</p>
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">sottoscrizioni</h4>
            {% for item in sottoscrizioni %}
                <a href="/admin/repertorio/sottoscrizioni/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
            {% endfor %}
    </li>
    <li class="list-group-item">
         <h4 class="list-group-item-heading">comunicazioni</h4>
            {% for item in comunicazioni %}
                <a href="/admin/repertorio/comunicazioni/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
            {% endfor %}
    </li>
    <li class="list-group-item">
        <div style="width:100%;height:300px" id="map"></div>
    </li>
</ul>
{% endblock %}
{% block piedipagina %}{% endblock %}
