{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
    </head>
    <body>
        {{ STATIC_URL }}
        {% render_table istanze %}
    </body>
</html>