{% load render_table from django_tables2 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block intestazione %}ISTANZE{% endblock %}</title>

    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />


    {% block jquery_lib %}
    <!-- jQuery Version 1.11.1 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% endblock %}

    {% block bootstrap_lib %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'repertorio/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="/static/certificati/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'certificati/js/salva_stato_layers.js' %}"></script>
    {% endblock %}

    {% block custom_style_link %}{% endblock %}
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    {% block custom_style_inline %}{% endblock %}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block custom_js %}
    <!-- jQuery Version 1.11.1 -->
    <script src="{% static 'repertorio/js/jquery.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'repertorio/js/bootstrap.min.js' %}"></script>
    {% endblock %}
    
</head>

<body {% block onload %}{% endblock %}>

    {% block header %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% block titolo %}{% endblock %}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block menu %}{% endblock %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    {% endblock %}
    

{% block contenuto %}{% endblock %}

    
    <!-- /.container -->
    {% block piedipagina %}{% endblock %}

</body>

</html>
