{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block custom_style_link %}<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}{% endblock %}

{% block titolo %}Lista Comunicazioni{% endblock %}
{% block menu %}
{% endblock %}
{% block contenuto %}
<div class="container">
    <div class="row-fluid">
         <form class="form-inline input-sm" role="form" action="/repertorio/com/" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="filtro">Testo da ricercare</label>
            <input type="text" class="form-control input-sm" name="filtro" value="{{filtro}}">
          </div>
          <button type="filtra" class="btn btn-default input-sm">filtra</button>
        </form>
    </div>
    <br/>
    <div class="row-fluid">
        {% render_table comunicazioni %}
    </div>>
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}



