            <table class="table table-hover">
              <caption></caption>
              <thead>
                <tr>
                  <th>Destinazioni del Piano degli Interventi</th>
                  <th>Area mq</th>
                  <th>%</th>
                </tr>
              </thead>
              <tbody>
                  {% for item in table %}
                  <tr>
                    {% for col in item %}
                    <td>{{col}}</td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
              </tbody>
            </table>
