{% extends 'base.html' %}


{% block custom_style_link %}
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
{% endblock %}

{% block titolo %}{{ sottoscrizione }}{% endblock %}
{% block menu %}
<li>
    <a href="{{request.META.HTTP_REFERER}}">INDIETRO</a>
</li>
<li>
    <a href="/admin/repertorio/corrispondenza/{{ comunicazione.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Cognome/Denominazione/Ragione sociale</h4>
             <p class="list-group-item-text">{{ sottoscrizione.cognomeDenominazione }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Nome</h4>
             <p class="list-group-item-text">{{ sottoscrizione.nome }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Titolo</h4>
             <p class="list-group-item-text">{{ sottoscrizione.titolo }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Codice fiscale</h4>
             <p class="list-group-item-text">{{ sottoscrizione.codicefiscale }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Indirizzo</h4>
             <p class="list-group-item-text">{{ sottoscrizione.indirizzo }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Email</h4>
             <p class="list-group-item-text"><a href="mailto:{{ sottoscrizione.email }}">{{ sottoscrizione.email }}</a></p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Note</h4>
             <p class="list-group-item-text">{{ sottoscrizione.note }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Istanze</h4>
             {% for istanza in istanze %}
             <p class="list-group-item-text"><a href="/repertorio/dettaglio/{{ istanza.pk }}">{{istanza}}</a></p>
             {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}
