{% extends 'base.html' %}
{% load static %}
{% load floppyforms %}
{% comment %} {% endcomment %}

{% block custom_style_link %}
<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
<link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.16.0/ol.css" />
{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.16.0/ol.js"></script>
<script src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://epsg.io/3003.js"></script>
<script type="text/javascript">

var targetExtent = [1716014, 5023919, 1737137, 5038662];

var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var WKT_convertitore = new ol.format.WKT();

var map;

    function init(){
/*
      var wktObject = {
            "type": "FeatureCollection",
            "crs": { "type": "name", "properties": { "name": "urn:ogc:def:crs:EPSG::3003" } },
            "features": [{
                  'type': 'Feature',
                  'geometry': '{% autoescape off %}{{feature|safe}}{% endautoescape %}'
            }]
      }
*/
      var wktObject = '{% autoescape off %}{{feature|safe}}{% endautoescape %}'

      var polyTargetFeature = new ol.format.WKT().readFeature(wktObject, {
          featureProjection: targetProjection
      });
      var polyTargetOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({features: [polyTargetFeature]}),
        title: 'poligono istanze',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.2)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ff0000'
            })
          })
        })
      });

    map = new ol.Map({
      layers: [
{% include 'cdu_baselayers.html' %}
          polyTargetOverlay
      ],
      controls: ol.control.defaults().extend([
        //new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap()
      ]),
      target: 'map',
      view: new ol.View({
        projection: targetProjection,
        center: ol.extent.getCenter(targetExtent),
        zoom: 2
      })
    });

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map.addControl(layerSwitcher);

    extent = polyTargetOverlay.getSource().getExtent();
    map.getView().fit(extent, map.getSize());
}

</script>
{% endblock %}
{% block onload %} onload="init()"{% endblock %}
{% block titolo %}ID istanza:  {{ istanza.idIstanza }}{% endblock %}
{% block menu %}

<li>
    <a href="/repertorio/dettaglio/{{ nav.primo }}/{{categoria}}/{{filtro}}">&lt;&lt;</a>
</li>
<li>
    <a href="/repertorio/dettaglio/{{ nav.precedente }}/{{categoria}}/{{filtro}}">&lt;</a>
</li>
<li>
    <a href="/repertorio/dettaglio/{{ nav.successivo }}/{{categoria}}/{{filtro}}">&gt;</a>
</li>
<li>
    <a href="/repertorio/dettaglio/{{ nav.ultimo }}/{{categoria}}/{{filtro}}">&gt;&gt;</a>
</li>
<li>
    <a href="/repertorio/{{categoria}}/{{filtro}}">LISTA ISTANZE</a>
</li>
<li>
    <a href="/admin/repertorio/repertorioistanze/{{ istanza.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<div class="container">
  <div class="row-fluid">
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">categoriaIstanza</h4>
                 <p class="list-group-item-text">{{ istanza.categoriaIstanza }}</p>
            </li>
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">ditta</h4>
                 <p class="list-group-item-text">{{ istanza.ditta }}</p>
            </li>
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">riferimento</h4>
                 <p class="list-group-item-text">{{ istanza.riferimento }}</p>
            </li>
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">riassunto</h4>
                 <p class="list-group-item-text">{{ istanza.riassunto }}</p>
            </li>
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">coordinate catastali</h4>
                 <p class="list-group-item-text">{{ istanza.coordCatastali }}</p>
            </li>
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">note</h4>
                 <p class="list-group-item-text">{{ istanza.note }}</p>
            </li>
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">sottoscrizioni</h4>
                    {% for item in istanza.sottoscrizioni.all %}
                        <a href="/repertorio/sub/dettaglio/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
                    {% endfor %}
            </li>
            {% if osservazioni %}
                <li class="list-group-item">
                     <h4 class="list-group-item-heading">Osservazioni</h4>
                     {% for osservazione in osservazioni %}
                            <a href="{{ settings.MEDIA_URL }}corrispondenza/osservazioni/{{ osservazione }}">{{ osservazione }}</p>
                     {% endfor %}
                </li>
            {% else %}
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">corrispondenza</h4>
                    {% for item in istanza.comunicazioni.all %}
                        <a href="/repertorio/com/dettaglio/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
                    {% endfor %}
            </li>
            {% endif %}
            <li class="list-group-item">
                 <h4 class="list-group-item-heading">istanze correlate</h4>
                    {% for item in istanza.istanzeCorrelate.all %}
                        <a href="/repertorio/dettaglio/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
                    {% endfor %}
            </li>
            {% if istanza.stato != 'nv' %}
                <li class="list-group-item">
                     <h4 class="list-group-item-heading">istruttoria</h4>
                        {% for item in istruttorie %}
                            <a href="/repertorio/istruttoria/dettaglio/{{ item.pk }}/"><p class="list-group-item-text">{{item}}</p></a>
                        {% endfor %}
                </li>
                <li class="list-group-item">
                     <h4 class="list-group-item-heading">Esito</h4>
                     <p class="list-group-item-text">{{ istanza.stato_decodifica }}</p>
                </li>
                <li class="list-group-item">
                     <h4 class="list-group-item-heading">Dettaglio</h4>
                     <p class="list-group-item-text">{{ istanza.valutazione }}</p>
                </li>
                {% if istanza.destAssegnata %}
                    <li class="list-group-item">
                         <h4 class="list-group-item-heading">Destinazione assegnata</h4>
                         <p class="list-group-item-text">{{ istanza.destAssegnata }}</p>
                    </li>
                {% endif %}
                {% if controdeduzioni %}
                    <li class="list-group-item">
                         <h4 class="list-group-item-heading">Scheda controdeduzione</h4>
                         {% for controdeduzione in controdeduzioni %}
                                <a href="{{ settings.MEDIA_URL }}corrispondenza/controdeduzioni/{{ controdeduzione }}">{{ controdeduzione }}</p>
                         {% endfor %}
                    </li>
                {% endif %}
                <li class="list-group-item">
                     <h4 class="list-group-item-heading"></h4>
                    <a href="">STAMPA</p>

                </li>
            {% endif %}

        </ul>
    </div>
    {% if feature %}
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item">
                <div style="width:100%;height:400px" id="map"></div>
            </li>
        </ul>
        <table class="table table-hover">
          <caption></caption>
          <thead>
            <tr>
              <th>Destinazioni del Piano degli Interventi</th>
              <th>Area</th>
              <th>%</th>
            </tr>
          </thead>
          <tbody>
              {% for item in table %}
              <tr>
                {% for col in item %}
                <td>{{col}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
          </tbody>
        </table>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
