{% extends 'base.html' %}


{% block custom_style_link %}
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
{% endblock %}

{% block titolo %}ID istanza:  {{ istanza.idIstanza }}{% endblock %}
{% block menu %}
<li>
    <a href="/repertorio/com/dettaglio/{{ nav.primo }}/">&lt;&lt;</a>
</li>
<li>
    <a href="/repertorio/com/dettaglio/{{ nav.precedente }}/">&lt;</a>
</li>
<li>
    <a href="/repertorio/com/dettaglio/{{ nav.successivo }}/">&gt;</a>
</li>
<li>
    <a href="/repertorio/com/dettaglio/{{ nav.ultimo }}/">&gt;&gt;</a>
</li>
<li>
    <a href="/lista_istanze/com/">CORRISPONDENZA</a>
</li>
<li>
    <a href="/admin/repertorio/corrispondenza/{{ comunicazione.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Recipiente</h4>
             <p class="list-group-item-text">{%if comunicazione.recipiente == "e" %}ENTRATA{% else %}USCITA{% endif %}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Mittente</h4>
             <p class="list-group-item-text">{{ comunicazione.mittente }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Protocollo generale</h4>
             <p class="list-group-item-text">{{ comunicazione.protComunicazione }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Data comunicazione</h4>
             <p class="list-group-item-text">{{ comunicazione.dataComunicazione }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Note</h4>
             <p class="list-group-item-text">{{ comunicazione.note }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Istanza</h4>
             <p class="list-group-item-text"><a href="/repertorio/dettaglio/{{ istanza.pk }}">{{istanza}}</a></p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Documento</h4>
             <p class="list-group-item-text"><a href="{{ documenti_url }}{{ comunicazione.documento }}">{{ comunicazione.documento }}</a></p>
        </li>
    </ul>
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}
