{% extends 'base.html' %}


{% block custom_style_link %}
    <link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
{% endblock %}

{% block titolo %}{{ istruttoria }}{% endblock %}
{% block menu %}
<li>
    <a href="{{request.META.HTTP_REFERER}}">INDIETRO</a>
</li>
<li>
    <a href="/admin/repertorio/istruttorie/{{ istruttoria.pk }}/">MODIFICA</a>
</li>
{% endblock %}
{% block contenuto %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Istanza</h4>
             <p class="list-group-item-text"><a href="/repertorio/dettaglio/{{ istruttoria.istanza_id }}">{{istruttoria.istanza}}</a></p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Istruttore</h4>
             <p class="list-group-item-text">{{ istruttoria.istruttore }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Categoria</h4>
             <p class="list-group-item-text">{{ istruttoria.catIstruttoria }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Data istruttoria</h4>
             <p class="list-group-item-text">{{ istruttoria.data }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Esito</h4>
             <p class="list-group-item-text">{{ istruttoria.accoglimento_decodifica }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Dettaglio</h4>
             <p class="list-group-item-text">{{ istruttoria.dettaglio }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Destinazione di P.I. assegnata</h4>
             <p class="list-group-item-text">{{ istruttoria.destAssegnata }}</p>
        </li>
        <li class="list-group-item">
             <h4 class="list-group-item-heading">Note</h4>
             {% for istanza in istanze %}
             <p class="list-group-item-text">{{ istruttoria.note }}</p>
             {% endfor %}
        </li>
    </ul>
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}
