{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block custom_style_link %}<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
{% endblock %}

{% block titolo %}Lista Istanze{% endblock %}
{% block menu %}


<li>
    <A href="/repertorio/map/{{categoria}}/{{filtro|urlencode}}">Mappa istanze</A>
</li>

{% endblock %}
{% block contenuto %}
<div class="container-fluid">
    <div class="row-fluid">
         <form class="form-inline input-sm" role="form" action="/repertorio/" method="get">
          {% csrf_token %}
          <div class="form-group">
            <label for="categoria">Categoria:</label>
            <select class="form-control input-sm" name="categoria">
                <option value="0" {%if categoria == 0%}selected="selected"{%endif%}>Tutte le richieste</option>
                {% for cat in categorie %}
                    <option value="{{cat.pk}}" {%if cat.pk == categoria%}selected="selected"{%endif%}>{{cat.tipoIstanza}}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="if">Id</label>
            <input type="text" class="form-control input-sm" name="id" value="{{id}}">
          </div>
          <div class="form-group">
            <label for="filtro">Testo da ricercare</label>
            <input type="text" class="form-control input-sm" name="filtro" value="{{filtro}}">
          </div>
          <button type="filtra" class="btn btn-default input-sm">filtra</button>
        </form>
    </div>
    <br/>
    {% render_table istanze %}
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}



