{% extends "base.html" %}

{% block contenuto %}
    <form action="" method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for obj in filter %}
        {{ obj.id }} - {{ obj.ditta }}<br />
    {% endfor %}
{% endblock %}