{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block custom_style_link %}<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}
{% endblock %}

{% block titolo %}Lista Istanze{% endblock %}
{% block menu %}


<li>
    <A href="/repertorio/map/{{categoria}}/{{filtro|urlencode}}">Mappa istanze</A>
</li>

{% endblock %}
{% block contenuto %}
<div class="container-fluid">
    <div class="row-fluid">
         <form class="form-inline input-sm" role="form" action="/repertorio/" method="post">
          {{ filter.form.as_p }}
          <button type="filtra" class="btn btn-default input-sm">filtra</button>
        </form>
    </div>
    <br/>
    {% render_table istanze %}
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}
