{% extends 'base.html' %}
{% load render_table from django_tables2 %}

{% block custom_style_link %}<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}{% endblock %}

{% block titolo %}Lista Istanze{% endblock %}
{% block menu %}
{% endblock %}
{% block contenuto %}
<div class="container">
{% for riga in richieste%}
    {{ riga.id }}/{{ riga.ditta }}<br/>
{%endfor%}
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}
