{% extends 'base.html' %} {% load static %} {% load floppyforms %} {% comment %} {% endcomment %} {% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.14.1/ol.min.css" />
<link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" /> {% endblock %} {% block custom_style_inline %}{% endblock %} {% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
<script src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://epsg.io/3003.js"></script>

<script type="text/javascript">

    var targetExtent = [1716014, 5023919, 1737137, 5038662];

    var map_glob;
    var polyFeatures, polyOverlay;

    var targetProjection = new ol.proj.Projection({
        code: 'EPSG:3003',
        // The extent is used to determine zoom level 0. Recommended values for a
        // projection's validity extent can be found at http://epsg.io/.
        extent: targetExtent,
        units: 'm'
    });
    ol.proj.addProjection(targetProjection);

    var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
    proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
    var UTM32proj = new ol.proj.Projection({
        code: 'EPSG:32632',
        extent: UTM32Extent
    });
    ol.proj.addProjection(UTM32proj);

    var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
    proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
    var ETRS89proj = new ol.proj.Projection({
        code: 'EPSG:25832',
        extent: ETRS89Extent
    });
    ol.proj.addProjection(ETRS89proj);

    var geoJson_convertitore = new ol.format.GeoJSON();

    var WKT_convertitore = new ol.format.WKT();

      /**
       * @param {number} n The max number of characters to keep.
       * @return {string} Truncated string.
       */
      String.prototype.trunc = String.prototype.trunc ||
          function(n) {
            return this.length > n ? this.substr(0, n - 1) + '...' : this.substr(0);
          };



    function init() {

        var maxResolution = 10;

        function getText(feature, resolution) {
            var text;
            if (resolution > maxResolution) {
                text = '';
            } else {
                text = feature.get('idIstanza').toString()+" "+feature.get('ditta').trunc(20);;
            }
            return text;
        }

        function polygonStyleFunction(feature, resolution) {
            console.log(feature.get('idIstanza'));
            console.log(resolution);
            return new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: '#ff0000',
                    width: 3
                }),
                fill: new ol.style.Fill({
                    color: 'rgba(255, 255, 255, 0.3)'
                }),
                text: new ol.style.Text({
                    textAlign: "center",
                    textBaseline: "middle",
                    font: "Bold 12px Arial",
                    text: getText(feature, resolution),
                    fill: new ol.style.Fill({
                        color: "#ff0000"
                    }),
                    stroke: new ol.style.Stroke({
                        color: "#ffffff",
                        width: 3
                    })
                })
            });
        }

        //particelle overlay
        {% if features %}
        var polyObject = {% autoescape off %} {{features | safe}} {% endautoescape %};

        polyFeatures = new ol.Collection(new ol.format.GeoJSON().readFeatures(polyObject, {
            featureProjection: targetProjection
        }));
        {% else %}
        polyFeatures = new ol.Collection();
        {% endif %}

        polyOverlay = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: polyFeatures
            }),
            title: 'perimetro relativo alla richiesta',
            style: polygonStyleFunction
        });

        console.log(polyOverlay.getSource().getExtent());

        map_glob = new ol.Map({
            layers: [

                {% include 'ric_baselayers.html' %}

                polyOverlay
            ],
            controls: ol.control.defaults().extend([
                //new ol.control.ScaleLine(),
                new ol.control.MousePosition(),
                new ol.control.OverviewMap()
            ]),
            target: 'map',
            view: new ol.View({
                projection: targetProjection,
                center: ol.extent.getCenter(targetExtent),
                zoom: 2
            })
        });

        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Legenda' // Optional label for button
        });

        map_glob.getView().on('propertychange', function(e) {
           switch (e.key) {
              case 'resolution':
                console.log('resolution');
                console.log(e.oldValue);
                break;
           }
        });

        map_glob.on("click", function(e) {
            map_glob.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                //alert(feature.get('pk'))
                //window.location.href="/repertorio/dettaglio/"+feature.get('pk').toString()+"/{{categoria}}/{{filtro|urlencode}}";
                window.location.href='/admin/repertorio/repertorioistanze/'+feature.get('pk').toString()+'/change/'
            })
        });

        map_glob.addControl(layerSwitcher);

        extent = polyOverlay.getSource().getExtent();
        map_glob.getView().fit(extent, map_glob.getSize());

    }

</script>
{% comment %}
{% endcomment %} {% endblock %} {% block onload %} onload="init()"{% endblock %} {% block titolo %}Mappa istanze{% endblock %} {% block menu %}

<li>
    <a href="/repertorio/{{categoria}}/{{filtro|urlencode}}">LISTA ISTANZE</a>
</li>
<li>
    <A href="/admin/repertorio/repertorioistanze/">Amministra istanze</A>
</li>


{% endblock %} {% block contenuto %}


<div class="container">
    <div class="row-fluid">
        <form class="form-inline input-sm" role="form" action="/repertorio/map/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select class="form-control input-sm" name="categoria">
                <option value="0" {%if categoria == 0%}selected="selected"{%endif%}>Tutte le richieste</option>
                {% for cat in categorie %}
                    <option value="{{cat.pk}}" {%if cat.pk == categoria%}selected="selected"{%endif%}>{{cat.tipoIstanza}}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
                <label for="filtro">Testo da ricercare</label>
                <input type="text" class="form-control input-sm" name="filtro" value="{{filtro}}">
            </div>
            <button type="filtra" class="btn btn-default input-sm">filtra</button>
        </form>
    </div>
    <br/>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">

            <div style="width:100%;height:600px" id="map"></div>

        </div>
    </div>
</div>

{% endblock %} {% block piedipagina %}{% endblock %}
