{% extends 'base.html' %}

{% block custom_style_link %}{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}{% endblock %}

{% block titolo %}Nuova istanza{% endblock %}
{% block menu %}
{% endblock %}
{% block contenuto %}
<div class="container">
    <form class="form-horizontal">
    {% for field in FORM %}
    <div class="form-group">
        <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}</label>
        <div class="col-sm-10">
            <div class="form-control">{{ field }}</div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}



