
<script type="text/javascript">
    var lon = 1725155;
    var lat = 5032083;
    var zoom = 13;
    var map, layer;

    function init(){
        map = new OpenLayers.Map( 'map' );
        layer = new OpenLayers.Layer.WMS( "DBT", 
                "http://localhost/cgi-bin/DBT/qgis_mapserv.fcgi?MAP=DBT.qgs",
                {layers: 'DBT'} );
        map.addLayer(layer);
        map.setCenter(new OpenLayers.LonLat(lon, lat), zoom);
        var featurecollection = {
        {{feature}}
            };
       var geojson_format = new OpenLayers.Format.GeoJSON();
       var vector_layer = new OpenLayers.Layer.Vector(); 
       map.addLayer(vector_layer);
       vector_layer.addFeatures(geojson_format.read(featurecollection));
    }
</script>
<div id="map" class="smallmap"></div>
