{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}
{% block intestazione %}SEGNALAZIONE{% endblock %}
{% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block jquery_lib %}
<!-- jQuery Version 1.11.1 -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
{% endblock %}

{% block bootstrap_lib %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}

{% block custom_style_inline %}
body {
  padding-top: 0px;
  text-align: unset !important;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.contenuto {
  text-align: left;
}
.blink_me {
  animation: blinker 0.5s linear 10;
}
@keyframes blinker {  
  50% { opacity: 0; }
}
.toggle-group{
  background-color: white !important;
}

{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsts/2.3.0/jsts.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.5/dist/latest/bootstrap-autocomplete.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript">

{% localize off %}
var targetExtent = [1716014, 5023919, 1737137, 5038662];
{% endlocalize %}

var shifted = false;
var rotating = false

var map_catasto;
var clickOverlay, particelleFeatures, particelleOverlay, fabbricatiFeatures, fabbricatiOverlay, viarioOverlay;
var tabella;
var selezione_via;
var delayed = false;
var pk;
var current_geom;

proj4.defs("EPSG:3003","+proj=tmerc +lat_0=0 +lon_0=9 +k=0.9996 +x_0=1500000 +y_0=0 +ellps=intl +towgs84=-104.1,-49.1,-9.9,0.971,-2.917,0.714,-11.68 +units=m +no_defs");
var targetProjection = new ol.proj.Projection({
  code: 'EPSG:3003',
  // The extent is used to determine zoom level 0. Recommended values for a
  // projection's validity extent can be found at http://epsg.io/.
  extent: targetExtent,
  units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

var geoJson_convertitore = new ol.format.GeoJSON();

var WKT_convertitore = new ol.format.WKT();

var EsriJSON_convertitore = new ol.format.EsriJSON ();

var edit,draw,del;

function getRandomInt(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
function sameOrigin(url) {
    // test that a given url is a same-origin URL
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        console.log(csrftoken);
        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
            // Send the token to same-origin, relative URLs only.
            // Send the token only if the method warrants CSRF protection
            // Using the CSRFToken value acquired earlier
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function getWKT(vector_layer){
    if (vector_layer) {
      var features = vector_layer.getSource().getFeatures();
      const wreader = new jsts.io.WKTReader()
      const wwriter = new jsts.io.WKTWriter()
      const factory = new jsts.geom.GeometryFactory
      var wkt, geom, dissolve_geom
      var exit = false
      features.forEach(function(feature){
          if (!exit) {
            if (feature.getGeometry().getType() == 'Point' ) {
              var parser = new jsts.io.OL3Parser();
              var jstsGeom = parser.read(feature.getGeometry())
              dissolve_geom = jstsGeom.buffer(5)
              exit = true
            } else {
              wkt = WKT_convertitore.writeGeometry(feature.getGeometry());
              geom = wreader.read(wkt)
              if (dissolve_geom) {
                  dissolve_geom = dissolve_geom.union(geom)
              } else {
                  dissolve_geom = geom
              }
            }
          }
      })
      if (dissolve_geom) {
          return wwriter.write(dissolve_geom)
      }
    }
}

function getESRIJSON(vector_layer){
    var features = vector_layer.getSource().getFeatures();
    if (features.length > 0) {
        var feature = features[0];
        var geometry = feature.getGeometry();
        var esri = EsriJSON_convertitore.writeGeometry(geometry);
        return esri
    } else {
        return undefined
    }
}

function ricercaMappali() {
      var form = '<input type="hidden" name="coordinateCatastali" value="'+$('#coordinateCatastali').val()+'">';
      form += '<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">';
      $('<form action="/certificati/mappali/" method="POST">'+form+'</form>').appendTo('body').submit();
}

function getGeoPostData(){
    return {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        poligono: JSON.stringify(getWKT(particelleOverlay))
    }
}


function ricalcola(eventObj) {
    var jsonData = getGeoPostData();
    console.log("RICALCOLO", jsonData, )
    //$('#destinazioni').html('<div class="" id="progress"></div>');

    $.ajax({
        url: '/certificati/ricalcola/',
        type: 'POST',
        data: JSON.stringify(jsonData),
        dataType: 'json',
        enctype: 'multipart/form-data',
        async: true,
        success: function(payload) {
            tabella = payload.table;
            console.log(tabella)
            $('#destinazioni').html(payload.table);
            //const table = $('#destinazioni').clone()
            console.log(payload.table)
            if (payload.table != '') {
                $('#streetviewL').show()
                $('#coordinateCatastali').trigger('change')
                $('#destinazioni-tab').addClass('blink_me')
                $("#errore").hide()
                current_geom = 1
            } else {
              $('#streetviewL').hide()
            }
        }
    });
}


function enableModifyHandler( source ){
    source.on('change',function(e) {
        console.log("overlay changed", e)
        ricalcola(e)
    })
}

function salva() {
    console.log("salva")
    $.ajax({
          type: "POST",
          url: "/repertorio/segnalazione/",
          data: new FormData($('#form_info')[0]), // The form with the file inputs.
          processData: false,
          contentType: false,
          success: function(data){
              console.log(data)
              $('#adminLink').show()
              $('#nuovaSegnalazione').show()
              pk = data.pk
              $('#salva').hide()
          }
    });
    $( "#temp" ).remove()
}

function scheda() {
    if (pk != undefined) {
      //window.location.href = "/admin/repertorio/repertorioistanze/" + pk + "/change/"
      window.open("/admin/repertorio/repertorioistanze/" + pk + "/change/")
    }
}



$(document).ready(function(){

    $('#streetviewL').hide()

    $('#ricalcola').click(ricalcola())

    $(".drawMode").removeClass("active");

    $('.basicAutoComplete').autoComplete('show');

    $('.basicAutoComplete').on('change', function(e){
      console.log($("CHANGE",'.basicAutoComplete').val() != '')

    });

    $('#nuovaSegnalazione').click( function(event) {
        $('#adminLink').hide()
        $('#nuovaSegnalazione').hide()
        $('#salva').show()
        particelleOverlay.getSource().clear()
        $('#segnalazione').val("")
    });

    $('#salva').click( function(event) {
        console.log("sto salvando")
        if ( current_geom == undefined ) {
          $("#errore").show()
          console.log("nobbuono")
          return
        }
        if ($('#segnalazione').val() != '' ) {
            salva()
        } else {
          $('#segnalazione').addClass('is-invalid')
          $('#segnalazione').attr("placeholder", "Inserire il testo della segnalazione prima di salvare");
        }
    })

    $('.basicAutoComplete').on('autocomplete.select', function(e, item){

      $.ajax({
            type: "GET",
            url: "/certificati/via/?q=" + item,
            dataType: 'json',
            async: true,
            success: function(data){
                const viarioSource = new ol.source.Vector({
                  features: new ol.Collection( WKT_convertitore.readFeatures(data.wkt)),
                  projection: targetProjection,
                })
                const extent = viarioSource.getExtent();
                
                viarioOverlay.setSource(viarioSource)
                map_catasto.getView().fit(extent, map_catasto.getSize());
                selezione_via = data.via
            }
        });
    });

    $('#adminLink').hide()
    $('#nuovaSegnalazione').hide()

    $("#errore").hide()

    $('input[type="file"]').change(function(e){
        var fileName = e.target.files[0].name;
        $('.custom-file-label').html(fileName);
    });

    $('form').on('keyup change paste', 'input, select, textarea', function(){
        console.log("autosave")

        if (selezione_via && $('.basicAutoComplete').val() != selezione_via) {
          console.log("remove VIARIO")
          viarioOverlay.setSource(new ol.source.Vector({ features: new ol.Collection() }))
          viarioOverlay.getSource().refresh()
          selezione_via = undefined;
        }
        console.log("WKT",getWKT(particelleOverlay))
        $('#form_info').append('<input type="hidden" id="temp" name="poligono" value="'+getWKT(particelleOverlay)+'" />');
        
    });

    $('#cerca_catasto' ).click( function(event) {
        var jsonData = {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          coordinateCatastali: $( "#coordinateCatastali" ).val(),
          format: 'wkt'
        }
        console.log(JSON.stringify(jsonData))
        $.ajax({
            url: '/certificati/catasto/',
            type: 'POST',
            data: jsonData,
            contentType: 'application/x-www-form-urlencoded', //; charset=utf-8
            dataType: 'json',
            async: true,
            error: function(xhr, textStatus, thrownError) {
                console.log(xhr.responseText)
                alert(thrownError)
            },
            success: function(payload) {
                    console.log(payload)
                    if (payload.errore == undefined) {
                        const particelleSource = new ol.source.Vector({
                                  features: new ol.Collection( WKT_convertitore.readFeatures(payload.geom)),
                                  projection: targetProjection,
                                })
                        particelleOverlay.setSource(particelleSource)
                        extent = particelleOverlay.getSource().getExtent();
                        map_catasto.getView().fit(extent, map_catasto.getSize());
                        enableModifyHandler(particelleOverlay.getSource());
                        ricalcola()
                    }
            }
        });
    });


    $('#streetviewL').on('click', function (event) {
      console.log("streetview")
      var cntr = ol.extent.getCenter(particelleOverlay.getSource().getExtent())
      var url = "/repertorio/sv/0/?x="+cntr[0].toString()+"&y="+cntr[1].toString()
      console.log(url)
      window.open(url, '_blank');
    });

    $('#drawLinkP').on('click', function (event) {
      console.log("drawPoint")
      map_catasto.removeInteraction(edit)
      map_catasto.removeInteraction(del)
      map_catasto.removeInteraction(draw)
      draw = new ol.interaction.Draw({
          source: clickOverlay.getSource(),
          type: 'Point'
      });
      map_catasto.addInteraction(draw)
    });

    $('#drawLinkL').on('click', function (event) {
      console.log("drawLink")
      map_catasto.removeInteraction(edit)
      map_catasto.removeInteraction(del)
      map_catasto.removeInteraction(draw)
      draw = new ol.interaction.Draw({
          source: particelleOverlay.getSource(),
          type: 'Polygon'
      });
      map_catasto.addInteraction(draw)
    });

    $('#editLinkL').on('click', function (event) {
      console.log("editLink")
      map_catasto.removeInteraction(draw)
      map_catasto.removeInteraction(del)
      edit = new ol.interaction.Modify({
          source: particelleOverlay.getSource()
      });
      map_catasto.addInteraction(edit)
    });

    $('#pulisciTutto').on('click', function (event) {
      console.log("delLink")
      particelleOverlay.getSource().clear()
    });

    $('#delLinkL').on('click', function (event) {
      console.log("delLink")
      map_catasto.removeInteraction(draw)
      map_catasto.removeInteraction(edit)
      del = new ol.interaction.Select({
          source: particelleOverlay.getSource()
      });
      del.on('select', function (event) {
        console.log('select event', del.getFeatures());
        del.getFeatures().forEach(function(feature){
          particelleOverlay.getSource().removeFeature(feature);
        });
        del.getFeatures().clear();
      })
      map_catasto.addInteraction(del)
    });

    console.log('doc ready');
});


var drawInteraction, modifyInteraction, clipInteractions;


function init(){


      particelleFeatures = new ol.Collection();


      particelleOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: particelleFeatures,
          projection: targetProjection,
        }),
        title: 'poligono delle ditte catastali richieste *',
        style: new ol.style.Style({
          fill: new ol.style.Fill({
            color: 'rgba(255, 255, 255, 0.3)'
          }),
          stroke: new ol.style.Stroke({
            color: '#ff0000',
            width: 3
          }),
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ffcc33',
            }),
          })
        })
      });

      clickOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: new ol.Collection(),
          projection: targetProjection,
        }),
        title: 'click',
        visible: false,
        style: new ol.style.Style({
          image: new ol.style.Circle({
            radius: 7,
            fill: new ol.style.Fill({
              color: '#ffcc33',
            }),
          })
        })
      });

      clickOverlay.getSource().on( "addfeature", function(evt) {

          var last_feature = clickOverlay.getSource().getFeatures()[0];
          var jsonData = {filtro_wkt: WKT_convertitore.writeFeature(last_feature)};
          console.log("cerca_mappali",jsonData)
          clickOverlay.getSource().clear();

          $.ajax({
              url: '/certificati/cerca_mappali/',
              type: 'POST',
              data: JSON.stringify(jsonData),
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              async: true,
              success: function(payload) {
                  console.log("payload",payload)
                  for (var i = 0; i < payload.mappali.length; i++) {
                      var mappale = payload.mappali[i];
                      var mappale_geom = WKT_convertitore.readGeometry(mappale[2]);
                      var feat = new ol.Feature({
                        geometry: mappale_geom,
                        foglio: mappale[0],
                        mappale: mappale[1],
                      });
                      particelleOverlay.getSource().addFeature(feat);
                  }
                  map_catasto.getView().fit(particelleOverlay.getSource().getExtent(), map_catasto.getSize());
              }
          });
      });

      viarioOverlay = new ol.layer.Vector({
        source: new ol.source.Vector({
          features: new ol.Collection(),
          projection: targetProjection,
        }),
        title: 'individuazione toponomastica',
        style: new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#00ff00',
            width: 4
          })
        })
      });

    console.log(particelleOverlay.getSource().getExtent());

    enableModifyHandler(particelleOverlay.getSource());

    let wms_rapper_decaduto = new ol.layer.Tile({
      extent: targetExtent,
      title: 'ANALISI PI DECADUTO',
      visible: true,
      source: new ol.source.TileWMS({
        url: 'https://rapper.comune.padova.it/qgisserver/?MAP=/dati/archiviazione/servizi/PI/PI_DECADUTO.qgs',
        params: {layers: 'pi_decaduto,segnalazioni',format:'image/png',CRS:'EPSG:3003'}
      })
    })

    let wms_rapper_pua = new ol.layer.Tile({
      extent: targetExtent,
      title: 'PUA approvati non decaduti',
      visible: false,
      source: new ol.source.TileWMS({
        url: 'https://rapper.comune.padova.it/qgisserver/?MAP=/dati/archiviazione/servizi/PI/PI_DECADUTO.qgs',
        params: {layers: 'pua',format:'image/png',CRS:'EPSG:3003'}
      })
    })

    let wms_rapper_patrimonio = new ol.layer.Tile({
      extent: targetExtent,
      title: 'PATRIMONIO',
      visible: false,
      source: new ol.source.TileWMS({
        url: 'https://rapper.comune.padova.it/qgisserver/?MAP=/dati/archiviazione/servizi/PI/PI_DECADUTO.qgs',
        params: {layers: 'patrimonio',format:'image/png',CRS:'EPSG:3003'}
      })
    })

    map_catasto = new ol.Map({
      interactions: ol.interaction.defaults(), //.extend([new app.Drag()]),
      layers: [

{% include 'cdu_baselayers.html' %}
          
          
          wms_rapper_patrimonio,
          wms_rapper_pua,
          wms_rapper_decaduto,
          viarioOverlay,
          clickOverlay,
          particelleOverlay
      ],
      controls: ol.control.defaults().extend([
        new ol.control.ScaleLine(),
        new ol.control.MousePosition(),
        new ol.control.OverviewMap()
      ]),
      target: 'map',
      view: new ol.View({
        projection: targetProjection,
        center: [1725189.560,5031910.612],//ol.extent.getCenter([1724061.6000,1727063.5000,5029963.6000,5033549.6000]),
        zoom: 4
      })
    });

    var layerSwitcher = new ol.control.LayerSwitcher({
        tipLabel: 'Legenda' // Optional label for button
    });
    map_catasto.addControl(layerSwitcher);

    $( "#drawPoint" ).trigger( "click" ); // interazione predefinita
    
    $('#localizzazione-tab').trigger('click');


}


</script>
{% endblock %}
{% block onload %} onload="init()" {% endblock %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/repertorio/segnalazione/">SEGNALAZIONE D'UFFICIO</a>
    
    <div class="pull-right">
      <form class="form-inline">
        <!-- <input type="checkbox" checked data-toggle="toggle">  -->
        <ul class="nav navbar-nav credentials">
              {% if user.is_anonymous %}
              <li><form method="post" role="form" action="{% url 'login' %}"></li>
              {% else %}
              <li></li>
              <li><a href="/certificati/logout/">{{ user }} logout</a></li>
              {% endif %}
        </ul>
      </form>
    </div>
  </div>
</nav>
{% endblock %}
{% block contenuto %}
<br/>
<div class="container">
     <div class="row">
     
     <form role="form" id='form_info' action="/repertorio/segnalazione/" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <input type="hidden" class="form-control" name="pk" id="pk" value="{{ pk }}">
        <input type="hidden" class="form-control" name="user" id="user" value="{{ user }}">
          <div class="col col-lg-12">
            <div class="tab-pane fade show active" id="localizzazione" role="tabpanel" aria-labelledby="localizzazione-tab">
              <div class="panel-body">
                <div class="row">
                  <div class="col col-lg-12">
                    <div class="input-group">
                      <input class="form-control basicAutoComplete" placeholder="Cerca per via..." type="text" data-url="/certificati/viario/" autocomplete="off">
                      <input type="text" class="form-control" id="coordinateCatastali" name="coordinateCatastali" placeholder="Coordinate Catastali nel formato: FG1/MAPP1[-MAPP2-MAPP3...] [FG2/MAPP1[-MAPP2-MAPP3...]...]" value="{% if coordinateCatastali%}{{coordinateCatastali}}{% endif %}">
                      <span class="input-group-btn">
                        <a class="btn btn-outline-dark" id="cerca_catasto">Cerca</a>
                       
                              <div class="btn-group btn-group-toggle" style="padding:0px;" data-toggle="buttons">
                                <label class="btn btn-outline-secondary drawMode" id="streetviewL" >
                                  <input type="radio" name="options" id="streetviewL" autocomplete="off">
                                  <img src="https://raw.githubusercontent.com/enricofer/go2streetview/master/res/icoStreetview.png" style="height:100%;width:100%">
                                </label> 
                                <label class="btn btn-outline-secondary drawMode" id="drawLinkP" >
                                  <input type="radio" name="options" id="drawPoint" autocomplete="off" checked>
                                  <img src="/static/repertorio/draw_point_lr.png" style="height:80%;width:80%">
                                </label>
                                <label class="btn btn-outline-secondary drawMode" id="drawLinkL" >
                                  <input type="radio" name="options" id="drawLink" autocomplete="off" >
                                  <img src="/static/repertorio/draw_poly_lr.png" style="height:80%;width:80%">
                                </label>
                                <label class="btn btn-outline-secondary drawMode" id="editLinkL">
                                  <input type="radio" name="options" id="editLink" autocomplete="off">
                                  <img src="/static/repertorio/edit_poly_lr.png" style="height:80%;width:80%">
                                </label>
                                <label class="btn btn-outline-secondary drawMode" id="delLinkL">
                                  <input type="radio" name="options" id="delLink" autocomplete="off">
                                  <img src="/static/repertorio/del_poly_lr.png" style="height:80%;width:80%">
                                </label>
                              </div>
                    </div><!-- /input-group -->
                  </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
                <br/>
                <div class="row">
                  <div class="col col-md-9">
                      <div class="alert alert-warning" id="errore"><strong>ERRORE: </strong> definire un poligono sulla mappa</div>
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div style="width:100%;height:550px" id="map"></div>
                          </div>
                      </div>
                  </div><!-- /.col-md-12 -->
          <div class="col col-md-3">
            <div class="tab-pane fade show " name="info"  id="info" role="tabpanel" aria-labelledby="info-tab">
              <div class="panel-body">
                <div class="form-group">
                  <label for="segnalazione">Segnalazione</label>
                  <textarea class="form-control" name="segnalazione" id="segnalazione" rows="15"></textarea>
                </div>
                <div class="form-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="allegato" id="allegato">
                  <label class="custom-file-label" for="allegato">Scegli il file da allegare</label>
                </div>
                </div>
                <a class="btn btn-outline-success" id="adminLink" target="blank" onclick="scheda()" href="#">Scheda salvata in Istanze</a>
                <a class="btn btn-outline-dark" id="nuovaSegnalazione" target="blank" href="#">Nuova segnalazione</a>
                <a class="btn btn-outline-dark" href="#" id="salva">Salva</a>
              </div><!-- /.panel-body -->
            </div><!-- /.tab-pane info -->
          </div><!-- /col col-lg-3 -->

                </div><!-- /.row-fluid -->
              </div><!-- /.tab-pane localizzazione -->
            </div><!-- /.panel-body -->
          </div><!-- /.col-md-auto -->

      </form>
    </div><!-- /row -->
</div>

{% endblock %}
{% block piedipagina %}{% endblock %}
