{% extends 'base.html' %}

{% block custom_style_link %}<link rel="stylesheet" href="/static/django_tables2/themes/paleblue/css/screen.css" />{% endblock %}
{% block custom_style_inline %}{% endblock %}
{% block custom_js %}{% endblock %}

{% block titolo %}Upload aggiornamento bandi{% endblock %}
{% block menu %}
{% endblock %}
{% block contenuto %}
<div class="container">
{% if msg %}
<div class="alert alert-warning"><strong>{{msg}}</strong></div>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Invia">
</form>
</div>
{% endblock %}
{% block piedipagina %}{% endblock %}



