{% extends "admin/change_form.html" %}
{% block extrahead %}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.14.1/ol.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" />
    <!-- URB PD -->
    <link rel="stylesheet" href="/static/pua/pua_finestramappa.css?id=9012233" />
    <link href="/static/repertorio/css/my_admin.css" type="text/css" media="all" rel="stylesheet">
    {% if ADMIN_SETTINGS.TEST_DEPLOYMENT %}
    <style>
        #grp-navigation {
            background-image: unset !important;
            background-color: red !important;
        }
    </style>
    {% endif %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
    <script type="text/javascript" src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
    <script type="text/javascript" src="https://epsg.io/3003.js"></script>
    <!-- URB PD -->
    <script type="text/javascript" src="/static/repertorio/repertorio_finestramappa.js?id=55911088"></script>
    <script type="text/javascript" src="/static/repertorio/mappeDiBase.js?id=239084485"></script>
    <script src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript">
        //nascondi le label inline
        $(document).ready(function(){
            //$('.c-1').prev('.c-1:has(a)').attr("style", "display: none !important;")
            //$(".c-1:has(label.inline)").attr("style", "display: none !important;")
            $('.c-1:has(label[for="id_tags"])').attr("style", "display: none !important;")
            //$('.c-2:has(.grp-readonly)').prev('.c-1').attr("style", "display: table !important;")
            //$('.c-1:has(:contains("Nota"))').attr("style", "display: table !important;")
            $('.c-1:has(:empty)').attr("style", "display: none !important;")
        })
    </script>
{% endblock %}

{% block object-tools-items %}
{% load admin_urls %}
{% if original.previous %}<li><a href="{% url opts|admin_urlname:'change' original.previous.id %}" class="historylink">« {{original.previous}}</a></li>{% endif %}
{% if original.next %}<li><a href="{% url opts|admin_urlname:'change' original.next.id %}" class="historylink">{{original.next}} »</a></li>{% endif %}
{{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
{{ block.super }}
{% endblock %}