{% extends "cdu_base.html" %}

{% block titolo %}LOGOUT{% endblock %}

{% block content %}
<div class="container"> 
    <div class="col-md-12">
        <div class="alert alert-info">
          <strong>Logged out!</strong>
        </div>
    </div>
</div>

{% endblock %}