{% extends "cdu_base.html" %}

{% block titolo %}CAMBIO PASSWORD{% endblock %}

{% block content %}

<div class="container"> 
    <div class="row-fluid">
        <div class="col-md-12">
            {% if form.errors %}
            <div class="alert alert-danger">
              <strong>Your username and password didn't match. Please try again.</strong>
            </div>
            {% endif %}
            <form method="post" action="{% url 'django.contrib.auth.views.password_change' %}">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Cambia"  class="btn btn-default"/>
                <input type="hidden" name="next" value="{{ next }}" />
                
            </form>
        </div>
    </div>
</div>

{% endblock %}
