{% extends "cdu_base.html" %}

{% block titolo %}PASSWORD CAMBIATA{% endblock %}

{% block content %}

<div class="container"> 
    <div class="row-fluid">
        <div class="col-md-12">
            {% if form.errors %}
            <div class="alert alert-danger">
              <strong>Your username and password didn't match. Please try again.</strong>
            </div>
            {% endif %}
            La password è stata cambiata. E' necessario riautenticarsi con le nuove credenziali: <a href="/certificati/login">LOGIN</a>
        </div>
    </div>
</div>

{% endblock %}
