{% extends "admin/change_form.html" %}
{% block extrahead %}
    <!-- CUSTOM CODE URBPD -->
    {{ block.super }}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.14.1/ol.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" />
    <link rel="stylesheet" href="/static/pua/pua_finestramappa.css?id=538985454" />
    {% if ADMIN_SETTINGS.TEST_DEPLOYMENT %}
    <style>
        #grp-navigation {
            background-image: unset !important;
            background-color: red !important;
        }
    </style>
    {% endif %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
    <script type="text/javascript" src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
    <script type="text/javascript" src="https://epsg.io/3003.js"></script>
    <!-- CUSTOM CODE URBPD -->
    <script type="text/javascript" src="/static/pua/pua_finestramappa.js?id=54351444"></script>
    <script type="text/javascript" src="/static/repertorio/mappeDiBase.js?id=15334234"></script>
    

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
          $("#add_id_cat_osservazioni").attr("href", "#");
          $("#add_id_cat_osservazioni").removeClass("related-widget-wrapper-link");
          $("#add_id_cat_osservazioni").removeClass("add-another");
          $('#add_id_cat_osservazioni').click(function(eventObj) {
            console.log("ADD CAT")
            $.ajax({
                url: '/pua/cat_osservazioni/?pid='+ $("#id_id_pua").val(), //id_info_set-0-rif_pua
                type: 'GET',
                async: false,
                success: function(payload) {
                  location.reload()
                }
            });
          })
        })
    </script>

    <script type="text/javascript" charset="utf-8">
        function copia_clipboard (txt) {
            var dummy = document.createElement("textarea");
            // to avoid breaking orgain page when copying more words
            // cant copy when adding below this code
            // dummy.style.display = 'none'
            document.body.appendChild(dummy);
            //Be careful if you use texarea. setAttribute('value', value), which works with "input" does not work with "textarea". – Eduard
            dummy.value = txt;
            dummy.select();
            document.execCommand("copy");
            document.body.removeChild(dummy);

            alert("Testo copiato negli appunti:\n"+txt)
        }
    </script>

{% endblock %}

{% block stylesheets %}
    {{ block.super }}

<style>

.link_clipboard_wkt > .c-1  {
  display: none !important;
}

#link_button:hover  {
	cursor: pointer !important;
}

.labelSpan {
  color: white !important;
}


</style>

{% endblock %}