{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Repertorio dei progetti in corso</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'repertorio/css/bootstrap.min.css' %}" rel="stylesheet">
    {% block custom_style_link %}{% endblock %}
    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    {% block custom_style_inline %}{% endblock %}
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery Version 1.11.1 -->
    {% comment %}<script src="{% static 'warp/js/jquery.js' %}"></script>{% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'warp/js/bootstrap.min.js' %}"></script>
    
    {% block custom_js %}{% endblock %}
</head>

<body {% block onload %}{% endblock %}>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{% block titolo %}{% endblock %}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block menu %}{% endblock %}
                </ul>
            <div class="pull-right">
                <ul class="nav navbar-nav">
                    <li>
                      
                      {% if user.is_anonymous %}
                      <a href="/vincoli/login/">login</a>
                      {% else %}
                      <a href="/vincoli/logout/">{{ user }} logout</a>
                      {% endif %}
                    </li>
                </ul>
            </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    
{% block content %}{% endblock %}
{% block contenuto %}{% endblock %}

    
    <!-- /.container -->
    {% block piedipagina %}{% endblock %}

</body>

</html>
