{% extends 'pnrr_base.html' %} 
{% load l10n %} {% load static %} {% load floppyforms %} {% comment %} {% endcomment %} {% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.2.0/src/ol-layerswitcher.css" /> 
<link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css">
{% endblock %} 
{% block custom_style_inline %}

#map {
    width: 100%;
    height: 800px;
    background: white;
}
 
#marker {
    width: 30px;
    height: 30px;
    border: 1px solid #088;
    border-radius: 15px;
    background-color: #0FF;
    opacity: 0.5;
}

.ol-popup {padding: unset;width:400px;}
.ol-popup-closer {font-size:100%;}
.ol-popup-content {
    max-height: 400px !important;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding-right:25px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  font-size:80%;
} 

.ol-popup-closer {
	top: -22px;
	right: 0px;
  padding: 0 3px;
	background-color: white;
}

.pptable {
  width: 100%;
}

.pptable {
  width: 100%;
}

.pptable th {
  vertical-align: top;
}

.pptablehead {
  width: 40%;
}

.pptablerow:nth-child(odd) {
    background-color: #eeeeee;
}

.pptablerow:first-child th {
    background-color: #cccccc;
}

.pptablerow:first-child td {
    background-color: #cccccc;
}

.pptabledata {
  width: 60%;
  padding: 2px;
  overflow: hidden;
  word-wrap: anywhere;
}

{% endblock %} 
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<script src="https://unpkg.com/ol-layerswitcher@3.2.0"></script>
<script src="https://unpkg.com/ol-popup@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://epsg.io/3003.js"></script>
<script type="text/javascript" src="{% static 'certificati/js/salva_stato_layers.js' %}"></script>

<script type="text/javascript">

var targetExtent = [1716014, 5023919, 1737137, 5038662];

var EsriJSON_convertitore = new ol.format.EsriJSON ();
var geoJson_convertitore = new ol.format.GeoJSON();
var WKT_convertitore = new ol.format.WKT();

var map_glob;
var wms_pnrr;

var targetProjection = new ol.proj.Projection({
    code: 'EPSG:3003',
    // The extent is used to determine zoom level 0. Recommended values for a
    // projection's validity extent can be found at http://epsg.io/.
    extent: targetExtent,
    units: 'm'
});
ol.proj.addProjection(targetProjection);

var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
var UTM32proj = new ol.proj.Projection({
    code: 'EPSG:32632',
    extent: UTM32Extent
});
ol.proj.addProjection(UTM32proj);

var UTM33Extent = [166021.4431, 0.0000, 833978.5569, 9329005.1825];
proj4.defs('EPSG:32633', '+proj=utm +zone=33 +datum=WGS84 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var UTM33proj = new ol.proj.Projection({
    code: 'EPSG:32633',
    extent: UTM33Extent
});
ol.proj.addProjection(UTM33Extent);

var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
var ETRS89proj = new ol.proj.Projection({
    code: 'EPSG:25832',
    extent: ETRS89Extent
});
ol.proj.addProjection(ETRS89proj);

function setMapToFullScreen(){
//if your map element id is other than 'map' change it here
    var elem = document.getElementById('map');
    if (elem.requestFullscreen) {
        elem.requestFullscreen();
    } else if (elem.msRequestFullscreen) {
        elem.msRequestFullscreen();
    } else if (elem.mozRequestFullScreen) {
        elem.mozRequestFullScreen();
    } else if (elem.webkitRequestFullscreen) {
        elem.webkitRequestFullscreen();
    }   
}

var wms_rapper, getf_popup, popup_data; 

function tabbedPopup (json) {
  let data = JSON.parse(json)
  let popup_data = data.features ?? data.results

  const popup_layers = {}

  if ( Object.keys(popup_data).length == 0 ) return undefined

  for (const layer of popup_data) {
    const wms_layer = layer.layerName ?? layer.id.split('.')[0]
    let table = '<table class="pptable"><tbody>'
    let lastrow = ''
    let layer_props = layer.properties ?? layer.attributes
    for (let [k, v] of Object.entries(layer_props)) { 
      if (k == 'link') {
        k = ""
        lastrow += '<a href="' + v + '" target="_blank"><strong>LINK</strong><br/></a>'
      } else if (k == 'PDF_CONTRATTI') {
        k = ""
        lastrow += '<a href="https://oscar.comune.padova.it/viewer/website/pdf/' + v + '" target="_blank"><strong>SCARICA ATTO</strong><br/></a>'
      } else {
        table += '<tr class="pptablerow"><th class="pptablehead">'+k+'</th><td class="pptabledata">'+ (v ? v.toString() : "") +'</td></tr>'
      } 
    }
    if (layer.geometry) {
      let geom
      if (layer.geometryType ) {
        geom = EsriJSON_convertitore.readGeometry(layer.geometry)
      } else {
        geom = geoJson_convertitore.readGeometry(layer.geometry)
      }
      let wkt_geom = WKT_convertitore.writeGeometry(geom)
      console.log("wkt_geom", wkt_geom)
      lastrow += '<a href="#" onclick="acquisisci(\''+wkt_geom+'\')"><strong>ACQUISISCI GEOMETRIA</strong><br/></a>'
    }
    if (lastrow) {
      table += '<tr class="pptablerow"><th class="pptablehead"></th><td class="pptabledata">'+ lastrow +'</td></tr>'
    }
    table += '</tbody></table>'
    if (popup_layers[wms_layer]) {
      popup_layers[wms_layer].push(table)
    } else {
      popup_layers[wms_layer] = [table]
    }
  }

  if ( Object.keys(popup_layers).length == 0 ) return undefined

  let panel_menu = document.createElement('div')
  panel_menu.setAttribute('class', 'tab')
  let active = true
  for (const [key, value] of Object.entries(popup_layers)) {
    let elclass = 'tablinks'
    if (active) { 
      elclass += ' active'
      active = false
    }
    let newItem = document.createElement('button')
    newItem.setAttribute('class', elclass)
    newItem.setAttribute('id',"_"+key)
    newItem.setAttribute('onclick', "openTab('"+ key +"')")
    newItem.innerText = value.length.toString() > 1 ? key + ':' + value.length.toString() : key
    panel_menu.appendChild(newItem)
  }
  let panel_tabs = document.createElement('div')
  panel_tabs.setAttribute('class', 'tabcontainer')
  active = true
  for (const [key, value] of Object.entries(popup_layers)) {
    let elclass = 'tabcontent'
    let elstyle = 'display:none;'
    if (active) { 
      elclass += ' active'
      elstyle = 'display:block;'
      active = false
    }
    let newItem = document.createElement('div')
    newItem.setAttribute('id', key)
    newItem.setAttribute('style', elstyle)
    newItem.setAttribute('class', elclass)
    let tab_item = ''
    for (const table_item of value) {
      tab_item += (table_item)
      tab_item += ('<br/>')
    }
    newItem.innerHTML = tab_item
    panel_tabs.appendChild(newItem)
  }
  let panel = document.createElement('div')
  panel.setAttribute('class', 'panelcontainer')
  panel.appendChild(panel_menu)
  panel.appendChild(panel_tabs)
  return panel
}


function openTab(tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  document.getElementById("_"+tabName).className += " active";
} 

function listPopup(json,mapname) {
  if (json instanceof String) {
    popup_data = JSON.parse(json)
  } else {
    popup_data = json
  }
  let table = '<table class="pptable"><tbody>'
  for (let [k, v] of Object.entries(popup_data)) { 
    table += '<tr class="pptablerow"><td class="pptabledata"><a href="#" onclick="popup_props(\''+k+'\',\''+mapname+'\')">'+k+'</a></tr>'
  }
  table += '</tbody></table>'
  let panel = document.createElement('div')
  panel.setAttribute('class', 'panelcontainer')
  panel.innerHTML = table
  return panel
}

function popup_props(identify_key,mapname) {
  const identify_item = popup_data[identify_key]
  if (identify_item.url) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            const pp = tabbedPopup(xhttp.responseText)
            if ( pp ) { getf_popup[window.mapname].show(identify_item.coords, pp) }
        }
    };
    xhttp.open("GET", identify_item.url, true);
    xhttp.send();
  }
}

function handleClickEvent(evt, mapname) {
  window["mapname"] = mapname
  const map = window[mapname]
  var listalayer = []
  //if ( $("#info").hasClass("active") ) {
    foreach_activelayer( map, function (layer) { 
      var inforeq = {
        title: layer.get("title"),
        coords: evt.coordinate
      }
      let layers;
      if ( layer.getSource().getParams ) {
        layers = layer.getSource().getParams()["LAYERS"] ?? layer.getSource().getParams()["layers"] ?? 'all'
        layers = layers.replace('show:','visible:')
      }
        
      if (layer.getSource() instanceof ol.source.TileWMS) {
        var viewResolution = map.getView().getResolution();
        inforeq.url = layer.getSource().getGetFeatureInfoUrl(
        evt.coordinate, viewResolution, targetProjection, {
            'INFO_FORMAT': 'application/json', //'application/json','text/html'
            'QUERY_LAYERS': layers,
            'WITH_GEOMETRY': 'TRUE',
            'FEATURE_COUNT': 10
        });
        inforeq.type = "TileWMS"
        inforeq.params = layer.getSource().getParams()
      } else {
        if (layer.getSource() instanceof ol.source.TileArcGISRest) {
          inforeq.type = "TileArcGISRest"
          inforeq.params = layer.getSource().getParams()
          let layer_rest_endpoint = layer.getSource().getUrls()[0].replace('/export','')
          let viewport = map.getSize()
          let viewport_dpi = layer.getSource().getParams()['DPI'] ?? '96'
          let viewport_extent = map.getView().calculateExtent(viewport).toString()
          let url = `${layer_rest_endpoint}/identify?`
          url += `returnGeometry=true&f=json&geometryType=esriGeometryPoint&geometry={x: ${evt.coordinate[0]}, y: ${evt.coordinate[1]}}`
          url += `&layers=${layers}&imageDisplay=${viewport[0]},${viewport[1]},${viewport_dpi}&mapExtent=${viewport_extent}&tolerance=10`
          inforeq.url = url
          console.log(url)
        }
      }
      if (inforeq.url) {
        listalayer.push(inforeq)
      }
    }, function() {
      let layer_choice = {}
      listalayer.forEach(function(item) {layer_choice[item.title]=item})
      const lp = listPopup(layer_choice,mapname)
      if ( lp ) { getf_popup[window.mapname].show(evt.coordinate, lp) }
    } )
  //} else {
  //  console.log("info not active")
  //}
  /*
  if (!wms_rapper.getVisible()) return
  var viewResolution = map.getView().getResolution();
  var url = wms_rapper.getSource().getGetFeatureInfoUrl(
      evt.coordinate, viewResolution, targetProjection, {
          'INFO_FORMAT': 'application/json' , //'application/json','text/html'
          'QUERY_LAYERS': ['cdu,istanze,piani,vincoli,pratiche'],
          'FEATURE_COUNT': 10
      });
  */

  if (url) {
      var xhttp;
      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              const pp = tabbedPopup(xhttp.responseText)
              if ( pp ) { getf_popup.show(evt.coordinate, pp) }
          }
      };
      xhttp.open("GET", url, true);
      xhttp.send();
  }
}

    function init() {

        wms_pnrr = new ol.layer.Tile({
            extent: targetExtent,
            title: 'progetti in corso',
            visible: true,
            source: new ol.source.TileWMS({
              url: 'https://rapper.comune.padova.it/qgisserver?MAP=/dati/archiviazione/servizi/DEFAULT/PROGETTI.qgs',  //http://2.42.229.8:8080/geoserver/ows?
              projection: targetProjection,
              params: {layers: 'pnrr_progetto',format:'image/png'}
            })
          }),

        map_glob = new ol.Map({
            layers: [
{% include 'pnrr_baselayers.html' %}
                wms_pnrr
            ],

            controls: ol.control.defaults().extend([
                //new ol.control.ScaleLine(),
                new ol.control.MousePosition(),
                new ol.control.OverviewMap(),
                new ol.control.FullScreen()
            ]),
            target: 'map',
            view: new ol.View({
                projection: targetProjection,
                center: ol.extent.getCenter(targetExtent),
                zoom: 2
            })
        });

        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Legenda' // Optional label for button
        });

        map_glob.getView().on('propertychange', function(e) {
           switch (e.key) {
              case 'resolution':
                console.log('resolution');
                console.log(e.oldValue);
                break;
           }
        });

        getf_popup = {
            "map_glob": new ol.Overlay.Popup(),
            } 

        map_glob.addOverlay(getf_popup.map_glob);


        map_glob.addControl(layerSwitcher);
        map_glob.getView().fit(targetExtent, map_glob.getSize());

        map_glob.on('singleclick', function(evt) {
            handleClickEvent(evt,"map_glob")
        });

        setMapToFullScreen()
        enable_layer_state_tracking(map_glob)
    }

</script>
{% comment %}
{% endcomment %} {% endblock %} {% block onload %} onload="init()"{% endblock %} {% block titolo %}Mappa PROGETTI IN CORSO{% endblock %} {% block menu %}

<li>
    <a href="/admin/pnrr/progetto/">Lista progetti</a>
</li>

{% endblock %} {% block contenuto %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">

            <div id="map"></div>

        </div>
    </div>
</div>

{% endblock %} {% block piedipagina %}{% endblock %}
