#map {
    height: 600px;
    width: 1000px;
}

.toolbar {
top: 5px;
right: .5em;
display: flex;
flex-wrap: nowrap;
}

.etic {
    color: #205677;
    font-weight: bold;
    padding: 4px;
}

.bar {
    display:flex;
}

.ol-control{position:absolute;background-color:rgba(255,255,255,.4);border-radius:4px;padding:2px}
.ol-control:hover{background-color:rgba(255,255,255,.6)}

.ol-control button {
display: block;
margin: 1px;
padding: 0;
color: white;
font-weight: bold;
text-decoration: none;
font-size: inherit;
text-align: center;
min-height: 1.375em;
min-width: 1.375em;
line-height: .4em;
background-color: rgba(0,60,136,0.5);
border: none;
border-radius: 2px;
}

.ol-control button::-moz-focus-inner {
border: none;
padding: 0;
}