{% extends 'hp_base.html' %}
{% load static %}
{% load l10n %}
{% comment %} {% endcomment %}
{% block custom_style_link %}{% endblock %}
{% block custom_style_inline %}

.jumbotron {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
  font-size: 75%  !important;
}

.jumbotron p {
  font-size: 16px  !important;
}

.jumbotron h2 {
  font-size: 35px  !important;
  font-weight: 700;
}

.h3 {
  font-size: 28px  !important;
}

.news {
  display:none
  background-color:white;
}

.news td {
  vertical-align: middle !important;
}

.tab-pane {
  padding-bottom: 30px
}

{% endblock %}
{% block custom_js %}
<script src="{% static 'repertorio/js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

{{ form.media }}
<script>

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

$(document).ready(function(){

  $(".risolvi").click( function(event) {
      console.log('risoluzione')
      const desc = $(this).parent().siblings()[0]
      console.log(desc,desc.value)
      const csrftoken = getCookie('csrftoken');
      console.log(csrftoken)
      
      if (desc.value && desc.value != '') {
        $('<form/>', { action: '/hp/chiudi/', method: 'POST' }).append(
            $('<input>', {type: 'hidden', id: 'csrf_token', name: 'csrfmiddlewaretoken', value: csrftoken}),
            $('<input>', {type: 'hidden', id: 'pk', name: 'pk', value: desc.id.replace("_","")}),
            $('<input>', {type: 'hidden', id: 'fix', name: 'fix', value: desc.value}),
        ).appendTo('body').submit();
      } else {
        $(this).parent().parent().addClass('has-error')
      }
      
  });

$(".riapri").click( function(event) {
    console.log('riapertura')
    const csrftoken = getCookie('csrftoken');
    const pk = $(this).attr('id').replace("riapri","")
    
    $('<form/>', { action: '/hp/riapri/', method: 'POST' }).append(
        $('<input>', {type: 'hidden', id: 'csrf_token', name: 'csrfmiddlewaretoken', value: csrftoken}),
        $('<input>', {type: 'hidden', id: 'pk', name: 'pk', value: pk}),
    ).appendTo('body').submit();
    
});

    $("tr").click(function(event) {
      console.log(event.target.parentElement)
        $("#collapse"+event.target.parentElement.id).click()
    }); 

    $(".vaiasegnalazioni").click(function(event) {
      $('#tab3-tab').tab('show')
    }); 

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
      console.log(e.target)
      eid = e.target.id
      console.log(eid)
      document.getElementById(eid.replace("-tab","")).scrollIntoView(false);
    })

});

</script>
{% endblock %}
{% block onload %}{% endblock %}
{% block titolo %}SETTORE URBANISTICA E SERVIZI CATASTALI{% endblock %}
{% block menu %}{% endblock %}
{% block contenuto %}




    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="display-3">{{ intestazione.nome }}</h1>
              <p>{{ intestazione.descrizione }}</p> 
              <p>
              <a class="btn btn-primary btn-sm" target="blank" href="{{ intestazione.link_app }}" role="button">Aiuto &raquo;</a>
              <a class="btn btn-primary btn-sm vaiasegnalazioni"  role="button">Segnala un problema</a>
              </p>
            </div>
            <div class="col-md-8 news hidden">
              <table class="table table-hover">
                <tbody>
                {% for notizia in notizie %}
                  <tr>
                    <td><h4><span class="label label-warning">{{notizia.claim}}</span></h4></td>
                    <td>{{notizia.contenuto}}</td>
                  <tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        {% for applicazione in applicazioni %}
          <div class="col-md-4" style="height:130px" >
            <h3><a href="{{ applicazione.link_app }}">{{ applicazione.nome }}</a></h3>
            <p>{{ applicazione.descrizione }}</p>
          </div>
          
        {% endfor %}
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

{% endblock %}
{% block piedipagina %}
{% if request.user.username %}
<div class="container" id="segnalazioni">
  <div class="row">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item col-sm-2"><a class="nav-link vaiasegnalazioni active" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Segnalazioni Aperte</a></li>
      <li class="nav-item  col-sm-2"><a class="nav-link vaiasegnalazioni" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Segnalazioni Chiuse</a></li>
      <li class="nav-item  col-sm-2"><a class="nav-link vaiasegnalazioni" id="tab3-tab" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Nuova segnalazione</a></li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade active in" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
        <table class="table table-hover">
          <tbody>
              {% for item in segnalazioni_aperte %}
              <tr id="{{item.pk}}" >
                <td class="col-sm-3">{{ item.pk }} {{ item.segnalazione|date:"SHORT_DATETIME_FORMAT" }} {{ item.segnalato_da }}</td>
                <td>{{ item.get_tipo_problema_display }} in {{ item.applicazione }}: {{ item.descrizione }}</td>
                <td><button type="button" class="btn hidden" id="collapse{{item.pk}}" data-toggle="collapse" data-target="#collapseme{{item.pk}}">dettagli</button></td>
              </tr>
              <tr id="collapseme{{item.pk}}" class="collapse out">
                <td></td>
                <td>
                  <div class="card" >
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">segnalazione n. {{ item.pk }}</li>
                      <li class="list-group-item">{{ item.get_tipo_problema_display }} in <a href="{{ item.link }}" target="_blank">{{ item.applicazione }}</a></li>
                      <li class="list-group-item">{{ item.descrizione }}</li>
                      <li class="list-group-item">segnalato da {{ item.segnalato_da }} - {{ item.segnalazione }}</li>
                      <li class="list-group-item">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" id="_{{ item.pk }}" placeholder="Descrivere brevemente la soluzione al problema">
                          <span class="input-group-btn">
                            <button class="btn btn-primary mb-2 risolvi">Segna come risolto</button>
                          </span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
        <table class="table table-hover">
          <tbody>
              {% for item in segnalazioni_chiuse %}
              <tr id="{{item.pk}}" >
                <td class="col-sm-3">{{ item.pk }} {{ item.risoluzione|date:"SHORT_DATETIME_FORMAT" }} {{ item.segnalato_da }}</td>
                <td>{{ item.get_tipo_problema_display }} in {{ item.applicazione }}: {{ item.descrizione }}</td>
                <td><button type="button" class="btn hidden" id="collapse{{item.pk}}" data-toggle="collapse" data-target="#collapseme{{item.pk}}">dettagli</button></td>
              </tr>
              <tr id="collapseme{{item.pk}}" class="collapse out">
                <td></td>
                <td>
                  <div class="card">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">segnalazione n. {{ item.pk }}</li>
                      <li class="list-group-item">{{ item.get_tipo_problema_display }} in <a href="{{ item.link }}" target="_blank">{{ item.applicazione }}</a></li>
                      <li class="list-group-item">{{ item.descrizione }}</li>
                      <li class="list-group-item">segnalato da {{ item.segnalato_da }} - {{ item.segnalazione }}</li>
                      <li class="list-group-item">risolto da {{ item.risolto_da }} - {{ item.risoluzione }}</li>
                      <li class="list-group-item">risoluzione {{ item.fix }}</li>
                      <li class="list-group-item">
                          <button class="btn btn-primary mb-2 riapri" id="riapri{{ item.pk }}">Riapri segnalazione</button>
                      </li>
                    </ul>
                  </div>
                </td>
                <td></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
        <br/>
        {% for field in nuova_segnalazione.visible_fields %}
        <form id="invio" action="/" method="post">
        {% csrf_token %}
        <div id="div_{{ field.html_name }}" 
             class="form-group{% if field.errors %} has-error{% endif %}">
            {{ field.label_tag }}
            {% localize on %}
            {{ field }}
            {% endlocalize %}
            <div class="text-muted pull-right">
                <small>{{ field.help_text }}</small>
            </div>
            <div class="help-block">
                {{ field.errors }}
            </div>
        </div>
        {% endfor %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
            <input type="hidden" id="segnalato_da" name="segnalato_da" value="{{ request.user.username }}">
        {% endfor %}
        <button class="btn btn-primary mb-2 invia" role="submit" id="invia">Invia segnalazione</button>
        <br/>
        </form>
      </div>

    </div>
  </div>
</div>
{% endif %}
{% endblock %}
