{% extends "admin/change_form.html" %}
{% block extrahead %}
    {% load selectable_tags %}
    {% include_ui_theme %}
    {% include_jquery_libs %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.14.1/ol.min.css" />
    <link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" />
    <link rel="stylesheet" href="/static/vincoli/vincoli_finestramappa.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.15.1/ol.js"></script>
    <script type="text/javascript" src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
    <script type="text/javascript" src="https://epsg.io/3003.js"></script>
    <script type="text/javascript" type="text/javascript" src="/static/vincoli/vincoli_finestramappa.js?id=908"></script>
    <script type="text/javascript" type="text/javascript" src="/static/repertorio/mappeDiBase.js"></script>

{% endblock %}