{% extends 'vincoli_base.html' %} 
{% load l10n %} {% load static %} {% load floppyforms %} {% comment %} {% endcomment %} {% block custom_style_link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.css" />
<link rel="stylesheet" href="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.css" /> 
<link rel="stylesheet" href="https://unpkg.com/ol-popup@2.0.0/src/ol-popup.css">
{% endblock %} 
{% block custom_style_inline %}

#map {
    width: 100%;
    height: 800px;
}
 
#marker {
    width: 30px;
    height: 30px;
    border: 1px solid #088;
    border-radius: 15px;
    background-color: #0FF;
    opacity: 0.5;
}

{% endblock %} 
{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ol3/4.6.5/ol.js"></script>
<script src="https://rawgit.com/walkermatt/ol3-layerswitcher/master/src/ol3-layerswitcher.js"></script>
<script src="https://unpkg.com/ol-popup@2.0.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.2.1/proj4.js"></script>
<script src="https://epsg.io/3003.js"></script>

<script type="text/javascript">

    var targetExtent = [1716014, 5023919, 1737137, 5038662];

    var map_glob;
    var polyFeatures, polyOverlay, wms_mibac, mibac, point_mibac;
    var stop_click_propagation = false;
    var format_wkt = new ol.format.WKT()

    var targetProjection = new ol.proj.Projection({
        code: 'EPSG:3003',
        // The extent is used to determine zoom level 0. Recommended values for a
        // projection's validity extent can be found at http://epsg.io/.
        extent: targetExtent,
        units: 'm'
    });
    ol.proj.addProjection(targetProjection);

    var UTM32Extent = [719459.961,5024860.053, 733523.921,5038269.875];
    proj4.defs('EPSG:32632', '+proj=utm +zone=32 +datum=WGS84 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs');
    var UTM32proj = new ol.proj.Projection({
        code: 'EPSG:32632',
        extent: UTM32Extent
    });
    ol.proj.addProjection(UTM32proj);

    var ETRS89Extent = [719459.961,5024860.053, 733523.921,5038269.875];
    proj4.defs('EPSG:25832', '+proj=utm +zone=32 +ellps=GRS80 +towgs84=128.8,17.85,0,0,0,0,0 +units=m +no_defs');
    var ETRS89proj = new ol.proj.Projection({
        code: 'EPSG:25832',
        extent: ETRS89Extent
    });
    ol.proj.addProjection(ETRS89proj);

    var geoJson_convertitore = new ol.format.GeoJSON();

    var WKT_convertitore = new ol.format.WKT();

      /**
       * @param {number} n The max number of characters to keep.
       * @return {string} Truncated string.
       */
      String.prototype.trunc = String.prototype.trunc ||
          function(n) {
            return this.length > n ? this.substr(0, n - 1) + '...' : this.substr(0);
          };


    function init() {

        var maxResolution = 10;

        function getText(feature, resolution) {
            var text;
            if (resolution > maxResolution) {
                text = '';
            } else {
                text = feature.get('id_vincolo').toString()+"\n"+feature.get('denominazione').trunc(30);;
            }
            return text;
        }

        function polygonStyleFunction(feature, resolution) {
            //console.log(feature.get('id_vincolo'));
            var tipocolor,spessore,riempimento,evid;
            switch(feature.get('dettvinc')) {
                case 1: tipocolor = '#ffff00'; evid = '#000000'; break;
                case 2: tipocolor = '#00ff00'; evid = '#ffffff'; break;
                case 3: tipocolor = '#0000ff'; evid = '#ffffff'; break;
                case 4: tipocolor = '#ff00ff'; evid = '#000000'; break;
                case 5: tipocolor = '#00bbff'; evid = '#000000'; break;
            } 
            {% if id_vincolo %}
            if (feature.get('id_vincolo') == {{ id_vincolo }}) {
                spessore = 7;
                riempimento = 'rgba(255, 255, 255, 0.1)'
            } else {
                spessore = 2;
                riempimento = 'rgba(255, 255, 255, 0.3)'
            }
            {% else %}
            spessore = 2;
            riempimento = 'rgba(255, 255, 255, 0.3)'
            {% endif %}
            //console.log(resolution);
            return new ol.style.Style({
                stroke: new ol.style.Stroke({
                    color: tipocolor,
                    width: spessore
                }),
                fill: new ol.style.Fill({
                    color: riempimento
                }),
                text: new ol.style.Text({
                    textAlign: "center",
                    textBaseline: "middle",
                    font: "Bold 12px Arial",
                    text: getText(feature, resolution),
                    fill: new ol.style.Fill({
                        color: tipocolor
                    }),
                    stroke: new ol.style.Stroke({
                        color: evid,
                        width: 3
                    })
                })
            });
        }

        //particelle overlay
        {% if features %}
        var polyObject = {% autoescape off %} {{features | safe}} {% endautoescape %};

        polyFeatures = new ol.Collection(new ol.format.GeoJSON().readFeatures(polyObject, {
            featureProjection: targetProjection
        }));
        {% else %}
        polyFeatures = new ol.Collection();
        {% endif %}

        polyOverlay = new ol.layer.Vector({
            source: new ol.source.Vector({
                features: polyFeatures
            }),
            title: 'Vincoli su beni architettonici e paesaggistici',
            style: polygonStyleFunction
        });

        
        mibac = new ol.layer.Vector({
            title: 'Beni censiti MIBAC (DB interno)',
            visible: false,
            source: new ol.source.Vector({
            url: '/vincoli/mibac_geojson/',
            format: new ol.format.GeoJSON(),
            projection: targetProjection,
            }),
            style: function (feature, resolution) {
                        var col;
                        var prop = feature.get('presenza_vincoli')
                        switch (prop) {
                            case 'Verifica di interesse culturale in corso': col = 'orange'; break;
                            case 'Di interesse culturale non verificato': col = 'yellow'; break;
                            case 'Di non interesse culturale': col = 'green'; break;
                            default: col = 'red'; 
                        }
                        return new ol.style.Style({
                            image: new ol.style.Circle({
                                radius: 8,
                                fill: new ol.style.Fill({color: col}),
                                stroke: new ol.style.Stroke({
                                    color: col, width: 2
                                })
                            }),
                        });
                    }
        })

        console.log(polyOverlay.getSource().getExtent());

        wms_mibac = new ol.layer.Tile({
            extent: targetExtent,
            title: 'Beni censiti MIBAC (Servizio esterno)',
            visible: true,
            source: new ol.source.TileWMS({
              url: 'http://vincoliinrete.beniculturali.it/vir/vir/geoserver/wms?',  //http://2.42.229.8:8080/geoserver/ows?
              serverType: 'geoserver',
              params: {layers: 'topp:v_geo_anagrafica_beni,topp:v_geo_anagrafica_beni_gruppi_pol,topp:v_geo_vincoli_indiretti',format:'image/png'}
            })
          }),

        //wms_mibac.getSource().setTileLoadFunction(customLoader)

        function customLoader(tile, src) {
            var client = new XMLHttpRequest();
            client.onreadystatechange (function() {
                var data = 'data:image/png;base64,' + btoa(unescape(encodeURIComponent(this.responseText)));
                tile.getImage().src = data;
            });
            client.open('GET', src);
            client.setRequestHeader('Origin', 'https://example.com');
            client.send();
        }

        map_glob = new ol.Map({
            layers: [

                {% include 'vincoli_baselayers.html' %}

                wms_mibac,
                polyOverlay,
                mibac
            ],
            controls: ol.control.defaults().extend([
                //new ol.control.ScaleLine(),
                new ol.control.MousePosition(),
                new ol.control.OverviewMap()
            ]),
            target: 'map',
            view: new ol.View({
                projection: targetProjection,
                center: ol.extent.getCenter(targetExtent),
                zoom: 2
            })
        });

        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Legenda' // Optional label for button
        });

        map_glob.getView().on('propertychange', function(e) {
           switch (e.key) {
              case 'resolution':
                console.log('resolution');
                console.log(e.oldValue);
                break;
           }
        });

        var getf_popup = new ol.Overlay.Popup();
        map_glob.addOverlay(getf_popup);


        function getLegendOnclick (e) {
            map_glob.forEachFeatureAtPixel(e.pixel, function (feature, layer) {
                if (layer === mibac) {
                        var html = "<small>Bene Mibac n.</small>";
                        html += "<h2>" + feature.get('id_mibac') + "</h2>";
                        html += "<small>" + feature.get('denominazione') + '<br/>';
                        html += feature.get('presenza_vincoli') + '<br/>';
                        html += '<a class="button" href="/admin/vincoli/mibac/' + feature.get('id_mibac') + '/">Link interno</a><br/>';
                        html += '<a target="_blank" class="button" href="http://vincoliinrete.beniculturali.it/VincoliInRete/vir/bene/dettagliobene' + feature.get('id_mibac') + '">Link esterno</a></small>';
                        getf_popup.show(e.coordinate, html);;
                        stop_click_propagation = true;
                    } else {
                        if (layer === polyOverlay && !stop_click_propagation) {
                            var html = "<small>Vincolo n.</small>";
                            html += "<h2>" + feature.get('id_vincolo') + "</h2>";
                            html += "<small>" + feature.get('denominazione') + '<br/>';
                            html += '<a class="button" href="/admin/vincoli/vincoli/' + feature.get('id_vincolo').toString() + '/">Link interno</a><br/>';
                            html += '<a target="_blank" class="button" href="/vincoli/sv/' + feature.get('id_vincolo') + '">Streetview</a></small>';
                            getf_popup.show(e.coordinate, html);
                            stop_click_propagation = true;
                        } else {
                            stop_click_propagation = false;
                        }
                    }
                });
        }

        map_glob.on("click", function(e) {

                if (wms_mibac.getVisible() && !mibac.getVisible() && !stop_click_propagation){
                    var viewResolution = map_glob.getView().getResolution();
                    var url = wms_mibac.getSource().getGetFeatureInfoUrl(
                        e.coordinate, 
                        viewResolution,
                        'EPSG:3003',
                        {
                            'INFO_FORMAT': 'text/html',
                            'QUERY_LAYERS': [
                                'topp:v_geo_anagrafica_beni',
                                'topp:v_geo_anagrafica_beni_gruppi_pol',
                                'topp:v_geo_vincoli_indiretti'
                            ]
                        }
                    )
                    if (url) {
                        var xhttp;
                        xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                                var content_req = xhttp.responseText;
                                var parser = new DOMParser();
                                var htmlDoc = parser.parseFromString(content_req, 'text/html');
                                var content_body = htmlDoc.getElementsByTagName( 'body' )[0].innerText.replace(/(\r\n|\n|\r)/gm, "").replace(" ","");
                                //var content = content_html.innerHTML
                                //var content = $($.parseHTML(xhttp.responseText)).find("body").text();
                                console.log( content_body )
                                if ( content_body.length > 10 ) {
                                    getf_popup.show(e.coordinate, content_req); 
                                }
                            } else {
                                getLegendOnclick(e);
                            }
                        };
                        //bypass cors policy
                        xhttp.open("GET", url, true); //"https://cors-anywhere.herokuapp.com/" + 
                        xhttp.send();
                    } 
                } else {
                    getLegendOnclick(e);
                }
 
        });

        map_glob.addControl(layerSwitcher);
        {% if extent %}
        {% localize off %}
        extent = [{{ extent.0 }},{{ extent.1 }},{{ extent.2 }},{{ extent.3 }}];
        {% endlocalize %}
        {% else %}
        extent = polyOverlay.getSource().getExtent()
        {% endif %}
        map_glob.getView().fit(extent, map_glob.getSize());



        {% if mibac %}
        map_glob.addOverlay(new ol.Overlay({
            position: map_glob.getView().getCenter(),
            positioning: 'center-center',
            element: document.getElementById('marker'),
            stopEvent: false
        }));
        {% endif %}

    }

</script>
{% comment %}
{% endcomment %} {% endblock %} {% block onload %} onload="init()"{% endblock %} {% block titolo %}Mappa VINCOLI{% endblock %} {% block menu %}

<li>
    <a href="/admin/vincoli/vincoli/">Lista db VINCOLI</a>
</li>

{% endblock %} {% block contenuto %}
{% if mibac %}
<div id="marker" title="Marker"></div>
{% endif %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">

            <div id="map"></div>

        </div>
    </div>
</div>

{% endblock %} {% block piedipagina %}{% endblock %}
